.page-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    & .page-bg-overlay {
        z-index: 0;
        position: absolute;
        height: 300px;
        top: 0;
        min-width: 100%;
        background-color: rgba(8, 11, 111, 0.46);
    }
    & .page-bg-bottom {
        border-left: 2400px solid transparent;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 160px solid #f1f4f5;
        position: absolute;
    }
}
