<div class="complicated">
    <div class="left-side">
        <div countdown-timer date="invitationEndTime">&nbsp;</div>
    </div>
    <div ng-click="launchDota()" class="right-side" tooltip-popup-delay="1000" uib-tooltip="{{ 'Launch Dota2 and start the game' | translate }}">
        {{ 'Enter' | translate }}
    </div>
</div>
