<div class="complicated">
    <div class="left-side">
        <div countdown-timer date="startsAt()">&nbsp;</div>
    </div>
    <div ng-click="leave()" class="right-side" tooltip-popup-delay="1000" uib-tooltip="{{ 'Leave the tournament' | translate }}">
        {{ 'Leave' | translate }}
    </div>
</div>
