<div ng-click="enterLobby()" class="simple">
    <div class="action" tooltip-popup-delay="1000" uib-tooltip="{{ 'View match progress' | translate }}">
        {{ 'View Progress' | translate }}
    </div>
</div>
