<div class="link-header"></div>
<div class="link-content">
    <div class="font-weight-200 link-title">
        {{ 'Send link to invite your teammate:' | translate}}
        <div class="link-url"> {{ vm.getUrl() }} </div>
    </div>
    <div clipboard text="vm.getUrl()" on-copied="vm.successCopyToClipboard()" tooltip-placement='left' uib-tooltip="{{ 'Copy link to clipboard!' | translate}}" class="font-size-25 font-weight-300 text-left link-url-icon">
        <div class="link-icon">
            <i class="icon wb-link-intact"></i>
        </div>
    </div>
</div>
