@import '../../../styles/mixins';
@import '../../../../../remark/src/less/vars-color';

.tournament-won-modal {
    & .modal-content {
        background: url('/images/modals/won.jpg') no-repeat;
    }
    & .modal-header {
        & p, & h3 {
            color: @color-blue-grey-700;
        }
    }
    & .modal-body {
        & p, & h2 {
            color: #1e3751;
        }
    }
}

.tournament-lose-modal {
    & .modal-content {
        background: url('/images/modals/lose.jpg') no-repeat;
    }
    & .modal-header {
        & p, & h3 {
            color: #632531;
        }
    }
    & .modal-body {
        & p, & h2 {
            color: @color-grey-300;
        }
    }
}

.tournament-lose-modal, .tournament-won-modal {
    & .modal-dialog {
        width: 480px;
    }

    & .modal-content {
        background-size: 100%;
        height: 427px;
    }
    & .modal-header {
        text-align: center;
        padding: 50px 20px 20px;

        & p, & h3 {
            margin: 0;
        }
        & p {
            font-size: 24px;
        }
    }
    & .modal-body {
        width: 300px;
        margin: 125px auto 0;
        & p, & h2 {
            margin: 0;
        }
        & p {
            margin: -10px auto 0;
        }
    }
    & button.to-dashboard {
        width: 190px;
        height: 50px;
        background: #36ab7a;
        color: #ffffff;
        margin: 0 auto;
        display: inherit;
    }
}
