@import '../../../styles/mixins';
@import '../../../../../remark/src/less/vars-color';

.admin-account-details {
    background-color: @color-white;
    & .admin-account-info {
        padding-bottom: 250px;
    }
    & .htooltip span {
        width: 200px;
    }

    & .header-content {
        overflow: hidden;
    }

    & .avatar {
        float: left;
        border: 4px solid @color-white;
    }

    .nav-tabs > li {
        & a {
            color: @color-white;
            border: 0;
            border-radius: 0;
            margin-right: 0;
        }

        & a:hover,
        a.active,
        a:active {
            background-color: @color-white !important;
            color: @color-blue-grey-800 !important;
            border: 0;
            border-radius: 0;
            margin-right: 0;
        }
    }

    .nav-tabs > li.active > a {
        background-color: @color-white !important;
        color: @color-blue-grey-800 !important;
        border: 0;
        border-radius: 0;
        margin-right: 0;
    }

    .panel {
        border-radius: 0;
        margin: 0 !important;
    }

    .tab-description {
        border: 0 !important;
    }

    .container {
        width: 100% !important;
        height: 100%;
    }
}
