<div class="page admin-account-details padding-0">
    <div class="page-bg padding-0" page-bg page="'account'"></div>

    <div class="page-header padding-0">
        <div class="header-content padding-30">
            <h1 class="font-size-40 account-name margin-left-30 page-title color-grey-800" translate>
                Account Details
            </h1>
        </div>
    </div>

    <div class="page-content container-fluid padding-0">
        <div class="nav-tabs-horizontal" data-plugin="nav-tabs">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': (vm.viewMode === 'admin.account.info')}">
                    <a data-toggle="tab" ui-sref="admin.account.info"
                        role="tab" class="text-uppercase tab-description"
                        translate>
                        Account Info
                    </a>
                </li>

                <li ng-class="{'active': (vm.viewMode === 'admin.account.look')}">
                    <a data-toggle="tab" ui-sref="admin.account.look"
                      role="tab" class="text-uppercase tab-description"
                      translate>
                      Look and Design
                    </a>
                </li>
            </ul>
        </div>

        <div class="container padding-0 margin-0">
            <div ui-view>
            </div>
        </div>
    </div>
</div>
