@import '../../../../styles/mixins';
@import '../../../../../../remark/src/less/vars-color';

.admin-tournament-list {
    & .page-header {
        padding: 40px 30px;
    }
    & .page-content {
        & .edit-icon, & .delete-icon {
            color: @color-blue-grey-400;
        }
        & .edit-icon:hover {
            cursor: pointer;
            color: @color-blue-grey-800;
        }
        & .delete-icon:hover {
            cursor: pointer;
            color: @color-red-500;
        }

    }
}
