<div class="page -bg-white admin-tournament-list">

    <div class="page-header -height-40 margin-bottom-40">
        <h1 translate>Tournaments</h1>

        <div class="page-header-actions">
            <div class="btn-group" aria-label="Default button group" role="group">

                <button ng-class="{'active': !vm.isCooldownMode}" ng-click="vm.isCooldownMode = false" type="button" class="btn btn-outline btn-primary padding-horizontal-30">

                    <i ng-if="!vm.isCooldownMode" class="icon wb-check"></i>
                    <translate>Timed</translate>
                </button>

                <button ng-class="{'active': vm.isCooldownMode}" ng-click="vm.isCooldownMode = true" type="button" class="btn btn-outline btn-primary padding-horizontal-30">

                    <i ng-if="vm.isCooldownMode" class="icon wb-check"></i>
                    <translate>Instant</translate>
                </button>
            </div>
            <div class="btn-group margin-left-20" aria-label="Default button group" role="group">

                <button ng-class="{'active': !vm.isSoloMode}" ng-click="vm.isSoloMode = false" type="button" class="btn btn-outline btn-primary padding-horizontal-30">

                    <i ng-if="!vm.isSoloMode" class="icon wb-check"></i>
                    <translate>Team</translate>
                </button>

                <button ng-class="{'active': vm.isSoloMode}" ng-click="vm.isSoloMode = true" type="button" class="btn btn-outline btn-primary padding-horizontal-30">

                    <i ng-if="vm.isSoloMode" class="icon wb-check"></i>
                    <translate>Solo</translate>
                </button>
            </div>
        </div>
    </div>


    <div class="page-content container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 transaction-header text-uppercase text-center">
                <div class="col-xs-3 text-left">
                    <p translate>Name</p>
                </div>
                <div class="col-xs-1">
                    <p translate>Time</p>
                </div>
                <div class="col-xs-2">
                    <p translate>Participants</p>
                </div>
                <div class="col-xs-1">
                    <p translate>Type</p>
                </div>
                <div class="col-xs-2">
                    <p translate>State</p>
                </div>
                <div class="col-xs-1">
                    <p translate>Actions</p>
                </div>
            </div>
            <div ng-repeat="tournaments in vm.tournaments" class="col-xs-12 padding-0 transactions">

                <div class="col-xs-12 transaction-header padding-left-30 padding-vertical-25 text-left font-size-16 text-uppercase font-weight-700">
                    {{tournaments[0].created_at}}
                </div>
                <div ng-repeat="tournament in tournaments |
                    filter:{is_solo: vm.isSoloMode, is_cooldown: vm.isCooldownMode}" class="col-xs-12 padding-vertical-15 text-center transaction-elem">
                    <div class="col-xs-3 text-left text-nowrap font-weight-500 vertical-align-middle">
                        {{tournament.name}}
                    </div>
                    <div class="col-xs-1 vertical-align-middle font-weight-700">
                        <span ng-if="tournament.isCooldown()" translate>
                              Instant
                        </span>
                        <span ng-if="!tournament.isCooldown()">
                              {{tournament.calendarStartsAt}}
                        </span>
                    </div>
                    <div class="col-xs-2 vertical-align-middle font-weight-700">
                        {{tournament.participants().current}}/{{tournament.participants().total}}
                    </div>

                    <div class="col-xs-1 vertical-align-middle font-weight-700">
                        <span ng-if="tournament.isSolo()">Solo</span>
                        <span ng-if="!tournament.isSolo()">Team</span>
                    </div>
                    <div class="col-xs-2 text-truncate vertical-align-middle font-weight-700">
                        <span ng-if="tournament.isNew()" translate>New</span>
                        <span ng-if="tournament.isReady()" translate>Ready</span>
                        <span ng-if="tournament.isPreConditions()" translate>Preparing</span>
                        <span ng-if="tournament.isInvitationPeriod()" translate>Invitation Period</span>
                        <span ng-if="tournament.isRunning()" translate>Invitation Period</span>
                        <span ng-if="tournament.isPassed()" translate>Passed</span>
                    </div>
                    <div class="col-xs-1 text-truncate vertical-align-middle">
                        <span ng-click="vm.goToEditTournament(tournament.id)" class="edit-icon font-size-18">
                              <i class="fa fa-pencil-square-o"></i>
                          </span>
                        <span class="delete-icon font-size-18">
                              <i class="fa fa-trash-o"></i>
                          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
