<nav ng-controller="HeaderController as vm" ng-include="'app/layout/header/header.html'" class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega"
  role="navigation"></nav>

<div class="site-menubar">
    <sidebar></sidebar>
</div>

<ui-view loader></ui-view>

<!-- Footer -->
<footer class="site-footer" style="line-height: 0.5;">
    <div class="row font-size-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p translate>
                Dota2TM is a registered trademark of Valve Inc ®
            </p>
            <p translate>
                This website is not affiliated with Steam or Valve ®
            </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="margin-right-70">

                <p class="text-right">
                    Powered by <a target="_blank" href="http://www.esportsfield.com/">Esportsfield</a>
                </p>
                <p class="text-right">
                    © 2016 <a target="_blank" href="http://winranger.com">WinRanger</a>
                </p>
            </div>

        </div>
    </div>

</footer>
