.preloader-wrapp {
    background-image: url('../images/hny-bg-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    .loader-brand-logo {
        margin-top: 300px;
        height: 46px;
    }

    .loader-grill {
        background-color: @color-grey-100;
    }

    .loader.loader-grill:after,
    .loader.loader-grill:before {
        background: @color-grey-100;
    }
}
