<div class="page page-error page-error-404 vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out"
  style="animation-duration: 800ms; opacity: 1;">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top">404</h1>
            <p>Page Not Found !</p>
        </header>
        <p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
        <a class="btn btn-primary btn-round" ui-sref="root.dashboard">GO TO HOME PAGE</a>

        <footer class="page-copyright">
            <p>WEBSITE BY amazingSurge</p>
            <p>© 2015. All RIGHT RESERVED.</p>
            <div class="social">
                <a href="javascript:void(0)">
                    <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)">
                    <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)">
                    <i class="icon bd-dribbble" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
    </div>
</div>
