<div class="page tournament-details">
    <div class="page-header -margin-bottom-30">
        <div ng-switch="vm.tournament.meta.video.type" class="video-player">

            <div ng-switch-when="youtube" video-id="{{vm.tournament.meta.video.id}}" youtube-directive>

            </div>

            <div ng-switch-when="twitch" is-stream="{{vm.tournament.meta.video.is_stream}}" video-id="{{vm.tournament.meta.video.id}}"
              twitch-directive>

            </div>

            <div ng-switch-default class="cover" tournament-large-img url="vm.tournament.image.large">
            </div>
        </div>

        <div class="row hideble">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 tournament-title">
                <h1 class="page-title">{{::vm.tournament.name}}</h1>
                <h3 class="page-title-definition">
            {{tournament.starts_at ? vm.tournament.calendarStartsAt() : ''}}
          </h3>
            </div>

            <div ng-if="vm.tournament.isNew()" join-button-directive tournament="vm.tournament" class="col-md-3 col-lg-3 col-sm-3 col-xs-3 padding-0 pull-right text-right join-button"></div>
        </div>

    </div>



    <div class="page-content">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                <li role="presentation" ng-if="vm.currentMatch" ng-class="{'active': vm.viewMode === 'currentMatch'}">
                    <a data-toggle="tab" href="#" role="tab" translate ng-click="vm.switchTo('currentMatch')">

                        current match
                    </a>
                </li>
                <li ng-if="vm.rounds.length > 1 && vm.tournament.isStarted()" role="presentation" ng-class="{'active': vm.viewMode === 'brackets'}">
                    <a data-toggle="tab" href="#" role="tab" translate ng-click="vm.switchTo('brackets')">

                        brackets
                    </a>
                </li>
                <li role="presentation" ng-class="{'active': vm.viewMode === 'generalInfo'}">
                    <a data-toggle="tab" href="#" role="tab" translate ng-click="vm.switchTo('generalInfo')">

                        general info
                    </a>
                </li>
                <li role="presentation" ng-class="{'active': vm.viewMode === 'participants'}">
                    <a data-toggle="tab" href="#" role="tab" translate ng-click="vm.switchTo('participants')">

                        participants
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" ng-switch on="vm.viewMode">
                <div ng-switch-when="currentMatch" class="tournament-body">
                    <div ng-include="'app/tournaments/details/view-modes/current-match/current-match.html'"></div>
                </div>
                <div ng-switch-when="brackets" class="tournament-body margin-left-20">
                    <div ng-include="'app/tournaments/details/view-modes/brackets/brackets.html'"></div>
                </div>
                <div ng-switch-when="generalInfo" class="tournament-body">
                    <div ng-include="'app/tournaments/details/view-modes/general-info/general-info.html'"></div>
                </div>
                <div ng-switch-when="participants" class="tournament-body">
                    <div ng-include="'app/tournaments/details/view-modes/participants/participants.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
