<div class="row" ng-controller="AccountSettingsController as vm">
    <div class="col-sm-3 text-center">
        <div class="avatar avatar-100 margin-bottom-20">
            <img ng-src="{{vm.account.steam_avatar_url}}" alt="">
        </div>
    </div>
    <div class="col-sm-9">
        <!-- Basic Form -->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Steam id: </label>
                <div class="col-sm-9">
                    {{vm.account.steam_id}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name: </label>
                <div class="col-sm-9">
                    {{vm.account.steam_personal_name}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Country: </label>
                <div class="col-sm-9">
                    {{vm.account.steam_country_code}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Skype: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           ng-model="vm.account.skype"
                           name="name" placeholder="{{vm.account.skype}}" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email Address: </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control"
                           ng-model="vm.accountData.email"
                           name="email" placeholder="{{vm.account.email}}" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Phone: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           ng-model="vm.accountData.phone"
                           name="paymentWallet" placeholder="{{vm.account.phone}}" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Payment Wallet: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           ng-model="vm.accountData.payment_wallet"
                           name="paymentWallet" placeholder="{{vm.account.payment_wallet}}" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit()">Update</button>
                </div>
            </div>
        </form>
        <!-- End Basic Form -->
    </div>

</div>
