<div ng-controller="TournamentListController as vm" class="panel panel-transparent">
    <div class="permission col-md-12 padding-10 padding-left-0 switch">
        <div class="margin-0 margin-bottom-20">
            <input type="checkbox" class="js-switch" ng-change="vm.filterIsNew()" ng-model="vm.isNewTournaments" switcher-directive>
            <label class="font-size-14 margin-left-10 margin-0 white" translate>
                  Hide running tournaments
          </label>
        </div>
    </div>
    <div class="row tournaments-panel">
        <div class="premium-cards clearfix">
            <tournament-card tournament="tournament" account="vm.account" class="tournament-card" ng-repeat="tournament in vm.tournaments | filter:{is_premium: true}"></tournament-card>
        </div>
        <div class="tournaments-cards clearfix">
            <tournament-card tournament="tournament" account="vm.account" class="tournament-card" ng-repeat="tournament in vm.tournaments | filter:{is_solo: vm.account.is_solo}"></tournament-card>
        </div>
    </div>
</div>
