<div class="tournament-brackets clearfix" ng-style="{'width':vm.bracketsGridWidth}">
    <div ng-repeat="round in vm.rounds"
        class="round margin-horizonal-10 margin-vertical-30">

        <div class="round-header">
            <h3 class="margin-bottom-0">
                {{round.details.title}}
            </h3>
        </div>

        <div ng-class="{'shift': $index !== 0}">
            <div ng-repeat="game in round">
                <div round-cell game="game"></div>
            </div>
        </div>
    </div>
</div>
