@game-box-height: 104px;
@game-box-width: 230px;

.tournament-brackets {
    & .shift {
        margin-top: ~"calc(@{game-box-height} / 2)";
    }
    // & .align-right-border {
    //     padding-bottom: @game-box-height / 2;
    // }
    & .round {
        width: @game-box-width;
        padding: 0 15px;
        text-align: left;
        float: left;
        & .round-header {
            // border-bottom: 1px solid @color-grey-400;
            text-align: left;
        }
    }
    & .hide-right-separator {
        border-right: none !important;
        margin-right: 0 !important;
    }
    & .empty-box {
        width: @game-box-width;
        height: @game-box-height;
    }
    & .game-box-wrapper {
        width: 100%;
        height: @game-box-height;
        padding: 15px 0;
        position: relative;
        & .wire-line {
            position: absolute;
            width: 135px;
            height: 100px;
            border-top: 1px solid red;
            top: 50px;
            left: 200px;
        }
        & .wire-column {
            position: absolute;
            width: 1px;
            border-right: 1px solid red;
            height: 103px;
            bottom: -14px;
            left: 102px;
        }
    }
    & .game-box {
        .transform(skew(-8deg));
        height: 100%;
        width: 100%;
        cursor: pointer;
        & .bad-team,
        & .good-team {
            padding: 8px;
            position: relative;
            &.active {
                border-left: 4px solid @color-indigo-600;
            }
            &.unknown {
                border-left: 4px solid grey;
            }
            .logo {
                float: left;
            }
            .unknown-logo {
                width: 22px;
                height: 22px;
                .border-radius(11px);
                background-color: @color-grey-500;
                color: @color-grey-100;
                float: left;
                .transform(skew(8deg));
            }
            .team-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
                &.unknown {
                    color: @color-grey-500;
                }
            }
            & img {
                width: 20px;
                .transform(skew(8deg));
            }
            .team-score {
                position: absolute;
                height: 100%;
                width: 35px;
                right: 0;
                padding: 8px;
                top: 0;
                text-align: center;
                color: @color-grey-100;
            }
        }
        & .good-team {
            background-color: @color-grey-300;
            & .team-score {
                background-color: @color-grey-400;
            }
        }
        & .bad-team {
            background-color: @color-grey-200;
            & .team-score {
                background-color: @color-grey-300;
            }
        }
    }
}
