<div class="navbar-header">
    <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <a href="/">
        <div ng-if="vm.getEnvironment() !== 'staging'" class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <!-- <img class="navbar-brand-logo" src="images/logo-small.png"> -->
            <span class="navbar-brand-text font-weight-100">
            <img class="navbar-logo-title" src="images/hnylogo.png" alt="Play Win Earn" />
        </span>
        </div>
        <div ng-if="vm.getEnvironment() === 'staging'" class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="images/esf_logo.png">
        </div>
    </a>
    <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search" data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon wb-search" aria-hidden="true"></i>
    </button>
</div>
<div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
            <!-- TODO uncomment when need to full menubar -->
            <li class="hidden-float hidden-lg" id="toggleMenubar">
                <a data-toggle="menubar" href="javascript:void(0);" role="button">
                    <i class="icon hamburger hamburger-arrow-left">
                        <span class="sr-only">Toggle menubar</span>
                        <span class="hamburger-bar"></span>
                    </i>
                </a>
            </li>
            <!-- <li class="hidden-xs" id="toggleFullscreen">
                <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                    <span class="sr-only">Toggle fullscreen</span>
                </a>
            </li> -->
            <!-- TODO uncomment when search is added -->
            <!-- <li class="hidden-float">
                <a class="icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                   role="button">
                    <span class="sr-only">Toggle Search</span>
                </a>
            </li> -->
        </ul>
        <ul class="icons height-50 padding-0 margin-0">
            <li class="social-icon padding-horizontal-10 pull-left padding-vertical-20">
                <a href="http://steamcommunity.com/groups/winranger_com" target="_blank" tooltip-placement='bottom' uib-tooltip="{{'Follow steam group' | translate}}"><i class="font-size-26 fa fa-steam-square"></i>
                </a>
            </li>
            <li class="social-icon padding-horizontal-10 pull-left padding-vertical-20">
                <a href="https://www.twitch.tv/winranger_com" target="_blank" tooltip-placement='bottom' uib-tooltip="{{'Watch us on twitch' | translate}}">
                    <i class="font-size-26 fa fa-twitch"></i>
                </a>
            </li>
            <li class="social-icon padding-horizontal-10 pull-left padding-vertical-20">
                <a href="https://vk.com/winranger" target="_blank" tooltip-placement='bottom' uib-tooltip="{{'Join VK group' | translate}}">
                    <i class="font-size-26 fa fa-vk"></i>
                </a>
            </li>
            <li class="social-icon padding-horizontal-10 pull-left padding-vertical-20">
                <a href="https://twitter.com/winranger_com" target="_blank" tooltip-placement='bottom' uib-tooltip="{{'Read twitter' | translate}}">
                    <i class="font-size-26 fa fa-twitter-square"></i>
                </a>
            </li>
            <li class="social-icon padding-horizontal-10 pull-left padding-vertical-20">
                <a href="https://www.facebook.com/Winrangercom/" target="_blank" tooltip-placement='bottom' uib-tooltip="{{'Follow facebook' | translate}}">
                    <i class="font-size-26 fa fa-facebook-square"></i>
                </a>
            </li>
        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
            <li class="version"> beta </li>
            <li ng-if="vm.getEnvironment() !== 'production'" class="rev-number yellow-400">version: {{vm.buildVersion}}</li>
            <li ng-if="vm.team" class="navbar-team-name" tooltip-popup-delay='1000' uib-tooltip="{{'Править состав команды и информацию' | translate}}" tooltip-placement="bottom">
                <a ng-click="vm.showAccountTeamModal()" href="javascript:void(0);" class="animsition-link">
                    <i class="icons8-group margin-right-5"></i> {{ 'My team' | translate }}
                </a>
            </li>
            <li ng-class="{'mark-wallet': vm.isAnimate}" class="navbar-wallet-wrc text-center" tooltip-popup-delay='1000' uib-tooltip="{{'Check the wallet’s state and track the history of transactions' | translate}}" tooltip-placement="bottom">
                <a ui-sref="root.account.wallet" href="javascript:void(0);" class="animsition-link font-weight-800 wrc-icon">
                    {{ vm.balanceWRC }}
                </a>
            </li>
            <li ng-class="{'mark-wallet': vm.isAnimate}" class="navbar-wallet-usd text-center" tooltip-popup-delay='1000' uib-tooltip="{{'Check the wallet’s state and track the history of transactions' | translate}}" tooltip-placement="bottom">
                <a ui-sref="root.account.wallet" href="javascript:void(0);" class="animsition-link font-weight-800">
                    {{vm.balanceUSD | currency:' $ '}}
                </a>
            </li>
            <!-- <li class="dropdown" ng-controller="NotificationsController as vm" ng-include="'app/layout/header/notifications/notifications.html'">
            </li> -->
        </ul>
        <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->
    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
            <div class="form-group">
                <div class="input-search">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="site-search" placeholder="Search...">
                    <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
                </div>
            </div>
        </form>
    </div>
    <!-- End Site Navbar Seach -->
</div>
