@import '../../../styles/mixins';
@import '../../../../../remark/src/less/vars-color';

.navbar-toolbar {
    li.mode-switcher {
        a {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    li.version {
        text-align: center;
        font-size: 14px;
        padding: 22px;
        position: absolute;
        left: -96px;
        top: 1px;
        text-transform: uppercase;
    }
    li.navbar-team-name {
        i {
            font-size: 22px;
            vertical-align: middle;
        }
    }
    .animsition-link {
        position: relative;
        transition: 0.2s;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.icons {
    display: inline-block;
    list-style-type: none;

    i {
        color: @color-blue-grey-400;
    }

    & i:hover {
        color: @color-blue-grey-100;
    }
}

.navbar-wallet-usd,
.navbar-wallet-wrc {
    min-height: 67px;
}

.mark-wallet {
    .mark-wallet-animation();
}

[class^="navbar-wallet"] {
    & .triangle-bottomright {
        transition: 0.2s;
        position: relative;
        left: -2px;
        top: 2px;
    }

    &:hover .triangle-bottomright {
        left: -15px;
    }
}

.navbar-wallet-wrc {
    background-color: @color-indigo;

    & .triangle-bottomright {
        background-color: @color-dark-indigo;
        border-bottom: 65px solid @color-indigo;
        border-left: 25px solid transparent;
    }
}

.navbar-wallet-usd {
    background-color: @color-navy;

    & .triangle-bottomright {
        background-color: @color-indigo;
        border-bottom: 65px solid @color-navy;
        border-left: 25px solid transparent;
    }
}

.rev-number {
    padding: 22px;
}
