@import '../../../../remark/src/less/vars-color';


.btn-deposit {
    .set-button-colors(@color-green-800, @color-green-700);
}

[ui-view] > div {
    animation-name: fadeIn;
    animation-duration: 0.35s;
}
.btn-primary {
    overflow: hidden;

    &:hover:after{
        right: -10px;
    }
}


.btn-custom {
    overflow: hidden;
    position: relative;
    background: @color-green-mod-card-main;

    & > :nth-child(1) {
        padding-right: 20px;
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s;
    }

    & > :nth-child(2) {
        position: absolute;;
        display: inline-block;
        vertical-align: middle;
        font-size: 22px;
        right: 9px;
        top: 7px;
        z-index: 3;
        transition: 0.2s;
        &:before {
            color: @color-green-mod;
        }
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }

    &:before {
        transition: 0.2s;
        content: '';
        display: block;
        position: absolute;
        width: 28%;
        height: 160%;
        background: @color-green-mod-card-footer;
        z-index: 1;
        right: -22px;
        top: -15px;
        margin: -5px 0 0 -5px;
        transform-origin: 0 0;
        transform: rotate(20deg);
    }

    &:hover {
        background: @color-green-mod-card-main;

        &:before{
            width: 34%;
            background: @color-green-mod-card-footer-hover;
        }

        & > :nth-child(2) {
            transform: scale(1.25);
        }
    }
    &.btn-withdraw {
        &:hover {
            background: @color-white;
            &:before {
                right: 33px;
            }
        }

        &:before {
            width: 1px;
            background: @color-green-mod-card-footer;
            right: 26px;
        }
    }
}


.wallet {

    & .page-title {
        color: @color-white;
    }
}

.money-pack {
    .border-radius(3px 3px 0 0);
    position: relative;
    border: 1px solid @color-blue-grey-100;

    & .ribbon-corner-custom {
        top: -1px;
        left: -1px;

        & .ribbon-inner {
            top: -24px;
            height: 44px;
            padding-right: 66px;
            padding-left: 13px;
            padding-top: 12px;
        }
    }

    & .pack-icon img {
        width: 85px;
    }

    & .pack-cost {
        margin-top: -6px;
    }
}

button.buy-pack-1,
button.buy-pack-2,
button.buy-pack-3 {
    .border-radius(0 0 3px 3px);
    width: 100%;
    height: 50px;
}

.money-pack.color-scheme-1 {
    .set-pack-colors(@color-blue-grey-600);
}

.buy-pack-1 {
    .set-button-colors (@color-blue-grey-600, @color-blue-grey-500);
}

.money-pack.color-scheme-2 {
    .set-pack-colors(@color-indigo-700);
}

.buy-pack-2 {
    .set-button-colors (@color-indigo-700, @color-indigo-600);
}

.money-pack.color-scheme-3 {
    .set-pack-colors(@color-purple-800);
}

.buy-pack-3 {
    .set-button-colors (@color-purple-800, @color-purple-700);
}

.set-pack-colors (@color:@color-blue-grey-600) {
    & .pack-amount {
        color: @color;
    }

    & .ribbon-inner {
        background-color: @color;
    }
}

.set-button-colors (@color:@color-blue-grey-600, @hover-color: @color-blue-grey-500) {
    background-color: @color;
    border-color: @color;

    &:active {
        background-color: @color !important;
        border-color: @color !important;
    }

    &:focus,
    &:hover {
        background-color: @hover-color;
        border-color: @hover-color;
    }
}

.deposit-modal,
.withdraw-modal {
    & .select-currency-btn {
        width: 100px;

        &.active,
        &:hover {
            border: 1px solid grey;
        }
    }

    & .back-button {
        position: absolute;
        z-index: 9999;
    }

    & .money-services {
        & .service {
            height: 200px;

            &:hover {
                border: 1px solid grey;
            }
        }

        & .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        & img {
            width: 80px;
            vertical-align: middle;
        }
    }
}

.currencies-content {
    & .money-balance {
        border: 1px solid @color-blue-grey-300;
        color: @color-green-mod-card-main;

        // & .btn-deposit {
        //     .set-button-colors(@color-green-800, @color-green-700);
        // }

        & .btn-withdraw {
            border: 1px solid @color-green-mod-card-main;
            color: @color-green-800;
            background-color: @color-white;
        }
    }

    & .coins-balance {
        border: 1px solid @color-blue-grey-300;
        color: @color-gold-800;

        & .btn-coins {
            .set-button-colors(@color-gold-800, @color-gold-700);
        }
    }
}

.grey-arrow {
    color: @color-grey-400;
}

.green-arrow {
    color: @color-green-800;
}

.coins-tr {
    color: @color-gold-800;
}

.usd-tr {
    color: @color-green-800;
}

.transactions > div:nth-child(2n+0) {
    background-color: @color-grey-200;
}

.transaction-header {
    border-bottom: 1px solid @color-blue-grey-300;
}

.transaction-elem {
    border-bottom: 1px solid @color-blue-grey-300;
    border-right: 1px solid @color-blue-grey-300;
    border-left: 1px solid @color-blue-grey-300;
}

.gold-bars,
.money-bag {
    width: 100px;
    float: left;
    margin-left: 15px;
}
