<div class="wallet margin-0 padding-0">
    <div class="page-content container-fluid padding-0 ">
        <div class="row ">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body padding-0">
                        <div class="row padding-30">
                            <div class="col-md-12 col-lg-6 col-md-5">
                                <div class="currencies-content col-md-12">
                                    <div class="margin-10">
                                        <h1 class="currencies-title">
                                            <span translate>Currencies</span>
                                        </h1>
                                    </div>
                                    <div class="col-md-12 money-balance padding-30 margin-top-30">
                                        <div class="row">
                                            <div class="money-bag text-center padding-top-0">
                                                <i class="icons8-money-bag font-size-70"></i>
                                            </div>
                                            <div class="padding-left-0 padding-top-5">
                                                <div class="margin-top-15">
                                                    <div class="font-size-24 font-weight-700">
                                                        {{vm.balanceUSD| currency:''}}
                                                    </div>
                                                </div>
                                                <div class="counter-label blue-grey-400" translate>US DOLLARS
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-20">
                                            <div class="col-xs-6 margin-bottom-15">
                                                <button ng-click="vm.showBuyModal()" class="btn btn-primary btn-block btn-deposit height-50 font-size-12 font-weight-700 btn-custom"
                                                  tooltip-popup-delay='1000' uib-tooltip="{{'Deposit the WR balance to participate the premium tournaments' | translate}}"
                                                  tooltip-placement="bottom">
                                              <translate>DEPOSIT</translate>
                                              <i class="icons8-bank-card"></i>
                                            </button>
                                            </div>
                                            <div class="col-xs-6 margin-bottom-15">
                                                <button ng-click="vm.showWithdrawModal()" ng-disabled="!vm.isCanWithdraw" class="btn btn-primary btn-outline btn-block btn-withdraw height-50 font-size-12 btn-custom"
                                                  tooltip-popup-delay='1000' uib-tooltip="{{'Withdraw the money from your WR balance' | translate}}"
                                                  tooltip-placement="bottom">
                                              <translate>WITHDRAW</translate>
                                              <i class="icons8-banknotes"></i>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 coins-balance margin-top-30 padding-30">
                                        <div class="row">
                                            <div class="gold-bars text-center padding-top-5">
                                                <i class="icons8-gold-bars font-size-70"></i>
                                            </div>
                                            <div class="padding-left-0">
                                                <div class="margin-top-25">
                                                    <div class="font-size-24 font-weight-700">
                                                        {{vm.balanceWRC| currency:''}}
                                                    </div>
                                                </div>
                                                <div class="counter-label blue-grey-400" translate>WR COINS
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-20">
                                            <div class="col-xs-6 margin-bottom-15">
                                                <button ng-click="vm.showBuyModal()" class="btn btn-primary btn-block btn-coins height-50 font-size-12 font-weight-700 hide">
                                                    <translate>BUY WR COINS</translate>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-md-7">
                                <div class="row font-size-12">
                                    <div class="col-md-12 margin-10 padding-left-30">
                                        <h1 class="currencies-title">
                                              <span class="padding-top-15" translate>Transactions</span>
                                        </h1>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 padding-top-20">
                                        <div class="col-md-12 col-sm-12 col-xs-12 transaction-header text-uppercase">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <p translate>Time</p>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <p translate>Type</p>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <p translate>Cur</p>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <p translate>Amount</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p translate>Description</p>
                                            </div>
                                        </div>
                                        <div ng-repeat="transactions in vm.transactions" class="col-md-12 padding-0 transactions">
                                            <div class="col-md-12 col-sm-12 col-xs-12 transaction-header padding-left-30 padding-vertical-25 text-left font-size-16 text-uppercase font-weight-700">
                                                {{transactions[0].getCalendarDate()}}
                                            </div>
                                            <div ng-repeat="transaction in transactions" class="col-md-12 col-sm-12 col-xs-12 padding-vertical-15 transaction-elem">
                                                <div class="col-md-2  col-sm-2 col-xs-2 text-left text-nowrap vertical-align-middle">
                                                    {{transaction.getTime()}}
                                                </div>
                                                <div class="col-md-1  col-sm-1 col-xs-1 vertical-align-middle">
                                                    <i ng-if="transaction.isIn()" class="green-arrow fa fa-arrow-right" aria-hidden="true"></i>
                                                    <i ng-if="transaction.isOut()" class="grey-arrow fa fa-arrow-left" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-1 col-sm-1 col-xs-1 vertical-align-middle">
                                                    <span ng-if="transaction.isWRC()" class="coins-tr">
                                                            {{transaction.currency.code}}
                                                        </span>
                                                    <span ng-if="transaction.isUSD()" class="usd-tr">
                                                            {{transaction.currency.code}}
                                                        </span>
                                                </div>

                                                <div class="col-md-2  col-sm-2 col-xs-2 vertical-align-middle font-weight-700">
                                                    {{transaction.amount| currency:''}}
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-truncate vertical-align-middle">
                                                    {{transaction.comment}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-bottom-15"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
