<div class="panel your-team-panel" ng-controller="DashboardTeamController as vm">
    <div ng-if="vm.team">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{vm.team.name}} <small> (your team) </small>

                <div class="panel-actions">
                    <a class="panel-action icon wb-settings" ng-href="javascript:void(0);"
                       ng-click="vm.showAccountTeamModal()"></a>
                </div>

            </h3>
        </div>
        <div class="panel-body height-200">
            <div class="row">
                <div class="team-info col-xs-4 text-center height-100">
                    <div class="avatar logo margin-bottom-20">
                        <img ng-src="{{vm.team.logo_url}}" alt="">
                    </div>
                </div>
                <div class="team-members row col-xs-8">

                    <!-- captain -->
                    <div class="col-xs-3 col-md-4 text-center margin-bottom-10">
                        <div class="avatar avatar-online avatar-lg margin-bottom-10">
                            <img ng-src="{{vm.captain.steam_avatar_url}}" alt="{{vm.captain.steam_personal_name}}">
                            <i></i>
                        </div>
                        <div class="text-truncate font-size-12">
                            {{vm.captain.steam_personal_name}}
                        </div>
                    </div>
                    <!-- / captain -->

                    <!-- players -->
                    <div class="col-xs-3 col-md-4 text-center margin-bottom-10" ng-repeat="m in vm.team.members | filter: vm.playersFilter()">
                        <div class="avatar -avatar-online avatar-lg margin-bottom-10">
                            <img ng-src="{{m.steam_avatar_url}}" alt="{{m.steam_personal_name}}">
                            <!--
                            <i></i>
                            -->
                        </div>
                        <div class="text-truncate font-size-12">{{m.steam_personal_name}}</div>
                    </div>
                    <!-- / players -->

                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-10"></div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.team">
        <div class="panel-heading">
            <h3 class="panel-title">
                No Team <small> (press create button) </small>
            </h3>
        </div>
        <div class="panel-body height-200">
            <div class="text-center padding-70">
                <a ui-sref="root.onboarding.register-team" class="btn btn-primary ">Create Your Team</a>
            </div>
        </div>
    </div>
</div>
