<div class="page dashboard animated-cards">
    <div class="page-bg" page="'dashboard'"></div>
    <div class="page-header -height-40 -margin-bottom-30 padding-bottom-20">
        <h1 class="page-title font-size-30 font-weight-800 "> {{ 'Tournaments' | translate }}</h1>
        <div class="page-header-actions">
            <div ng-show="(vm.isReady && vm.team)" class="btn-group" aria-label="Default button group" role="group">
                <button ng-class="{'active':(!vm.account.is_solo)}" ng-click="vm.setTeamMode()" type="button" class="btn btn-outline btn-primary padding-horizontal-30">
                    <i ng-if="!vm.account.is_solo" class="icon wb-check"></i>
                    {{ 'Team' | translate }}
                </button>
                <button ng-class="{'active':(vm.account.is_solo)}" ng-click="vm.setSoloMode()" type="button" class="btn btn-outline btn-primary padding-horizontal-30">
                    <i ng-if="vm.account.is_solo" class="icon wb-check"></i>
                    {{ 'Solo' | translate }}
                </button>
            </div>
            <button ng-show="(vm.isReady && !vm.team)" ng-click="vm.createTeam()" type="button" class="btn btn-primary padding-horizontal-30">
                <i class="icon wb-users"></i>
                {{ 'Create Team' | translate }}
            </button>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12" ng-include="'app/dashboard/tournaments/panel.html'"></div>
        </div>
    </div>
</div>
