@import '../../styles/mixins';
@import '../../../../remark/src/less/vars-color';

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboard {
    animation-name: fadeIn;
    animation-duration: 0.1s;
    & .animated-cards {
        position: relative;
        animation-name: fadeCard;
        animation-duration: .65s;
    }

    & .page-header {
        padding: 40px 30px;

        & .page-title {
            color: @color-white;
            span {
                font-weight: 500;
            }
        }

        & button {
            background: transparent;
            border: 2px solid @color-white;
            color: @color-white;

            &.active, &:hover {
                color: @color-indigo-600;
                background: @color-white;
                border: 2px solid @color-white;
            }
        }
    }

    & .page-content {
        @welcome-height: 230px;

        & .welcome-msg {
            height: @welcome-height;
            margin: 0 0 20px -5px;
            .border-radius(6px);

            & .close {
                position: absolute;
                right: -10px;
                top: 0;
            }

            & .pre-current-user-bg {
                position: absolute;
                left: 0;
                height: 100%;
                width: 20px;
                .border-radius(5px);
                background: #0c163d;
            }

            & .current-user-bg {
                border-top: @welcome-height solid #0c163d;
                border-right: 50px solid transparent;
                height: 0;
                left: 10px;
                width: 250px;
                position: absolute;
            }

            & .current-user {
                height: @welcome-height;
                width: 200px;
                padding: 30px 30px 30px 45px;
                color: @color-white;
                text-align: center;
                float: left;

                & .avatar {
                    width: 110px;
                    border: 10px solid @color-white;
                }

                & .user-info {
                    position: absolute;
                    bottom: 40px;
                    display: inline-block;
                    width: 140px;
                    left: 35px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                & .user-label {
                    position: absolute;
                    bottom: 25px;
                    font-size: 12px;
                    width: 100px;
                    left: 55px;
                    color: @color-grey-400;
                }
            }

            & .welcome-text {
                text-align: left;
                float: right;
                width: calc(~"100% - 250px");
                padding: 10px 20px;

                & h3 {
                    margin-bottom: 20px;
                }

                & .welcome-info {
                    margin-top: 20px;
                    color: @color-indigo-600;

                    & .info-icon {
                        border: 1px solid #677ae4;
                        padding: 5px 12px;
                        border-radius: 50px;
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@keyframes zoomCards {
    from {
        opacity: 0;
        transform: scale3d(3, 3, 3) translate3d(0, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        z-index: 99999999999;
     }
     60% {
        opacity: 1;
        transform: scale3d(1.475, 1.475, 1.475) translate3d(0, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        z-index: 99999999999;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
     }
     to {
        opacity: 1;
    }
}
@keyframes fadeCard {
    from {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        z-index: 99999999999;
     }
     70% {
        opacity: 1;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        z-index: 99999999999;
    }
}
