<div class="participants-count">
    <i id="icons8-teams" class="icon icons8-teams"></i>
    <span class="participants-count-label">
        {{getParticipantsCounter()}}
    </span>
</div>

<div class="time-status">
    <i id="icons8-calendar" class="icon icons8-calendar"></i>
    <span class="time-status-label" card-time-status
        tournament="tournament"></span>
</div>
