.modal-danger {
    background-color: #ed1c24;
}

.modal-content {
    overflow: hidden;
}

.join-team {
    height: 133px;
    height: 133px;
    width: 106%;
    position: relative;
    left: -11px;
    top: -29px;
    padding: 30px;
    .inclined(-8deg);

    & .error-block {
        transform: rotate(8deg);
    }

    & .error-block {
        font-size: 15px;
        color: #ffffff;
        margin-top: 25px;

        & i {
            font-size: 32px;
            float: left;
            margin-right: 10px;
            line-height: 20px;
        }

        & .modal-title {
            display: inline-block;
            vertical-align: middle;
            float:right;
            width: 90%;
            line-height: 15px;
        }
    }

    & + .modal-body {
        .team-image {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 30px;


            & img {
               object-fit: contain;
               height: 100px;
               width: 150px;
            }
        }

        .text-invited {
            text-align: center;
            width: 270px;
            margin: 0 auto;
            font-size: 24px;
            line-height: 24px;
            color: #37474f;
            margin-bottom: 30px;

            & b {
                font-weight: bold;
            }
        }

        .team-members {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 340px;
            margin: 0 auto;
            text-align: center;

            & li {
                display: inline-block;
                margin-right: 16px;

                &:last-child {
                    margin-right: 0;
                }

                & img {
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                    object-fit: contain;
                    margin-bottom: 4px;
                }

                & .member-name {
                    font-size: 10px;
                    color: #37474f;
                }
            }
        }
    }

    & + .modal-body + .modal-footer {
        text-align: center;
        padding-top: 10px;

        .btn-default {
            width: 84px;
            background-color: #ffffff;
            color: #37474f;
            border: 1px solid #37474f;
            font-size: 12px;
            text-transform: uppercase;
            height: 42px;
            font-weight: bold;
            transition: 0.2s;

            &:hover{
                background-color: #37474f;
                color: #ffffff;
            }
        }

        .btn-primary {
            width: 130px;
            font-weight: bold;
            font-size: 12px;
            height: 42px;
            text-transform: uppercase;
            cursor: default;
            color: #ffffff;
            background-color: #75a6b4;

            &.deactivate {
                opacity: 0.5;
            }
        }
    }
}
