<div class="modal-header modal-danger inclined join-team">
    <div ng-if="vm.player" class="error-block clearfix">
        <i class="icons8-cancel-2"></i>
        <div class="modal-title">
            {{ 'You are captain aptain of your own team. Dissolve your team first to accept the invitation.' | translate }}
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="team-image">
        <img ng-src="{{vm.team.logo.url}}" alt="{{vm.team.name}}">
    </div>
    <div class="text-invited">
        <translate>
            You've been invited to <b>{{ vm.team.name }}</b> team
        </translate>
    </div>
    <ul class="team-members">
        <li class="member" ng-repeat="member in vm.team.members">
            <img ng-src="{{ member.steam_avatar_url }}" alt="member_photo" class="member-photo">
            <div class="member-name text-truncate width-50">{{ member.steam_personal_name }}</div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button ng-click="vm.close()" type="button" class="btn btn-default width-100 height-50 font-size-12 font-weight-700">
      {{ 'reject' | translate }}
    </button>
    <button ng-click="vm.accept()" ng-disabled="vm.player" type="button" class="btn btn-primary btn-green  width-100 height-50 font-size-12 font-weight-700 ">
      {{ 'accept' | translate }}
    </button>
</div>
