.general-info {
    & .reward {
        & img.place {
            width: 43px;
            float: left;
        }
    }
    & .policy {
        border: 1px solid @color-blue-grey-300;
        overflow: hidden;
        .border-radius(3px);
    }
    & .get-money, & .restrictions {
        overflow: hidden;
        & .icon {
            font-size: 45px;
        }
        & p {
            margin: 0;
            font-weight: bold;
        }
    }
    & .get-money {
        border: 1px solid @color-green-600;
        .border-radius(3px);
        & .icon {
            color: @color-green-600;
        }
    }
    & .restrictions {
        border: 1px solid @color-red-600;
        .border-radius(3px);
        & .icon {
            color: @color-red-600;
        }
    }
}
