<div class="general-info vertical-margin-30 padding-30 clearfix">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="prizes col-md-12">
                <h2 class="margin-bottom-40" translate> Prizes </h2>
                <div ng-repeat="reward in vm.generalInfo.rewards" class="reward col-xs-4 margin-bottom-20">
                    <img ng-src="{{'images/tdetails/' +reward.getImgName()+ '.png'}}" class="place" alt="Place">
                    <p class="font-weight-600 margin-0"> {{ ::reward.title }} </p>
                    <span ng-switch="vm.tournament.rewardCurrency.code">
                        <span ng-switch-when="WRC" class="amount wrc-icon-gray"> {{ ::reward.amount }} </span>
                    <span ng-switch-when="USD" class="amount"> ${{ ::reward.amount }}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-if="vm.tournament.meta.description[vm.currentLang()]" class="description col-md-12">
                <h2 class="margin-bottom-40" translate> Description </h2>
                <p> {{ ::vm.tournament.meta.description[vm.currentLang()] }} </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <h2 class="margin-bottom-40" translate>Tournament Policy</h2>
            <div class="policy padding-10 margin-bottom-20">
                <div ng-repeat="policy in vm.generalInfo.policy" class="rule col-md-6 col-xs-12">
                    <i class="icon font-size-50 pull-left" ng-class="policy.icon"></i>
                    <p class="font-weight-600 padding-top-15">{{ ::policy.title }}</p>
                </div>
            </div>
            <div class="get-money padding-10 margin-bottom-20">
                <div class="col-md-12">
                    <i class="icon icons8-donate pull-left"></i>
                    <p translate>If you leave the tournament until it starts you get 100% chargeback.</p>
                    <p translate>If the tournament is canceled due to tech reasons you get 100% chargeback.</p>
                </div>
            </div>
            <div class="restrictions padding-10 margin-bottom-20">
                <div class="col-md-12">
                    <i class="icon icons8-cancel pull-left"></i>
                    <p translate>If the tournament is launched you can’t get the chargeback.
                    </p>
                    <p translate>If you don’t enter the game lobby and don’t choose your side you get the tech loose.</p>
                </div>
            </div>
        </div>
    </div>
</div>
