@import '../../../../../remark/src/less/vars-color';

.account-info {
    & .icon-label {
        background-color: @color-blue-grey-200;
        border: 1px solid @color-blue-grey-200;
        height: 34px;
        width: 34px;
        .border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 3px, @topleft: 3px);

        & i {
            margin-top: 2px;
        }
    }

    & .icon-label-language {
        background-color: @color-blue-grey-200;
        border: 1px solid @color-blue-grey-200;
        height: 36px;
        width: 36px;
        .border-radiuses (@topright:0, @bottomleft: 3px, @bottomright: 0, @topleft: 3px);

        & i {
            margin-top: 2px;
        }
    }

    & .dropdown .dropdown-toggle,
    .form-control {
        border-radius: 0;
        .border-radiuses (@topright: 3px, @bottomright: 3px, @bottomleft: 0, @topleft: 0);
    }

    & .permission {
        font-size: 12px;

        & span {
            float: left;
        }

        & p {
            float: left;
            margin: 4px;
        }
    }

    & .form-group & input {
        .border-radiuses (@topright: 3px, @bottomright: 3px, @bottomleft: 0, @topleft: 0);
    }

    & .settings-checkbox {
        float: left;
    }

    & .permission {
        height: 50px;
    }

    & .unactive {
        color: @color-red-700;
    }

    & .icon-tooltip,
    .settings-mesage {
        display: inline-block;
    }

    .settings-mesage {
        float: left;
        margin-top: 4px;
    }

    & .icon-tooltip {
        margin: 3px;
    }
}
