<div class="panel padding-top-20 account-info">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 contact-info padding-left-30">
                    <h1 class="currencies-title">
                            <span translate>Contact info</span>
                    </h1>
                    <form class="account-info-update-form margin-top-15 padding-15" name="form" role="form">
                        <div class="form-group row">
                            <div class="col-sm-1 col-xs-1 padding-5 text-center vertical-align-middle icon-label">
                                <i class="fa fa-skype font-size-18" aria-hidden="false"></i>
                            </div>
                            <div class="col-sm-9 col-xs-9 padding-0">
                                <input type="text" class="form-control" ng-model-options="{ debounce: 1500 }" ng-change="vm.submit()" name="skype" id="skype"
                                  autocomplete="off" not-required placeholder="{{'Your skype account login' | translate}}"
                                  ng-model="vm.account.skype" ng-pattern="/[a-z0-9]+/i" ng-minlength="2" ng-maxlength="32"
                                  maxlength="32" />
                                <small class="help-block" ng-show="form.skype.$invalid && !form.skype.$pristine" translate>
                                    The skype is not valid
                                </small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1 col-xs-1 padding-5 text-center vertical-align-middle icon-label">
                                <i class="fa fa-envelope-o font-size-16" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-9 col-xs-9 padding-0">
                                <input type="email" class="form-control" ng-model-options="{ debounce: 1500 }" ng-change="vm.submit()" name="email" id="email"
                                  autocomplete="off" placeholder="{{'Your email address for notifications' | translate}}" not-required
                                  ng-model="vm.account.email" ng-pattern="/.+/i" ng-minlength="4" ng-maxlength="32" maxlength="32"
                                />
                                <small class="help-block" ng-show="form.email.$invalid && !form.email.$pristine" translate>
                                    The email is not valid
                                </small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1 col-xs-1 padding-5 text-center vertical-align-middle icon-label-language">
                                <i class="fa fa-language font-size-16" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-9 col-xs-9 padding-0  text-left">
                                <div language-switcher></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 permissions padding-left-30">
                    <div>
                        <h1 class="currencies-title">
                            <span translate>Permissions</span>
                        </h1>
                    </div>
                    <div class="setting-container">
                        <div class="permission col-md-12 padding-10 padding-left-0">
                            <div class="settings-checkbox margin-0">
                                <input type="checkbox" class="js-switch" ng-change="vm.submit()" ng-model="vm.account.allow_push" switcher-directive>
                                <label class="font-size-14 margin-left-10 margin-0">
                                      <div class="settings-mesage text-nowrap text-truncate" translate>
                                        Send Push Notifications
                                      </div>
                                      <div class="icon-tooltip">
                                        <i class="icons8-info font-size-16" ng-if="vm.account.allow_push" data-tooltip="{{'Please turn ON to get the notifications when the tournament matches begin. P.S. We don\'t use them for nothing else' | translate}}"></i>

                                        <i class="fa fa-exclamation-circle font-size-14 unactive" ng-if="!vm.account.allow_push" data-tooltip="{{'Please turn ON to get the notifications when the tournament matches begin. P.S. We don\'t use them for nothing else' | translate}}"></i>
                                      </div>

                                </label>
                            </div>
                        </div>

                        <div class="permission col-md-12 padding-10 padding-left-0">
                            <div class="settings-checkbox margin-0">
                                <input type="checkbox" class="js-switch" ng-change="vm.submit()" ng-model="vm.account.allow_sound" switcher-directive />
                                <label class=" font-size-14 margin-left-10 margin-0 ">
                                  <div class="settings-mesage text-nowrap text-truncate" translate>
                                    Allow sound signal when the game begins
                                  </div>
                                  <div class="icon-tooltip">
                                    <i class="icons8-info font-size-16"
                                    data-tooltip="{{'We use a sound sygnal to inform you about the tournament matches start even if you are away from PC' | translate}}"></i>
                                  </div>

                              </label>
                            </div>
                        </div>
                        <div class="permission col-md-12 padding-10 padding-left-0">
                            <div class="settings-checkbox margin-0">
                                <input type="checkbox" class="js-switch" ng-change="vm.submit()" ng-model="vm.account.allow_email" switcher-directive>
                                <label class="font-size-14 margin-left-10 margin-0">
                              <div class="settings-mesage text-nowrap text-truncate" translate>
                                  Send Notifications via Email
                              </div>
                              <div class="icon-tooltip">
                                <i class="icons8-info font-size-16" data-tooltip="{{'In addition to the options above we could send you the notifications via email about the tournament-related activity' | translate}}"></i>
                              </div>

                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
