@import 'mixins';

@-webkit-keyframes markwallet {
    from {
        font-size: 14px;
        font-weight: bold;
    }
    50% {
        font-size: 16px;
    }
    to {
        font-size: 14px;
        font-weight: normal;
    }
}
@keyframes markwallet {
    from {
        font-size: 14px;
        font-weight: bold;
    }
    50% {
        font-size: 16px;
    }
    to {
        font-size: 14px;
        font-weight: normal;
    }
}
.mark-wallet-animation() {
  -webkit-animation-name: markwallet;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: easy;
  animation-duration: 1;
}

@-webkit-keyframes freerollshaking {
    from { .transform(translateY(0)); }
    50% { .transform(translateY(-10px)); }
    to { .transform(translateY(0)); }
}
.freeroll-shaking-animation() {
    -webkit-animation-name: freerollshaking;
    -webkit-animation-duration: 1.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-duration: 1.7;
}
