@import '../../../remark/src/less/vars-color';
body {
    overflow: auto;
}

.wrc-icon:before{
    content: '';
    display: inline-block;
    position: relative;
    width: 13px;
    height: 10px;
    background-image: url('../images/buy-pack-icons/wrc_icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
}
.wrc-icon-green:before{
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 8px;
    background-image: url('../images/buy-pack-icons/wrc_icon_green.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.wrc-icon-gray:before{
    content: '';
    display: inline-block;
    position: relative;
    width: 14px;
    height: 10px;
    background-image: url('../images/buy-pack-icons/wrc_icon_gray.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.circle {
    .border-top-radius(1000px);
    .border-bottom-radius(1000px);
    background: @color-blue-grey-200;
    color: @color-blue-grey-400
}
.faq {
    & .nav-tabs-vertical {
        & ul.nav {
            width: 100%;
        }
        & li.active a {
            background: @color-indigo-700;
            color: @color-white;
        }
    }
}
.navbar-logo-title {
    width: 151px;
    padding: 0;
}
.participants-list-popover {
    list-style-type: none;
    padding-left: 0;
    & .avatar {
        float: left;
        margin-right: 10px;
    }
    & .participant-info {
        padding: 12px;
        & .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
        }
    }
}


.rz-bar.rz-selection {
    background: @color-blue-grey-500 !important;
}
.rz-pointer {
    &.rz-active:after {
        background: @color-indigo-800 !important;
    }
    background-color: @color-blue-grey-800 !important;
}
.rz-pointer:active, .rz-pointer:focus, .rz-pointer:hover {
    outline: none;
}
