.btn-custom-color(@color: #fff, @color-darker: #fff, @color-lighter: #fff, @text-color: #fff) {

    @rgba-color: rgba(red(@color), green(@color), blue(@color), 0.8);

    & {
        color: @text-color;
        background-color: @rgba-color;
        border-color: @color;
    }
    &:focus,
    &.focus {
        color: @text-color;
        background-color: @color-darker;
        border-color: @color-darker;
    }
    &:hover {
        color: @text-color;
        background-color: @color-darker;
        border-color: @color-darker;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: @text-color;
        background-color: @color-darker;
        border-color: @color-darker;
    }
    &:active:hover,
    &.active:hover,
    .open > &.dropdown-toggle:hover,
    &:active:focus,
    &.active:focus,
    .open > &.dropdown-toggle:focus,
    &:active.focus,
    &.active.focus,
    .open > &.dropdown-toggle.focus {
        color: @text-color;
        background-color: @color-darker;
        border-color: @color-darker;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled:hover,
    &[disabled]:hover,
    fieldset[disabled] &:hover,
    &.disabled:focus,
    &[disabled]:focus,
    fieldset[disabled] &:focus,
    &.disabled.focus,
    &[disabled].focus,
    fieldset[disabled] &.focus {
        background-color: @rgba-color;
        border-color: @color;
    }
    & .badge {
        color: @color-lighter;
        background-color: @text-color;
    }
}
