@import '../../../remark/src/less/vars-color';
@import 'mixins';

html {
    min-width: 470px;
    width: 100%;
}

.site-navbar {
    background-color: @color-dark-blue;

    &.navbar {
        min-height: 67px;

        & i.icon.hamburger.hamburger-arrow-left .hamburger-bar,
        & i.icon.hamburger.hamburger-arrow-left::after,
        & i.icon.hamburger.hamburger-arrow-left::before {
            background: @color-white;
        }

        & .navbar-container.container-fluid {
            background-color: @color-dark-blue;

            & a {
                color: @color-white;

                &,
                &:active,
                &:focus,
                &:hover,
                &:visited {
                    background: none;
                }
            }
        }
    }
}

.site-menubar {
    z-index: 1;

    &-body {
        & .current-matches-panel {
            margin-bottom: 30px;
        }
    }

    &-footer {

        & .avatar-section {
            width: 23%;

            & img {
                transition: 0.2s;
                width: 43px;
                border: 4px solid #0e1542;
                margin: -7px 0 0;
                display: inline-block;
            }
        }

        &:hover img {
            border-color: #147fdb;
        }

        & .name-section {
            text-align: left;
            width: 55%;

            & .name {
                display: inline-block;
                font-weight: 400;
                margin: 3px 0 0;
                width: 140px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        & .logout {
            width: 57px;
            padding-top: 29px;
            color: @color-white;

            & span:before {
                transition: 0.2s;
            }

            &:hover  span:before {
                color: red;
            }
        }
    }
}

.site-footer {
    height: 44px;
    border-top: none;

    & a {
        color: @color-grey-800;
    }

    &-right {
        margin-right: 70px;
    }
}
