@import 'custom-ui-elements';
@import 'overrides';
@import 'common';
@import 'spinner';
@import 'animations';
@import '../app/layout/loader';
@import '../app/layout/header/navbar';
@import '../app/layout/sidebar/current-matches/indicator';
@import '../app/layout/sidebar/sidebar';
@import '../app/layout/modals/agreement/agreement';
@import '../app/layout/modals/onboarding-tour/onboarding-tour.less';
@import '../app/account/account';
@import '../app/account/team/account-team';
@import '../app/account/info/info';
@import '../app/account/referral/referral';
@import '../app/account/modals/account-info/account-info';
@import '../app/account/modals/join-team/join-team';
@import '../app/wallet/wallet';
@import '../app/onboarding/welcome';
@import '../app/onboarding/create-team';
@import '../app/onboarding/invite-players';
@import '../app/dashboard/dashboard';
@import '../app/dashboard/team/panel';
@import '../app/tournaments/card/card';
@import '../app/tournaments/modals/modals';
@import '../app/tournaments/modals/info/info';
@import '../app/tournaments/modals/accept/accept';
@import '../app/tournaments/details/tournament-details';
@import '../app/tournaments/details/join-button/button';
@import '../app/tournaments/details/view-modes/participants/participants';
@import '../app/admin/tournaments/create/create-tournament';
@import '../app/admin/tournaments/list/tournament-list';
@import '../app/admin/account-details/account-details';
@import '../app/widgets/page-bg/page-bg';
@import '../app/widgets/video-as-bg/video-as-background';
@import '../app/static/static';

.page {
    padding-left: 30px;
    min-height: auto;

    &.bg {
        background: url('../images/bg.jpg');
    }
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -999em;
}

.navbar-container,
.navbar-wallet-usd,
.navbar-wallet-usd .triangle-bottomright,
.navbar-wallet-wrc,
.navbar-wallet-wrc .triangle-bottomright,
.page,
.site-menubar,
.site-menubar-footer > a,
.site-navbar {
    background: transparent !important;

    .navbar-container {
        background-color: rgba(0, 0, 0, 0.4) !important;

        .icons i {
            color: @color-white;
        }
    }

    .navbar-header {
        background-color: rgba(0, 0, 0, 0.4) !important;
    }

    .navbar-brand {
        height: auto !important;
    }
}

.switchery {
    background: transparent !important;
}

.tab-content {
    background-color: @color-white;
}

.faq .page-content.container-fluid {
    background-color: @color-white;
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 0.3);
    padding-left: 0;
    padding-bottom: 0;
}

.panel-body {
    padding: 0;
}

.site-footer {
    padding: 26px 30px;
    height: 66px;
}

.tournament-details {
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 0.3);
}

.participants {
    padding: 30px 0;
}

.faq .nav-tabs-vertical li.active a {
    border-radius: 0;
    background-color: @color-grey-800;

    &:hover {
        background-color: @color-grey-800;
    }
}

.faq-content {
    background-color: @color-white;
    box-shadow: -5px 0 0 0 rgba(50, 50, 50, 0.05);
}

.nav-tabs-vertical .nav-tabs > li > a {
    margin-bottom: 0;
    background-color: @color-grey-200;
    transition: 0.2s;

    &:hover {
        background-color: @color-grey-300;
    }
}

.faq-row {
    background-color: @color-grey-200;
}

.panel {
    box-shadow: none;
}

.site-navbar .navbar-header .navbar-brand {
    padding-top: 14px;
}

.switch {
    z-index: 2;
}

.account-wallet {
    box-shadow: -10px 10px 0 0 rgba(0,0,0,.3);
}

body {
    background-image: url('../images/hny-bg-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 74px;
}
