<div card-background class="tournament-card-bg" ng-class="colorClass()" tournament="tournament"></div>
<div ng-click="enterLobby()" class="tournament-card-header">
    <span tooltip-placement="bottom" tooltip-popup-delay="1000" uib-tooltip="{{ 'View the info about the tournament and match' | translate }}">
      {{ ::tournament.id }} :: {{ ::tournament.name }}
    </span>
    <div class="t-prize-pool" ng-switch="tournament.rewardCurrency.code" tooltip-popup-delay="1000" uib-tooltip="{{ 'Tournament prize pool' | translate }}">
        <div ng-switch-when="WRC " class="wrc-icon "> {{ getPrizePool() }} </div>
        <div ng-switch-when="USD "> ${{ getPrizePool() }} </div>
    </div>
</div>
<div ng-click="enterLobby()" ng-class="colorClass()" class="tournament-card-body" tooltip-popup-delay="1000" uib-tooltip="{{ 'Enter tournament details' | translate }}">
    <div ng-if="tournament.isCooldown()" ng-include=" 'app/tournaments/card/body/cooldown.html' "></div>
    <div ng-if="!tournament.isCooldown()" ng-include=" 'app/tournaments/card/body/by-date.html' "></div>
</div>
<div class="tournament-card-footer" ng-class="colorClass()" ng-click="(isParticipant() ? false : join()) ">
    <div ng-if="isParticipant()">
        <div ng-switch on="status()">
            <div ng-switch-when="new">
                <div ng-include=" 'app/tournaments/card/footer/participant/new.html' "></div>
            </div>
            <div ng-switch-when="pre">
                <div ng-include=" 'app/tournaments/card/footer/participant/pre.html' "></div>
            </div>
            <div ng-switch-when="ready">
                <div ng-include=" 'app/tournaments/card/footer/participant/ready.html' "></div>
            </div>
            <div ng-switch-when="invitation-period">
                <div ng-include=" 'app/tournaments/card/footer/participant/invitation-period.html' "></div>
            </div>
            <div ng-switch-when="running">
                <div ng-include=" 'app/tournaments/card/footer/participant/running.html' "></div>
            </div>
            <div ng-switch-when="passed">
                <div ng-include=" 'app/tournaments/card/footer/participant/passed.html' "></div>
            </div>
        </div>
    </div>
    <div ng-if="!isParticipant()">
        <div ng-show="tournament.isNew()" style="position: relative">
            <div ng-include=" 'app/tournaments/card/footer/new.html' "></div>
        </div>
        <div ng-show="!tournament.isNew()" style="position: relative">
            <div ng-include=" 'app/tournaments/card/footer/default.html' "></div>
        </div>
    </div>
</div>
