@import '../../../styles/mixins';
@import '../../../../../remark/src/less/vars-color';

@default-color-light: #369353;
@default-color-dark: #30844b;
@default-color-overlay: rgba(74,67,67,0.4);
@defaul-color-text: #104d23;

@new-color-light: @default-color-light;
@new-color-dark: @default-color-dark;
@new-color-overlay: @default-color-overlay;
@new-color-text: @defaul-color-text;

@ready-color-light: @default-color-light;
@ready-color-dark: @default-color-dark;
@ready-color-overlay: @default-color-overlay;
@ready-color-text: @defaul-color-text;

@pre-color-light: @ready-color-light;
@pre-color-dark: @ready-color-dark;
@pre-color-overlay: @ready-color-overlay;
@pre-color-text: @ready-color-text;

@invitation-period-color-light: #cc991e;
@invitation-period-color-dark: #b7891b;
@invitation-period-color-overlay: @default-color-overlay;
@invitation-period-color-text: #6c5111;

@running-color-light: #4559af;
@running-color-dark: #3e509d;
@running-color-overlay: @default-color-overlay;
@running-color-text: #19265b;

@passed-color-light: #afafaf;
@passed-color-dark: #757575;
@passed-color-overlay: @default-color-overlay;
@passed-color-text: @color-grey-800;


.tournament-card {
    position: relative;
    width: 215px;
    height: 310px;
    overflow: hidden;
    margin: 10px;
    float: left;
    box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.15s linear;
    z-index: 5;
    .border-radius(5px);
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: -13px 13px 4px 12px rgba(0, 0, 0, 0.3);
        z-index: 6;
    }

    & .middle-section-triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 250px solid transparent;
        left: 0;

        &.default {
            border-bottom: 30px solid @default-color-light;
        }

        &.new-color {
            border-bottom: 30px solid @new-color-light;
        }

        &.ready-color {
            border-bottom: 30px solid @ready-color-light;
        }

        &.pre-color {
            border-bottom: 30px solid @pre-color-light;
        }

        &.invitation-period-color {
            border-bottom: 30px solid @invitation-period-color-light;
        }

        &.running-color {
            border-bottom: 30px solid @running-color-light;
        }

        &.passed-color {
            border-bottom: 30px solid @passed-color-light;
        }
    }

    & .bottom-section-triangle {
        position: absolute;
        width: 0;
        height: 0;
        top: 215px;
        border-left: 250px solid transparent;
        left: 0;

        &.default {
            border-bottom: 30px solid @default-color-dark;
        }

        &.new-color {
            border-bottom: 30px solid @new-color-dark;
        }

        &.ready-color {
            border-bottom: 30px solid @ready-color-dark;
        }

        &.pre-color {
            border-bottom: 30px solid @pre-color-dark;
        }

        &.invitation-period-color {
            border-bottom: 30px solid @invitation-period-color-dark;
        }

        &.running-color {
            border-bottom: 30px solid @running-color-dark;
        }

        &.passed-color {
            border-bottom: 30px solid @passed-color-dark;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100%;

        &.default {
            & .tournament-card-bg-overlay {
                background-color: @default-color-overlay;
            }
        }

        &.new-color {
            & .tournament-card-bg-overlay {
                background-color: @new-color-overlay;
            }
        }

        &.ready-color {
            & .tournament-card-bg-overlay {
                background-color: @ready-color-overlay;
            }
        }

        &.pre-color {
            & .tournament-card-bg-overlay {
                background-color: @pre-color-overlay;
            }
        }

        &.invitation-period-color {
            & .tournament-card-bg-overlay {
                background-color: @invitation-period-color-overlay;
            }
        }

        &.running-color {
            & .tournament-card-bg-overlay {
                background-color: @running-color-overlay;
            }
        }

        &.passed-color {
            & .tournament-card-bg-overlay {
                background-color: @passed-color-overlay;
            }
        }

        &-overlay {
            z-index: 0;
            position: absolute;
            top: 0;
            min-width: 100%;
            min-height: 100%;
        }
    }

    &-header {
        position: relative;
        color: @color-white;
        text-align: center;
        padding-top: 20px;
        height: 140px;

        & .t-prize-pool {
            margin-top: 10px;
            height: 60px;
            font-size: 40px;
            font-weight: bold;

            .wrc-icon:before{
                width: 38px;
                height: 28px;
            }
        }
    }

    &-body {
        position: relative;
        text-align: left;
        height: 105px;
        transform: rotate(-8deg);
        left: -9px;
        width: 108%;
        height: 103px;
        top: -12px;

        &.default {
            background: @default-color-light;
            color: @defaul-color-text;
        }

        &.new-color {
            background: @new-color-light;
            color: @new-color-text;
        }

        &.ready-color {
            background: @ready-color-light;
            color: @ready-color-text;
        }

        &.pre-color {
            background: @pre-color-light;
            color: @pre-color-text;
        }

        &.invitation-period-color {
            background: @invitation-period-color-light;
            color: @invitation-period-color-text;
        }

        &.running-color {
            background: @running-color-light;
            color: @running-color-text;
        }

        &.passed-color {
            background: @passed-color-light;
            color: @passed-color-text;
        }

        & .participants-count,
        & .time-status {
            position: absolute;
            float: left;
            height: 80px;
            width: 50%;
            font-size: 14px;
            display: table;
            top: 2px;
            font-weight: bold;
            transform: rotate(8deg);

            & .icon,
            & span {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
        }

        & .time-status {
          top: 18px;
        }

        & .participants-count {
            left: 24px;
            &-cooldown {
                font-size: 34px;
                text-align: center;
                font-weight: bold;
                padding-top: 30px;
                transform: rotate(8deg);
            }
            &-label {
                font-size: 20px;
            }
        }

        & .time-status {
            right: -12px;

            &-label {
                line-height: 13px;
            }
        }

        & .icon {
            width: 20px;
            font-size: 28px;
            padding-right: 7px;
        }
    }

    &-footer {
        position: absolute;
        bottom: -20px;
        left: -3px;
        height: 100px;
        width: 106%;
        padding: 20px;
        font-weight: bold;
        transform: rotate(-8deg);
        transition: 0.2s;

        & > div{
            transform: rotate(8deg);
            padding: 8px;
        }


        & {
            background: @default-color-dark;
            color: @defaul-color-text;
            &:hover{
              bottom: -15px;
              background-color: #317748;
              height: 105px;
            }
        }

        &.ready-color {
            background: @ready-color-dark;
            color: @ready-color-text;
        }

        &.pre-color {
            background: @pre-color-dark;
            color: @pre-color-text;
        }

        &.invitation-period-color {
            background: @invitation-period-color-dark;
            color: @invitation-period-color-text;
        }

        &.running-color {
            background: @running-color-dark;
            color: @running-color-text;
        }

        &.passed-color {
            background: @passed-color-dark;
            color: @passed-color-text;
        }

        & .simple {
            width: 100%;
            text-align: center;

            .action {
                color: @color-white;
                padding: 10px;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }
            }

            .action-label {
                font-size: 24px;
                font-style: italic;
                font-weight: bold;
            }
        }

        & .complicated {
          position: relative;
            & .left-side {
                width: 40%;
                float: left;
                font-size: 24px;
                font-style: italic;

                .wrc-icon-green:before{
                    width: 24px;
                    height: 18px;
                }
            }

            & .right-side {
                color: @color-white;
                width: 60%;
                float: left;
                padding: 9px;
                text-align: right;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.premium-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 10px;

    .tournament-card {
        position: relative;
        width: 100%;
        height: 310px;

        &:hover {
            transform: scale(1.03);
        }

        &-header {
            text-align: left;
            padding-left: 40px;
            padding-top: 40px;
            & > span {
                padding-top: 120px;
                width: 50%;
                font-size: 36px;
                text-shadow: -3px 2px 0px @color-green-800;
                font-style: italic;
                font-weight: bold;
            }

            & .t-prize-pool {
                margin-top: 100px;
                font-size: 60px;

                & > div {
                    text-shadow: -3px 2px 0px @color-green-800;
                    font-weight: bold;
                }
            }
        }

        &-body {
            left: auto;
            width: 33%;
            position: absolute;
            height: 565px;
            right: -13px;
            top: -90px;
            transform: rotate(20deg);

            & > div {
                position: absolute;
                bottom: 320px;
                left: -40px;
                right: 0;
                margin: auto;
                transform: rotate(-20deg);

            }

            & .participants-count {

                &-cooldown {
                    transform: none;
                }
            }
        }

        &-footer {
            transform: none;
            width: 33%;
            left: auto;
            right: 0;
            padding: 0;

            &:before{
                content: '';
                display: block;
                background-color: inherit;
                width: 40px;
                height: 100%;
                position: absolute;
                left: -29px;
                top: 3px;
                transform: rotate(20deg);
            }
            &:after{
                content: '';
                display: block;
                background-color: inherit;
                width: 12px;
                height: 100%;
                position: absolute;
                left: -11px;
                top: 0px;
            }

            & > div{
                transform: none;
                padding-top: 27px;
            }

            & .complicated {

                & .right-side {
                    padding-left: 0;
                    padding-top: 0;
                    font-size: 20px;
                }
            }
        }
    }

}

[ng-switch-when="new"] {
    position: relative;
}
