.modal-onboarding-layout {
    width: 100%;
}

.onboard-layout {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: Roboto;
    animation-name: fadeIn;
    animation-duration: 1s;

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 46px;
        line-height: 32px;
        color: @color-white;
    }

    .onboard-body {
        width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .onboard-step {
            margin-bottom: 40px;
            animation-name: fadeIn;
            animation-duration: 1s;
            position: relative;

            &:nth-child(4) {
                .wrc-big-icon {
                    left: -86px;
                    top: 62px;
                }
            }

            .wrc-big-icon {
                position: absolute;
                left: -138px;
                top: 122px;
                font-size: 51px;
                font-style: italic;

                & .wrc-icon:before {
                    width: 90px;
                    height: 90px;
                }
            }

            .onboard-title {
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .onboard-text {
                margin: 0 0 20px;
                font-size: 15px;
            }

            .iamge-card-block {
                width: 202px;
                height: 300px;
                background-image: url('../../../images/card.png');
                background-repeat: no-repeat;
                position: relative;
                border: 3px solid #ffffff;
                border-radius: 8px;

                & > div {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &.left-side-description {
                        left: -270px;
                        top: 0;
                        text-align: right;
                        width: 250px;
                        height: 100%;

                        p {
                            &:nth-child(1) {
                                margin-top: 12px;
                            }

                            &:nth-child(2) {
                                margin-bottom: 34px;
                            }
                        }
                    }

                    &.right-side-description {
                        right: -270px;
                        width: 250px;
                        height: 100%;
                        text-align: left;

                        p {
                            &:nth-child(1) {
                                margin-bottom: 63px;
                            }

                            &:nth-child(2) {
                                margin-bottom: 54px;
                            }

                            &:nth-child(4) {
                                margin-bottom: 10px;
                            }
                        }
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;

                        span {
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }

        .onboard-cntrls {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            text-transform: uppercase;
            width: 360px;
            margin-right: auto;

            & > div {
                width: 170px;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                text-align: center;
                padding-right: 40px;
                box-sizing: border-box;
                position: relative;

                &.next-step:hover > i {
                    right: -10px;
                }

                & > i {
                    position: absolute;
                    font-size: 31px;
                    right: -16px;
                    top: 1px;
                    z-index: 10;
                }

                &.prew-step {
                    padding-right: 0;
                    padding-left: 30px;
                    width: 120px;
                    margin-right: auto;

                    i {
                        right: auto;
                        left: 5px;
                    }
                }

                &.next-step {
                    background-color: @color-green-mod-card-main;
                    // margin-left: auto;
                }

                &.steps-counter {
                    padding: 0;
                    cursor: default;
                }
            }
        }
    }
}
