<div class="onboard-layout">
    <div class="onboard-body">

        <div class="onboard-step" ng-show="vm.stepCount == '1'">
            <div class="onboard-title">Добро пожаловать!</div>
            <p class="onboard-text">Дорогой дотер,</p>
            <p class="onboard-text">Мы бесконечно рады тебя приветствовать тебя на нашем уютном сервисе проведения автоматических турниров Winranger!</p>
            <p class="onboard-text">Пожалуйста, ознакомься с типами турниров, в которых мы предлагаем тебе принять участие</p>
        </div>

        <div class="onboard-step" ng-show="vm.stepCount == '2'">
            <div class="onboard-title">Структура карточки</div>
            <p class="onboard-text">Позволь рассказать тебе о карточках турниров, которые ты видишь перед собой.</p>
            <div class="iamge-card-block">
                <div class="left-side-description">
                    <p>Название <br> турнира</p>
                    <p>При нажатии на картинку <br> турнира ты увидишь его детали</p>
                    <p>Количество участников <br> <span>есть / требуется</span></p>
                    <p>Размер взноса <br> за участие</p>
                </div>
                <div class="right-side-description">
                    <p></p>
                    <p>Призовой фонд</p>
                    <p>Время старта турнира <br> <span>если не отображается - турнир<br>
               начинается по наполнению</span></p>
                    <p>Регистрция на туринир</p>
                </div>
            </div>
        </div>

        <div class="onboard-step" ng-show="vm.stepCount == '3'">
            <div class="onboard-title">Валюта Winranger: <br> Внутриигровая</div>
            <p class="onboard-text">Именно на не проходит большинство матчей, в которых тебе предстоит принять участие. При помощи WRC можно сыграть
                во фрироллах и ивент-турнирах, и при помощи своего скила заработать реальные деньги без вложений</p>
            <p class="onboard-text">Чем больше призовой фонд турнира, тем больше стоимость входа в него в WRC. Также, за игровую валюту можно приобрести
                приятные мелочи, вроде шмота для дотки или игр в стиме.</p>
            <div class="wrc-big-icon">
                <a class="wrc-icon margin-left-5"></a>
            </div>
        </div>

        <div class="onboard-step" ng-show="vm.stepCount == '4'">
            <div class="onboard-title">Валюта Winranger: USD</div>
            <p class="onboard-text">Они и в африке доллары. Самые настоящие деньги, с которыми все просто - играй хорошо и зарабатывай их в любой
                момент времени в платных турнирах и дуэлях, или ожидай времени ивентов и срывай куш!</p>
            <div class="wrc-big-icon">$</div>
        </div>

        <div class="onboard-step" ng-show="vm.stepCount == '5'">
            <div class="onboard-title">Фрироллы, ивенты и <br> спонсорские турниры</div>
            <p class="onboard-text">Вид соревнований, в которых ты сможешь превратить свои WRC в доллары! В отличие от остальных турниров, они имеют
                фиксированую дату начала, поэтому заранее планируй свое время и успевай зарегистрироваться.</p>
            <p class="onboard-text"><b>Очень важный момент - следи за балансом своих WRC, чтоб не оказаться за бортом.</b></p>
        </div>

        <div class="onboard-cntrls">
            <div class="prew-step" ng-click="vm.goPrewStep()" ng-hide="vm.stepCount == '1'"><i class="icons8-chevron-left-round"></i> Назад</div>
            <div class="steps-counter font-weight-500">
                {{vm.stepCount}} / 5
            </div>
            <div class="next-step btn-custom" ng-click="vm.goNextStep()" ng-hide="vm.stepCount == vm.stepsList.length">Дальше <i class="icons8-forward font-size-16 margin-right-5"></i></div>
            <div class="next-step btn-custom" ng-click="vm.goNextStep()" ng-show="vm.stepCount == vm.stepsList.length">Начать <i class="icons8-forward font-size-16 margin-right-5"></i></div>
        </div>

    </div>
</div>
