.account-referral {
    .banner {
        background-image: url('../images/account/Referral_BG.jpg');
        color: @color-white;
        line-height: 1.8;
    }

    .referral-link {
        border: 1px solid @color-blue-grey-300;
    }

    .ref-link-text {
        border-bottom: 1px solid @color-blue-grey-300;
    }

    .wrc-icon:before {
        margin-right: -4px;
        height: 15px!important;
        width: 21px!important;
    }
}
