<div class="panel padding-30 account-referral">
    <div class="row padding-30">
        <div class="banner height-100 col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="row font-size-20 font-weight-800 padding-20 text-nowrap">
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-uppercase pull-left font-size-16">
                    {{ 'Let your friends know about us' | translate }}
                </div>
                <!--
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-uppercase text-right pull-right font-size-16" translate>
                    {{ 'let your friends deposit' | translate }}
                </div>
                -->
                <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7 text-uppercase pull-left">
                    {{ 'get' | translate }}
                    <a class="wrc-icon margin-left-5"></a>
                    {{ '50 for each authorized!' | translate }}
                </div>
                <!--
                <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5 text-uppercase text-right pull-right">
                    {{ 'get 10% fee!' | translate }}
                </div>
              -->
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
            <h1> {{ 'Referral link' | translate }} </h1>
            <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 referral-link padding-20">
                <div class="ref-link-text padding-bottom-20 font-weight-600 text-break"> {{ vm.getUrl() }} </div>
                <button ngclipboard ng-click="vm.successCopyToClipboard()" data-clipboard-text="{{vm.getUrl()}}" class="btn btn-success btn-block height-50 width-200 font-size-12 font-weight-700 margin-top-30">
                    <span class="font-size-20 text-uppercase">
                      {{ 'Copy link' | translate }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
