<div class="modal-header padding-20">
    <button type="button" class="close" ng-click="vm.close()">
        <span aria-hidden="true">×</span>
    </button>
    <!--
    <h4 class="modal-title">Team Invitation</h4>
    -->
</div>
<div class="modal-body text-center">
    <div class="avatar width-150">
        <img ng-src="{{vm.team.logo_url}}"/>
    </div>
    <div class="font-size-30 margin-bottom-30 blue-grey-800">
        You've been invited to <b>{{vm.team.name}}</b> team
    </div>
    <div class="members row">
        <div ng-repeat="m in vm.team.members | filter: vm.playersFilter()">
            <div class="avatar width-50">
                <img ng-src="{{m.steam_avatar_url}}">
                <i></i>
            </div>
            <div class="member-name font-size-12 text-truncate">
                {{m.steam_personal_name}}
            </div>
        </div>
    </div>

</div>
<div class="modal-footer text-center margin-top-20">
    <button class="btn btn-success" ng-click="vm.accept()">Accept</button>
    <button class="btn" ng-click="vm.reject()">Reject</button>
</div>
