<div ng-if="vm.match.opponentOutcome !== vm.match.OUTCOME.TECH_LOSE">
    <div class="modal-header">
        <p><translate>Congratulations,</translate>&nbsp;{{vm.account.getName()}}</p>
        <h3 translate>Your team won!</h3>
    </div>

    <div class="modal-body text-center font-size-16" ng-switch="tournament.rewardCurrency.code">
        <p translate>Prize</p>
        <h2 ng-switch-when="WRC" class="wrc-icon-green"> {{vm.reward}}</h2>
        <h2 ng-switch-when="USD"> ${{vm.reward}}</h2>
    </div>

    <button ng-click="vm.toDashboard()"
        class="btn to-dashboard"
        translate>

        COLLECT PRIZE
    </button>
</div>

<div ng-if="vm.match.opponentOutcome === vm.match.OUTCOME.TECH_LOSE">
    <div class="modal-header">
        <p><translate>So,</translate>&nbsp;{{vm.account.getName()}}</p>
        <h3 translate>Your opponent is absent from the tournament</h3>
    </div>

    <div class="modal-body text-center font-size-16">
        <p translate>Prize</p>
        <h2>${{vm.reward}}</h2>
    </div>

    <button ng-click="vm.toDashboard()"
        class="btn to-dashboard"
        translate>

        COLLECT FEE
    </button>
</div>
