<div class="page tournament-details">
    <div class="page-header margin-bottom-30">
        <div ng-switch="vm.tournament.meta.video.type" class="video-player">
            <div ng-switch-when="youtube" youtube-directive video-id="{{ vm.tournament.meta.video.id }}"> </div>
            <div ng-switch-when="twitch" twitch-directive is-stream="{{ vm.tournament.meta.video.is_stream }}" video-id="{{ vm.tournament.meta.video.id }}"> </div>
            <div ng-switch-default tournament-large-img url="vm.tournament.image.large" class="cover"> </div>
        </div>
        <div class="row hideble">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 tournament-title">
                <h1 class="page-title"> {{ 'Create Tournament' | translate }} </h1>
                <h3 class="page-title-definition"> </h3>
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-2"> </div>
            <div ng-if="!vm.isEditingAdvancedOptions" class="col-md-5" ng-include="'app/tournament-manager/manager/edit-primary-opts.html'"> </div>
            <div ng-if="!vm.isEditingAdvancedOptions" class="col-md-5" ng-include="'app/tournament-manager/manager/advanced-opts.html'"> </div>
            <div ng-if="vm.isEditingAdvancedOptions" class="col-md-5" ng-include="'app/tournament-manager/manager/primary-opts.html'"> </div>
            <div ng-if="vm.isEditingAdvancedOptions" class="col-md-5" ng-include="'app/tournament-manager/manager/edit-advanced-opts.html'"> </div>
        </div>
    </div>
</div>
