<div class="modal-header">
    <p><translate>We're sorry,</translate>&nbsp;{{vm.account.getName()}}</p>
    <h3 ng-if="vm.match.accountOutcome !== vm.match.OUTCOME.TECH_LOSE"
        translate>Your team lost...
    </h3>
    <h3 ng-if="vm.match.accountOutcome === vm.match.OUTCOME.TECH_LOSE"
        translate>You are absent from the tournament and your team is lost
    </h3>
</div>

<div class="modal-body text-center font-size-16">
    <span ng-if="vm.reward" ng-switch="tournament.rewarCurrency.code">
        <p translate>Prize</p>
        <h2 ng-switch-when="WRC" class="wrc-icon-green"> {{vm.reward}}</h2>
        <h2 ng-switch-when="USD"> ${{vm.reward}}</h2>
    </span>

    <span ng-if="!vm.reward">
        <p translate>Stay positive and continue playing in the next tournaments!</p>
    </span>
</div>

<button ng-if="vm.reward"
    ng-click="vm.toDashboard()"
    class="btn to-dashboard"
    translate>

    COLLECT PRIZE
</button>

<button ng-if="!vm.reward"
    ng-click="vm.toDashboard()"
    class="btn to-dashboard"
    translate>

    TO DASHBOARD
</button>
