<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>

<div class="modal-body">
    <div class="page-error page-error-400 layout-full site-menubar-fold">
        <!-- Page -->
        <div class="page animsition vertical-align text-center"
             data-animsition-in="fade-in"
             data-animsition-out="fade-out"
             style="animation-duration: 800ms; opacity: 1;">

            <div class="page-content vertical-align-middle">
                <header class="height-100">
                    <h1 class="animation-slide-top" translate>You session has expired</h1>
                </header>

                <button class="btn btn-success btn-round margin-top-20"
                        ng-click="vm.authorize()" translate>Authorize via Steam
                </button>
            </div>
        </div>
        <!-- End Page -->
    </div>
</div>

<div class="modal-footer">
</div>
