<div class="modal-header"> <button type="button" class="close font-weight-normal" ng-click="vm.close()">
    <span aria-hidden="true">×</span>
  </button>
    <h3 class="modal-title text-center font-size-30 font-weight-200 padding-vertical-20"
      translate>
        Step 1. Choose pack
    </h3>
    <p class="text-center" translate>Choose the sum to deposit</p>
</div>
<div class="modal-body padding-left-40 padding-right-40">
    <div class="row">
        <div class="col-xs-12">
            <remark-component-directive component="asRange" />
            <div class="asRange" data-plugin="asRange" data-namespace="rangeUi" data-step="5"
              data-min="1" data-tip=true data-max="100" data-value="1"></div>
        </div>
    </div>
</div>
