<div class="modal-header">
    <button type="button" class="close font-weight-normal" ng-click="vm.close()">
        <span aria-hidden="true">×</span>
    </button>
    <button type="button" class="font-weight-normal btn -btn-primary
        bg-blue-grey-100 -blue-grey-500 back-button" ng-click="vm.goTo('first')">
        <span aria-hidden="true" translate>Back</span>
    </button>
    <h3 class="modal-title text-center font-size-30 font-weight-200 padding-vertical-20" translate>
        Step 2. Method
    </h3>
    <p class="text-center" translate>Choose currency and the method to deposit</p>
    <div class="text-center">
        <button type="button" ng-click="vm.selectCurrency(980)"
            ng-class="{'active': vm.attributes.currency === 980}"

            class="font-weight-normal btn -btn-primary select-currency-btn
            bg-blue-grey-100 -blue-grey-500">

            <span aria-hidden="true" translate>UAH</span>
        </button>

        <button type="button" ng-click="vm.selectCurrency(643)"
            ng-class="{'active': vm.attributes.currency === 643}"

            class="font-weight-normal btn -btn-primary select-currency-btn
            bg-blue-grey-100 -blue-grey-500">

            <span aria-hidden="true" translate>RUB</span>
        </button>

        <button type="button" ng-click="vm.selectCurrency(840)"
            ng-class="{'active': vm.attributes.currency === 840}"

            class="font-weight-normal btn -btn-primary select-currency-btn
            bg-blue-grey-100 -blue-grey-500">

            <span aria-hidden="true" translate>USD</span>
        </button>
    </div>

</div>
<div class="modal-body padding-left-40 padding-right-40 money-services">
    <div class="row">
        <div ng-repeat="service in vm.moneyServices | filter:vm.byCurrency"
            class="col-md-4 padding-bottom-20 padding-right-3">
            <div ng-click="vm.selectPayway(service)"
                class="btn -btn-primary btn-block bg-blue-grey-100 -blue-grey-500
                padding-20 service">

                <span class="helper"></span>
                <img src="images/withdraw-icons/{{service.code}}.png" alt="{{service.title}}">
            </div>
        </div>
    </div>
</div>
