<div class="panel your-team">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{vm.account.steam_personal_name}}'s stats
            <small> (your stats) </small>
        </h3>
    </div>
    <div class="panel-body height-150">
        <div class="row">

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.account.won_games_count}}</span>
                    </div>
                    <div class="counter-label blue-grey-400">Won Games</div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.account.lost_games_count}}</span>
                    </div>
                    <div class="counter-label blue-grey-400">Lost Games</div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.account.getWinrate()}}%</span>
                    </div>
                    <div class="counter-label blue-grey-400">Winrate</div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.account.balance}}</span>
                        <span class="counter-number-related">_</span>
                    </div>
                    <div class="counter-label blue-grey-400">Points earned</div>
                </div>
            </div>

        </div>
    </div>
</div>
