<div ng-controller="TournamentListController as vm">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title" translate>
                    Your Tournaments
                </h3>
            </div>
            <div class="panel-body">
                <div class="row tournaments-panel">
                    <div ng-repeat="tournament in vm.myTournaments"
                        class="col-xs-4 col-sm-4 col-md-3 col-lg-3 tournament margin-vertical-5 padding-horizontal-10">

                        <div tournament-card
                            tournament="tournament"
                            account="vm.account"
                            team="vm.team"
                            activate="vm.activate()">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
