<div class="members-header"></div>
<!-- <div ng-if="vm.activePlayers.length < 4 && vm.player.isCaptain()" class="custom-warning">
    <div class="exclamation">
        <img src="images/excl-warning.png" alt="Warning"/>
    </div>
    <div class="definition">
        <p translate>You have no enough players in your main roster.</p>
        <p translate>Invite teammates using link below.</p>
    </div>
</div> -->
<div class="blue-grey-500 font-weight-300 font-size-16 active-title">
    <translate>Main Roster</translate>
</div>
<div class="list-group">
    <div class="list-group-item" href="javascript:void(0)">
        <div class="media">
            <div class="media-left">
                <div class="avatar avatar-md avatar-away">
                    <img ng-src="{{ vm.team.getCaptain().steam_avatar_url }}" />
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ vm.team.getCaptain().steam_personal_name }}</h4>
                <small translate> Captain </small>
            </div>
        </div>
    </div>
</div>
<div class="list-group members" id="activePlayers" DONOT-ui-sortable="vm.sortableOptions" ng-if="vm.player.isCaptain()" ng-model="vm.activePlayers">
    <a ng-repeat="player in vm.activePlayers" class="list-group-item" href="javascript:void(0)">
        <div class="media">
            <div class="media-left">
                <div class="avatar avatar-md">
                    <img ng-src="{{player.steam_avatar_url}}" />
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading"> {{player.steam_personal_name}} </h4>
                <small translate>Active</small>
                <i ng-click="vm.expelMember(player)" class="icon wb-close-mini pull-right player-remove"></i>
            </div>
        </div>
    </a>
</div>
<div class="list-group members active" ng-if="!vm.player.isCaptain()" ng-model="vm.activePlayers">
    <a ng-repeat="player in vm.activePlayers" class="list-group-item" href="javascript:void(0)">
        <div class="media">
            <div class="media-left">
                <div class="avatar avatar-md">
                    <img ng-src="{{player.steam_avatar_url}}" />
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{player.steam_personal_name}}</h4>
                <small translate>Active</small>
                <i ng-click="vm.expelMember(player)" class="icon wb-close-mini pull-right player-remove"></i>
            </div>
        </div>
    </a>
    <p ng-if="vm.player.isBenchPlayer()" class="bench-definition" translate>
        Wait until the Capitan add to the main roster
    </p>
    <button type="button" class="btn btn-block btn-default margin-top-50 leave-team" ng-if="!vm.player.isCaptain()" ng-click="vm.leave()" translate>
        LEAVE TEAM
    </button>
</div>
<div ng-if="vm.player.isCaptain()">
    <div ng-if="vm.activePlayers.length < 4" class="list-group empty-slot">
        <div class="media">
            <div class="media-left">
                <div class="empty-avatar"></div>
            </div>
            <div class="media-body">
                <h4 class="media-heading" translate>Empty slot</h4>
                <small translate>Drag player from bench here</small>
            </div>
        </div>
    </div>
    <div class="odd-header"></div>
    <div class="blue-grey-500 font-weight-300 font-size-16 odd-title">
        <translate> Bench </translate>&nbsp;
        <small class="font-weight-300 font-size-12" translate>
            (drag and move players)
        </small>
    </div>
    <div class="list-group members bench" id="benchPlayers" DONOT-ui-sortable="vm.sortableOptions" ng-if="vm.player.isCaptain()" ng-model="vm.benchPlayers">
        <a ng-repeat="player in vm.benchPlayers" class="list-group-item" href="javascript:void(0)">
            <div class="media">
                <div class="media-left">
                    <div class="avatar avatar-md">
                        <img ng-src="{{player.steam_avatar_url}}" />
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{player.steam_personal_name}}
                        <i ng-click="vm.expelMember(player)"
                            class="icon wb-close-mini pull-right player-remove"></i>
                    </h4>
                    <small translate>Bench</small>
                </div>
            </div>
        </a>
    </div>
</div>
