<div class="dropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

        <span ng-show="language === 'ru'">Русский</span>
        <span ng-show="language === 'en'">English</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
        <li ng-show="language === 'en'" role="presentation">
            <a href="javascript:void(0);" role="menuitem" ng-click="switchTo('ru')">Русский</a>
        </li>
        <li ng-show="language === 'ru'" role="presentation">
            <a href="javascript:void(0);" role="menuitem" ng-click="switchTo('en')">English</a>
        </li>
    </ul>
</div>
