<form class="general-info" name="generalInfo" role="form">
    <div class="col-xs-8 details">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="margin-bottom-30">Tournament Mode</h3>
            </div>
            <div class="col-xs-12" aria-label="Default button group" role="group">
                <div class="row margin-bottom-20">
                    <button ng-class="{'active':(!vm.attributes.is_solo)}"
                        ng-click="vm.attributes.is_solo = false" type="button"
                        class="btn btn-outline btn-primary padding-horizontal-30 left col-xs-5">

                        <i ng-if="!vm.attributes.is_solo" class="icon wb-check"></i>
                        <translate>Team Mode</translate>
                    </button>

                    <button ng-class="{'active':(vm.attributes.is_solo)}"
                        ng-click="vm.attributes.is_solo = true" type="button"
                        class="btn btn-outline btn-primary padding-horizontal-30 right col-xs-5">

                        <i ng-if="vm.attributes.is_solo" class="icon wb-check"></i>
                        <translate>Solo Mode</translate>
                    </button>
                    <div class="col-xs-2 htooltip">
                        <i class="icons8-info font-size-26"></i>
                        <span>
                            Choose the mode of tournament
                        </span>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-xs-3 padding-top-20 font-size-18">
                        Players in team:
                    </div>
                    <div class="col-xs-7">
                        <rzslider
                            rz-slider-model="vm.attributes.policy.min_players_count"
                            rz-slider-high="vm.attributes.policy.max_players_count"
                            rz-slider-options="{floor: 1, ceil: 5}">
                            </rzslider>
                    </div>
                    <div class="col-xs-2 htooltip padding-top-20">
                        <i class="icons8-info font-size-26"></i>
                        <span>Choose the team players amount</span>
                    </div>
                </div>
                <div class="row margin-bottom-40">
                    <div class="col-xs-1 padding-5 text-center vertical-align-middle icon-label">
                        <i ng-if="vm.attributes.is_solo"
                            class="icons8-contacts font-size-18"
                            aria-hidden="false"></i>
                        <i ng-if="!vm.attributes.is_solo"
                            class="icons8-user-group-man-man font-size-18"
                            aria-hidden="false"></i>
                    </div>
                    <div ng-if="vm.attributes.is_solo"
                        class="col-xs-9 padding-0 form-group"
                        ng-class="{'has-error': generalInfo.participants.$invalid }">
                        <input ng-model="vm.attributes.participants_count"
                            ng-change="vm.setPlaces()"
                            validate-solo-participants
                            min="vm.attributes.policy.min_players_count"
                            max="vm.attributes.policy.max_players_count"
                            type="number" class="form-control" name="participants"
                            autocomplete="off" placeholder="2" />
                    </div>
                    <div ng-if="!vm.attributes.is_solo"
                        class="col-xs-9 padding-0 form-group"
                        ng-class="{'has-error': generalInfo.participants.$invalid }">

                        <input ng-model="vm.attributes.participants_count"
                            ng-change="vm.setPlaces()"
                            validate-team-participants
                            type="number" class="form-control" name="participants"
                            autocomplete="off" placeholder="2" />
                    </div>
                    <div ng-show="generalInfo.participants.$invalid"
                        class="col-xs-2 has-error htooltip">
                        <i class="icons8-info font-size-26"></i>
                        <span>
                            <ul class="padding-left-0">
                                <li ng-show="generalInfo.participants.$error.soloDegreeValidator"
                                    class="help-block padding-0">
                                    Participants amount has to be in range [min..max] and equal one to another
                                    by team players amount as degree of 2 (2, 4, 8...)
                                </li>
                                <li ng-show="generalInfo.participants.$error.soloValueValidator"
                                    class="help-block padding-0">
                                    Participants amount has to be more then minimum team players amount multiple 2
                                </li>
                                <li ng-show="generalInfo.participants.$error.multipleOfTwo"
                                    class="help-block padding-0">
                                    Participants amount has to be as multiple of 2
                                </li>
                                <li ng-show="generalInfo.participants.$error.teamDegreeValidator"
                                    class="help-block padding-0">
                                    Participants amount has to be as degree of 2 (2, 4, 8...)
                                </li>
                                <li ng-show="generalInfo.participants.$error.teamValueValidator"
                                    class="help-block padding-0">
                                    Participants amount has to be more then 1
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div ng-show="generalInfo.participants.$valid"
                        class="col-xs-2 htooltip">
                        <i class="icons8-info font-size-26"></i>
                        <span>Choose the total of participants amount</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="margin-bottom-30">Launch Conditions</h3>
            </div>
            <div class="col-xs-12" aria-label="Default button group" role="group">
                <div class="row margin-bottom-20">
                    <button ng-class="{'active':(!vm.attributes.is_cooldown)}"
                        ng-click="vm.attributes.is_cooldown = false" type="button"
                        class="btn btn-outline btn-primary padding-horizontal-30 left col-xs-5">

                        <i ng-if="!vm.attributes.is_cooldown" class="icon wb-check"></i>
                        <translate>Appointed Time</translate>
                    </button>

                    <button ng-class="{'active':(vm.attributes.is_cooldown)}"
                        ng-click="vm.attributes.is_cooldown = true" type="button"
                        class="btn btn-outline btn-primary padding-horizontal-30 right col-xs-5">

                        <i ng-if="vm.attributes.is_cooldown" class="icon wb-check"></i>
                        <translate>Instant Launch</translate>
                    </button>
                    <div class="col-xs-1">
                        <i class="icons8-info font-size-26"></i>
                    </div>
                </div>
                <div class="row margin-bottom-40" ng-show="!vm.attributes.is_cooldown">
                    <div class="col-xs-1 padding-5 text-center vertical-align-middle icon-label">
                        <i class="icons8-calendar font-size-18" aria-hidden="false"></i>
                    </div>
                    <div class="col-xs-9 padding-0">
                        <input name="start-date" type="text" class="form-control"
                            data-plugin="datepicker">
                    </div>
                    <div class="col-xs-1">
                        <i class="icons8-info font-size-26"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 go-to-next">
        <i ng-click="generalInfo.$valid && vm.switchTo('orgStructure')"
            ng-class="{'active': generalInfo.$valid}"
            class="icons8-circled-chevron-right font-size-80 go-to"></i>
    </div>
</form>
