<div class="org-structure">
    <div class="col-xs-8 details">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="margin-bottom-20">Tournament System</h3>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle
                    text-left col-xs-10"
                    data-toggle="dropdown" aria-expanded="false">

                    <i class="icons8-olympic-medal font-size-16"></i>
                    <span>Single Elimination</span>
                    <span class="caret pull-right margin-top-10"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-primary" role="menu">
                    <li role="presentation">
                        <a href="javascript:void(0);"
                            ng-click=""
                            role="menuitem">Double Elimination</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1">
                <i class="icons8-info font-size-26"></i>
            </div>
        </div>

        <div class="row margin-bottom-40">
            <div class="col-xs-12">
                <h3 class="margin-top-50 margin-bottom-20">Series Mode</h3>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle
                    col-xs-10 text-left"
                    data-toggle="dropdown" aria-expanded="false">

                    <i class="icons8-tree-structure font-size-16"></i>
                    <span>Regular rounds - bo{{vm.attributes.policy.regular_series_count}}
                        / final - bo{{vm.attributes.policy.final_series_count}}</span>
                    <span class="caret pull-right margin-top-10"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-primary"  role="menu">
                    <li role="presentation">
                        <a href="javascript:void(0);"
                            ng-click=""
                            role="menuitem">

                            Regular rounds - bo{{vm.attributes.policy.regular_series_count}}
                                / final - bo{{vm.attributes.policy.final_series_count}}
                            </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1">
                <i class="icons8-info font-size-26"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <h3 class="margin-bottom-20" translate>Restrictions to participate</h3>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-xs-3 padding-top-20 font-size-18">
                Elo rating:
            </div>
            <div class="col-xs-7">
                <rzslider
                    rz-slider-model="vm.attributes.policy.elo_rank[0]"
                    rz-slider-high="vm.attributes.policy.elo_rank[1]"
                    rz-slider-options="{floor:0, ceil: 5000}">
                    </rzslider>
            </div>
            <div class="col-xs-2 htooltip padding-top-20">
                <i class="icons8-info font-size-26"></i>
                <span>Choose the team players amount</span>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-xs-3 padding-top-20 font-size-18">
                Player's level:
            </div>
            <div class="col-xs-7">
                <rzslider
                    rz-slider-model="vm.attributes.policy.level[0]"
                    rz-slider-high="vm.attributes.policy.level[1]"
                    rz-slider-options="{floor:0, ceil: 5000}">
                    </rzslider>
            </div>
            <div class="col-xs-2 htooltip padding-top-20">
                <i class="icons8-info font-size-26"></i>
                <span>Choose the team players amount</span>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-xs-3 padding-top-20 font-size-18">
                Leave rate (%):
            </div>
            <div class="col-xs-7">
                <rzslider
                    rz-slider-model="vm.attributes.policy.leave_rate[0]"
                    rz-slider-high="vm.attributes.policy.leave_rate[1]"
                    rz-slider-options="{floor:0, ceil: 100}">
                    </rzslider>
            </div>
            <div class="col-xs-2 htooltip padding-top-20">
                <i class="icons8-info font-size-26"></i>
                <span>Choose the team players amount</span>
            </div>
        </div>

    </div>
    <div class="col-xs-4 go-to-next">
        <i ng-click="vm.switchTo('prizeSettings')"
            class="active icons8-circled-chevron-right font-size-80 go-to"></i>
    </div>
</div>
