<div class="org-structure">
    <div class="col-xs-8 details">
        <div class="row margin-bottom-40">
            <div class="col-xs-12">
                <h3 class="margin-bottom-20" translate>Prize Type</h3>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle
                    col-xs-10 text-left"
                    data-toggle="dropdown" aria-expanded="false">

                    <i class="icons8-trophy font-size-16"></i>
                    <span>Money, sum of entry fees</span>
                    <span class="caret pull-right margin-top-10"></span>
                </button>
                <!-- <ul class="dropdown-menu dropdown-menu-primary"
                    aria-labelledby="exampleColorDropdown2" role="menu">
                    <li role="presentation">
                        <a href="javascript:void(0);"
                            ng-click=""
                            role="menuitem">Double Elimination</a>
                    </li>
                </ul> -->
            </div>
            <div class="col-xs-1">
                <i class="icons8-info font-size-26"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <h3 class="margin-bottom-20" translate>Entry Fee</h3>
            </div>
            <div class="col-xs-2 col-xs-offset-1">
                <h3 class="margin-bottom-20" translate>Rake</h3>
            </div>
            <div class="col-xs-5 col-xs-offset-1">
                <h3 class="margin-bottom-20" translate>Prize pool</h3>
            </div>
        </div>
        <div class="row margin-bottom-40">
            <div class="col-xs-1 padding-5 text-center vertical-align-middle icon-label">
                <i class="fa fa-skype font-size-18" aria-hidden="false"></i>
            </div>
            <div class="col-xs-2 padding-0">
                <input ng-model="vm.attributes.fee_amount"
                    ng-change="vm.setPrizePool()"
                    type="number" class="form-control" name="prize-pool-amount"
                    autocomplete="off" placeholder="0" />
            </div>
            <div class="col-xs-2 col-xs-offset-1 padding-0">
                <input ng-model="vm.attributes.comission"
                    ng-change="vm.setPrizePool()"
                    type="number" class="form-control" name="rake"
                    autocomplete="off" placeholder="0" />
            </div>

            <div class="col-xs-offset-2 col-xs-2 padding-0">
                <div class="font-size-24 font-weight-600">
                    <span ng-if="vm.attributes.prize_pool_amount === 0">
                        Free
                    </span>
                    <span ng-if="vm.attributes.prize_pool_amount > 0">
                        {{vm.attributes.prize_pool_amount | currency: '$'}}
                    </span>
                </div>
            </div>
            <div class="col-xs-1">
                <i class="icons8-info font-size-26"></i>
            </div>
        </div>
        <div ng-show="vm.attributes.prize_pool_amount > 0">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="margin-bottom-20" translate>Prize Distribution</h3>
                </div>
                <div ng-show="vm.prizeDistibutionIsValid()"
                    class="col-xs-2 padding-top-20 htooltip">
                    <i class="icons8-info font-size-26"></i>
                    <span>
                        Please share total prize pool between all of participants
                    </span>
                </div>
                <div ng-show="!vm.prizeDistibutionIsValid()"
                    class="col-xs-2 has-error padding-top-20 htooltip">
                    <i class="icons8-info font-size-26"></i>
                    <span>
                        <ul class="padding-left-0">
                            <li ng-show="!vm.prizeDistibutionIsValid()"
                                class="help-block padding-0">
                                The total of share percentageses can be equal 100
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div ng-repeat="place in vm.places"
                        ng-class="{'has-error': !vm.prizeDistibutionIsValid()}"
                        class="col-xs-3 text-center margin-bottom-20">

                        <h4 class="margin-bottom-0">{{place.title}}</h4>
                        <h6 class="margin-top-0">place(s)</h6>

                        <input ng-model="place.value"
                            ng-change="
                                vm.changePlaceReward(place.index, place.value);
                                vm.prizeDistibutionIsValid()"
                            share="place.value"
                            type="text" class="form-control" name="share"
                            autocomplete="off" placeholder="%" />

                        <h6>{{ place.reward | currency: '$'}}</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-4 go-to-next">
        <i ng-click="vm.switchTo('rulesAndPolicy')"
            ng-class="{'active': vm.validations.isOrgStructureComplete()}"
            class="icons8-circled-chevron-right font-size-80 go-to"></i>
    </div>
</div>
