<div class="org-structure">
    <div class="col-xs-8 details">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="margin-bottom-20" translate>Rules description</h3>
            </div>
            <div class="col-xs-1 margin-top-15">
                <i class="icons8-info font-size-26"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <textarea class="form-control" rows="7"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <h3 class="margin-bottom-20" translate>Match Settings</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 margin-top-5 font-size-16">
                <input type="checkbox" class="js-switch"
                    ng-model="vm.attributes.policy.strict_mode" switcher-directive>
                Teams' sizes must be equal for match to begin
            </div>
            <div class="col-xs-1">
                <i class="icons8-info font-size-26"></i>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-xs-4 padding-top-20 font-size-18">
                Time to enter (min):
            </div>
            <div class="col-xs-6">
                <rzslider
                    rz-slider-model="vm.attributes.policy.lobby_expiration / 60"
                    rz-slider-options="{floor:1, ceil: 30, showSelectionBar: true}">
                    </rzslider>
            </div>
            <div class="col-xs-2 htooltip padding-top-20">
                <i class="icons8-info font-size-26"></i>
                <span>Choose the team players amount</span>
            </div>
        </div>
    </div>
    <div class="col-xs-4 go-to-next">
        <button ng-click="vm.accept() " ng-disabled="!vm.generalInfo.$valid && !vm.prizeDistibutionIsValid()"
            class="btn btn-success btn-block height-50 font-size-12
            font-weight-700 margin-top-10 ">
            <div class="row ">
                <div class="col-xs-2 col-xs-offset-2
                    btn-icon padding-0 ">
                    <i class="icon font-size-40 icons8-controller "></i>
                </div>
                <div class="col-xs-6 text-left font-size-24 font-weight-800 padding-0 " translate>
                    Let's play
                </div>
            </div>
        </button>
    </div>
</div>
