<div ng-switch on="state" class="game-box-wrapper">
    <div ng-switch-when="invisible">
        <div ng-include="'app/tournaments/details/view-modes/brackets/cell/states/invisible.html'"></div>
    </div>
    <div ng-switch-when="game">
        <div ng-include="'app/tournaments/details/view-modes/brackets/cell/states/game.html'"></div>
    </div>
    <div ng-switch-when="unknown">
        <div ng-include="'app/tournaments/details/view-modes/brackets/cell/states/unknown.html'"></div>
    </div>
</div>
