@import '../../../../../remark/src/less/vars-color';
@import '../../../styles/mixins';
.modal-sidebar {
    & .tab-pane {
        padding-bottom: 0;
    }
    & .modal-body {
        background-color: #FFFFFF;
        padding-bottom: 0;
    }
}
& .team-logo {
    width: 200px;
}
.fill-block {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    &:hover .another-logo-file {
        display: inline-block;
    }
}
.modal-footer.manage-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    & .player-invitation {
        & .link-definition {
            display: none;
            position: absolute;
            border: 1px solid #eeeeee;
            right: 6px;
            border-radius: 2px;
            bottom: 62px;
            background: white;
            padding: 3px;
            color: @color-indigo-600;
        }
        & .link-header {
            border: 30px solid transparent;
            border-right: 323px solid @color-indigo-600;
            border-bottom: 3px solid @color-indigo-600;
            display: block;
            width: 0;
            height: 0;
        }
        & .link-content {
            overflow: hidden;
            background: @color-indigo-600;
        }
        & .link-title {
            width: 280px;
            float: left;
            padding: 20px 30px 15px;
            color: @color-white;
            text-align: left;
        }
        & .link-url {
            font-style: italic;
            font-weight: 500;
        }
        & .link-url-icon {
            float: left;
            padding: 17px 10px;
            color: @color-white;
            &:hover .link-definition {
                display: block;
            }
            &:hover {
                cursor: pointer;
                & .link-icon {
                    border: 3px solid @color-white;
                }
            }
        }
        & .link-icon {
            width: 40px;
            height: 40px;
            .border-radius(25px);
            border: 2px solid @color-white;
            text-align: center;
            font-size: 25px;
        }
    }
}
.manage-team-modal {
    & .leave-team {
        width: 90%;
        margin: 0 auto;
    }
    & #managePlayersTab {
        padding: 0 30px;
    }
    & .background-grey {
        background: @color-grey-200;
    }
    & .site-sidebar-tab-content {
        min-height: calc(~"100vh - 106px");
        & .tab-pane {
            min-height: calc(~"100vh - 106px");
        }
    }
    & .player-remove {
        font-size: 25px;
        position: absolute;
        right: 0;
        top: 22px;
        color: @color-grey-400;
        cursor: pointer;
        font-weight: 200;
        &:hover {
            color: @color-red-700;
        }
    }
    & .avatar {
        .border-radius(20px);
        border: 2px solid @color-green-600;
    }
    & .modal-header {
        height: 67px;
        background-color: #060e2d;
        padding-top: 20px;
        & .close,
        & .modal-title {
            color: @color-white;
            font-weight: 500;
        }
    }
    & .modal-body {
        padding: 0;
        & .members-header {
            padding: 10px 30px;
            margin: 0 -30px;
            background: @color-white;
        }
        & .active-title {
            margin: 0 -30px -1px;
            padding: 11px 30px;
            background: @color-white;
        }
        & #activePlayers {
            background: @color-white;
        }
        & .odd-header {
            background: @color-white;
            border: 30px solid transparent;
            border-right: 323px solid @color-grey-200;
            border-bottom: 3px solid @color-grey-200;
            display: block;
            width: 0;
            height: 0;
            margin: 0 -30px;
        }
        & ul.nav-tabs-line {
            border: none;
            & li {
                text-align: center;
                width: 50%;
                border-radius: 0;
                background: #060e2d;
                transition: 0.25s;
            }
            & a {
                color: @color-white;
                font-weight: 400;
                margin-right: 0;
            }
            & a,
            & a:active,
            & a:hover,
            & li,
            & li:active,
            & li:hover {
                border: none;
            }
            & li.active,
            & li:hover {
                background: @color-white;
                & a {
                    color: #060e2d;
                }
            }
        }
        & .team-members {
            padding-bottom: 100px;
            & .custom-warning {
                margin: 0 -30px;
                padding: 10px 30px;
                background-color: @color-red-500;
                color: @color-white;
                position: relative;
                font-weight: 500;
                font-size: 12px;
                & .exclamation {
                    float: left;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    bottom: 0;
                    width: 50px;
                    & img {
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        top: 50%;
                        margin-top: -25px;
                    }
                }
                & .definition {
                    p {
                        margin: 10px 0 10px 60px;
                    }
                }
            }
            & .empty-slot {
                margin: 0 -30px;
                padding: 10px 30px;
                background: @color-white;
                border-top: 1px solid @color-grey-300;
                & .empty-avatar {
                    width: 40px;
                    height: 40px;
                    border: 2px solid @color-red-500;
                    .border-radius(20px);
                    background: @color-white;
                }
                & .media-body,
                & h4 {
                    color: @color-red-500;
                }
            }
            & .list-group {
                margin-bottom: -1px;
            }
            & .list-group-item {
                border: none;
                border-top: 1px solid @color-grey-300;
                margin-bottom: 0;
                .border-radius(0);
            }
            & .odd-title {
                background: @color-grey-200;
                margin: 0 -30px;
                padding: 10px 30px;
            }
            & .list-group.bench {
                margin-bottom: 0;
                background: @color-grey-200;
                & a {
                    background: @color-grey-200;
                }
            }
            & .bench-definition {
                padding: 40px;
                text-align: center;
            }
        }
    }
    .modal-sm {
        width: 350px;
    }
    .modal-sidebar {
        display: block;
    }
    .player-placeholder {
        content: 'Drop Here';
        display: block;
        min-height: 50px;
        color: @color-blue-grey-600;
        border: 1px dashed @color-blue-grey-300;
        background: @color-blue-grey-100;
    }
    .members {
        min-height: 10px;
    }
    ul.members {
        padding: 0 20px;
        list-style: none;
        min-height: 30px;
        li {
            padding: 5px 0 5px 15px;
            .member-name {
                padding: 3px 0 3px 10px;
                small {
                    font-size: 10px;
                }
            }
            .player-handle,
            .player-remove {
                cursor: pointer;
            }
        }
    }
}
