<div class="modal-header">
    <button type="button" class="close font-weight-normal" ng-click="vm.cancel()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
      {{ 'Team Editor' | translate }}
    </h4>
</div>
<div class="modal-body padding-top-0" ng-if="vm.isReady">
    <div class="nav-tabs-horizontal">
        <ul ng-if="vm.player.isCaptain()" class="nav nav-tabs nav-tabs-line">
            <li ng-class="{'active': (vm.tab === 'players')}" class="pull-left">
                <a ng-click="(vm.tab = 'players')" href="javascript:void(0)">
                  {{ 'Players' | translate }}
                </a>
            </li>
            <li ng-class="{'active': (vm.tab === 'settings')}" class="pull-right">
                <a ng-click="(vm.tab = 'settings')" href="javascript:void(0)">
                  {{ 'General Info' | translate }}
                </a>
            </li>
        </ul>
        <div class="site-sidebar-tab-content tab-content" ng-class="{'background-grey': vm.tab == 'players' && vm.player.isCaptain()}">
            <div ng-show="(vm.tab === 'players')" ng-class="{'active': (vm.tab === 'players')}" class="tab-pane" id="managePlayersTab">
                <div ng-controller="AccountTeamMembersController as vm" ng-include="'app/account/team/members/members.html'" class="team-members"></div>
            </div>
            <div ng-show="(vm.tab === 'settings')" ng-class="{'active': (vm.tab === 'settings')}" class="tab-pane" id="manageSettingsTab">
                <div ng-controller="AccountTeamSettingsController as vm" ng-include="'app/account/team/manage/settings-modal.html'"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer manage-modal">
    <div ng-if="vm.player.isCaptain() && vm.tab === 'players'" ng-controller="AccountTeamInviteController as vm" ng-include="'app/account/team/invite/invite.html'" class="player-invitation"></div>
</div>
