<div class="current-matches" ng-controller="IndicatorController as vm">

    <div ng-repeat="match in vm.currentMatches">
        <div class="match-indicator">
            <div ng-switch on="match.stringStatus">
                <div ng-switch-when="invitation-period" class="invitation-period">
                    <div ng-include="'app/layout/sidebar/current-matches/states/invitation-period.html'"></div>
                </div>
                <div ng-switch-when="running" class="running">
                    <div ng-include="'app/layout/sidebar/current-matches/states/running.html'"></div>
                </div>
                <div ng-switch-when="completed" class="completed">
                    <div ng-include="'app/layout/sidebar/current-matches/states/completed.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
