@import '../../../../styles/mixins';
@import '../../../../../../remark/src/less/vars-color';
@color-indicator-invitation-period: #BD9B35;
@color-indicator-running: #AA8B30;
@color-indicator-completed: #0c163d;

.match-indicator {
    &:hover {
        .go-to-action {
            .triangle-bottomright {
                right: 90px;
            }

            .width-80  {
                width: 90px;
            }
        }
    }
    cursor: pointer;
    margin-top: 1px;
    position: relative;

    & .undefined-team {
        position: absolute;
        color: white;
        font-size: 65px;
        font-weight: 400;
        text-align: center;
        width: 90px;
    }

    & .invitation-period {
        & .go-to-action {
            background: @color-indicator-invitation-period;

            &:hover {
                background-color: lighten(@color-indicator-invitation-period, 3%);
            }
        }

        & .background {
            & .left-side {
                border-top: 90px solid #b7891b;
            }

            & .right-side {
                border-bottom: 90px solid #b7891b;
            }
        }
    }

    & .running {
        & .go-to-action {
            background: #228F56;

            &:hover {
                background-color: lighten(#228F56, 3%);
            }

            & .triangle-bottomright {
                z-index: 1;
                width: 0;
                height: 0;
                border-bottom: 80px solid #1F804D;
                border-left: 28px solid transparent;
                position: absolute;
                top: 0;
                right: 80px;
                transition: 0.2s;
            }

            & .match-status {
                z-index: 2;
                background-color: #1F804D;
                color: @color-white;
                position: absolute;
                right: 0;
                top: 0;
                height: inherit;
            }

            & .site-menu-arrow {
                font-size: 20px;
                right: 30px !important;
            }
        }

        & .background {
            & .left-side {
                border-top: 90px solid @color-green-700;
            }

            & .right-side {
                border-bottom: 90px solid @color-green-800;
            }
        }
    }

    & .completed {
        & .go-to-action {
            background: #0c163d;

            &:hover {
                background-color: lighten(#0c163d, 3%);
            }

            & .triangle-bottomright {
                z-index: 1;
                width: 0;
                height: 0;
                border-bottom: 80px solid #131f50;
                border-left: 28px solid transparent;
                position: absolute;
                top: 0;
                right: 80px;
                transition: 0.2s;
            }

            & .match-status {
                z-index: 2;
                background-color: #131f50;
                color: @color-white;
                position: absolute;
                right: 0;
                top: 0;
                height: inherit;
                transition: 0.2s;
            }

            & .site-menu-arrow {
                font-size: 20px;
                right: 30px !important;
            }
        }

        & .background {
            & .left-side {
                border-top: 90px solid #131f50;
            }

            & .right-side {
                border-bottom: 90px solid #202b56;
            }
        }
    }

    & .go-to-action {
        position: relative;
        height: 80px;
        background: @color-indicator-invitation-period;
        padding: 30px;

        &:hover {
            background-color: darken(@color-indicator-invitation-period, 3%);
            .transition(background-color .2s linear);
        }

        & .indicator-label {
            color: @color-white;
            width: 70%;
            float: left;
        }

        & .triangle-bottomright {
            z-index: 1;
            width: 0;
            height: 0;
            border-bottom: 80px solid @color-indicator-running;
            border-left: 28px solid transparent;
            position: absolute;
            top: 0;
            right: 80px;
            transition: 0.2s;
        }

        & .width-80 {
            width: 80px;
            transition: 0.2s;
        }

        & .width-90 {
            width: 90px;

            & span {
                margin-left: 20px !important;
            }
        }

        & .match-status {
            z-index: 2;
            background-color: @color-indicator-running;
            color: @color-white;
            position: absolute;
            right: 0;
            top: 0;
            height: inherit;

            & .timer {
                color: #6D5920;
                z-index: 2;
                float: left;
            }

            & .site-menu-arrow {
                font-size: 20px;
                right: 10px;
            }
        }
    }

    & .competitors {
        position: relative;
        height: 100px;
        cursor: default;

        & .team-logos {
            z-index: 444;
            position: relative;
            height: 90px;
            font: 0/0 a;
            padding: 0 25px;

            &::before {
                content: ' ';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }

            & .wide-separator,
            & img {
                width: 70px;
                display: inline-block;
                vertical-align: middle;
                font: 16px/1 Arial sans-serif;
                .border-radius(6px);
            }

            & .wide-separator {
                width: 70px;
            }
        }

        & .background {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;

            & .left-side {
                height: 0;
                width: ~"calc(50% + 25px)";
                border-right: 50px solid transparent;
                float: left;
            }

            & .right-side {
                height: 0;
                border-left: 50px solid transparent;
            }

            & .vs {
                position: absolute;
                color: @color-white;
                left: ~"calc(50% - 13px)";
                top: 30px;
                font-size: 22px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
