.bg-luna {
    .border-radiuses(0, 0, 5px, 5px);
    background: url('../../../../images/tournament-cards/1.jpg') 50% 0;
}

.account-info-modal {
    & .close {
        color: @color-white;
        opacity: 0.6;
    }

    & .account-avatar {
        border-radius: 1000px;
        border: 5px solid @color-white;
    }

    & .triangle-bottomright {
        width: 0;
        height: 0;
        border-bottom: 65px solid @color-white;
        border-left: 400px solid transparent;
    }

    & .statistics {
        background-color: @color-white;
    }

    & .account-name {
        color: @color-white;
    }
}
