<div class="account-info-modal width-400 padding-0 bg-luna">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="font-weight-normal font-size-50 close " ng-click="vm.close()">
                    <span aria-hidden="true"> × </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 padding-bottom-25">
                <div class="text-center margin-bottom-30">
                    <img class="account-avatar width-150" ng-src="{{vm.account.steam_avatar_url}}">
                </div>
                <div class="account-name text-center font-weight-700 font-size-18">
                    {{vm.account.steam_personal_name}}
                </div>
            </div>
        </div>
    </div>

    <div class="triangle-bottomright"></div>

    <div class="modal-body statistics ">
        <div class="row font-weight-500 font-size-24 text-center text-uppercase">
            <div class="elo col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-vertical-15 ">
                {{vm.account.statistics[0].rank}}
                <div class="font-weight-100 font-size-12">ELO</div>
            </div>
            <div class="mmr col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-vertical-15">
                none
                <div class="font-weight-100 font-size-12 "> mmr </div>
            </div>
        </div>

        <div class="row font-weight-500 font-size-24 text-center text-uppercase">
            <div class="win-rate col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-vertical-15">
                {{vm.account.getWinrate().toFixed(0)}}%
                <div class="font-weight-100 font-size-12 "> win rate </div>
            </div>
            <div class="leave-rate col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-vertical-15">
                {{vm.account.getLeaverate().toFixed(0)}}%
                <div class="font-weight-100 font-size-12 "> leave rate </div>
            </div>
        </div>
    </div>
</div>
