<form name="accountInfo" role="form" class="panel padding-top-20 admin-account-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9 contact-info padding-left-30">
                <h1 class="currencies-title">
                    <span translate>Account Owner</span>
                </h1>
                <div class="margin-top-15 padding-15">
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Name
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control"
                                ng-model-options="{ debounce: 1500 }"
                                ng-change="vm.submit()" name="name" id="name"
                                autocomplete="off" not-required
                                ng-model="vm.account.name"
                                ng-pattern="/[a-z0-9]+/i"
                                ng-minlength="2" ng-maxlength="32" />
                            <small class="help-block"
                                ng-show="accountInfo.name.$invalid && !accountInfo.name.$pristine" translate>
                                The name is not valid
                            </small>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Type the name
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Surname
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control"
                                ng-model-options="{ debounce: 1500 }"
                                ng-change="vm.submit()" name="surname"
                                autocomplete="off" not-required
                                ng-model="vm.account.surname"
                                ng-pattern="/[a-z0-9]+/i"
                                ng-minlength="2" ng-maxlength="32" />
                            <small class="help-block"
                                ng-show="accountInfo.surname.$invalid && !accountInfo.surname.$pristine" translate>
                                The surname is not valid
                            </small>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Type the surname
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Contact Email
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control"
                                ng-model-options="{ debounce: 1500 }"
                                ng-change="vm.submit()" name="email"
                                autocomplete="off" not-required
                                ng-model="vm.account.email"
                                ng-pattern="/.+/i"
                                ng-minlength="2" ng-maxlength="32" />
                            <small class="help-block"
                                ng-show="accountInfo.email.$invalid && !accountInfo.email.$pristine" translate>
                                The surname is not valid
                            </small>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Type the surname
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 contact-info padding-left-30">
                <h1 class="currencies-title">
                    <span translate>Company Info</span>
                </h1>
                <div class="margin-top-15 padding-15">
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Company
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control"
                                ng-model-options="{ debounce: 1500 }"
                                ng-change="vm.submit()" name="company"
                                autocomplete="off" not-required
                                ng-model="vm.account.company"
                                ng-pattern="/[a-z0-9]+/i"
                                ng-minlength="2" ng-maxlength="32" />
                            <small class="help-block"
                                ng-show="accountInfo.company.$invalid && !accountInfo.company.$pristine" translate>
                                The name is not valid
                            </small>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Type the company name
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Country
                        </div>
                        <div class="col-xs-7">
                            <country-select ng-model="vm.accoount.county"
                                class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern ng-valid-minlength ng-valid-maxlength"
                                cs-priorities="UA, RU, US"></country-select>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Choose the country
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Timezone
                        </div>
                        <div class="col-xs-7">
                          <timezone-selector
                              ng-model="vm.account.timezone"
                              display-utc="true"
                              sort-by="offset"
                              show-local="true"
                              set-local="true"
                              primary-choices="UTC GB WET GMT Asia/Macau"
                              width="380px"
                              class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern ng-valid-minlength ng-valid-maxlength"
                              ></timezone-selector>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Choose the timezone
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
