@import '../../../../styles/mixins';
@import '../../../../../../remark/src/less/vars-color';

@header-height: 250px;

.create-tournament {
    background: @color-white;
    position: relative;
    padding-left: 0 !important;
    & .disabled-tab {
        background: transparent;
        & a {
            color: @color-grey-400;
        }
    }
    & .has-error {
        color: @color-red-500;
    }
    & .tournament-name {
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        font-size: 22px;
        width: 400px;
        margin-top: 10px;
        &:hover, &:active, &:focus {
            outline: none;
        }
    }
    & .details {
        border-right: 1px solid @color-grey-400;
    }
    & .go-to-next {
        padding-top: 120px;
        & .go-to {
            color: @color-grey-200;
            &:hover {
                cursor: pointer;
            }
        }
        & .go-to.active {
            color: @color-green-800;
        }
    }
    & .cover {
        height: @header-height;
        margin: 0 auto;
        min-width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    & .page-header {
        z-index: 0;
        position: absolute;
        height: @header-height;
        top: 0;
        min-width: 100%;
        background: rgba(0, 0, 0, 0.68);
        padding: 50px 100px;
        & h1 {
            color: @color-white;
            font-size: 45px;
        }
        & .page-title-definition {
            color: @color-white;
            font-weight: 100;
        }
    }
    & .page-content {
        min-width: 100%;
        padding: 0;
        margin-top: -41px;
        z-index: 99999;
        & .nav-tabs-horizontal {
            & .nav-tabs {
                margin-left: -1px;
                border-bottom: none;
                & li {
                    min-width: 160px;
                    text-align: center;
                }
                & a {
                    font-weight: 300;
                    color: @color-white;
                    margin-right: 0;
                    background-color: transparent;
                    text-transform: uppercase;
                    .border-radius(0);
                }
                & li.active a,
                & li:hover a {
                    color: @color-blue-grey-800;
                    background-color: @color-white;
                    border-color: transparent;
                    background-clip: inherit !important;
                    .border-radius(0);
                }
            }
        }
        & .tab-content {
            padding: 20px 20px 20px 60px;

            & .icon-label {
                background-color: @color-blue-grey-200;
                border: 1px solid @color-blue-grey-200;
                height: 34px;
                .border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 3px, @topleft: 3px);

                & i {
                    margin-top: 2px;
                }
            }
            & input {
                .border-radiuses (@topright: 3px, @bottomright: 3px, @bottomleft: 0, @topleft: 0);
            }
        }
    }
    & .general-info {
        & button.left {
            .border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 3px, @topleft: 3px);
        }
        & button.right {
            .border-radiuses (@topright: 3px, @bottomright: 3px, @bottomleft: 0, @topleft: 0);
        }
    }
}

.htooltip span {
    background-color: rgba(0,0,0, 0.8);
    .border-radius(3px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: @color-white;
    margin-left: 3px;
    font-size: 14px;
    font-style: normal;
    margin-top: 7px;
    opacity: 0;
    padding: 10px 10px 10px 20px;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
    width: 350px;
    z-index: 10;
}

.htooltip:hover {
    cursor: pointer;
    & span {
        opacity: 1;
        visibility: visible;
    }
}
