<div class="page create-tournament">
    <div class="cover" tournament-large-img url="vm.attributes.logo_url"></div>
    <div class="page-header -margin-bottom-30">
        <h1 class="page-title color-grey-800" translate>Create Tournament</h1>
        <input type="text" name="tname" class="tournament-name" placeholder="Tourmament Name*" value="{{vm.attributes.name}}">
    </div>
    <div class="page-content">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                <li ng-class="{'active': vm.step === 'generalInfo'}" role="presentation">
                    <a data-toggle="tab" href="#" role="tab" ng-click="vm.switchTo('generalInfo')">
                        1.  {{ 'General Info' | translate }}
                    </a>
                </li>
                <li ng-class="{'active': vm.step === 'orgStructure'}" role="presentation">
                    <a data-toggle="tab" href="#" role="tab" ng-click="vm.switchTo('orgStructure')">
                        2. {{ 'Org. Structure' | translate }}
                    </a>
                </li>
                <li ng-class="{'active': vm.step === 'prizeSettings'}" role="presentation">
                    <a data-toggle="tab" href="#" role="tab" ng-click="vm.switchTo('prizeSettings')">
                        3. {{ 'Prize Settings' | translate }}
                    </a>
                </li>
                <li ng-class="{'active': vm.step === 'rulesAndPolicy'}" role="presentation">
                    <a data-toggle="tab" href="#" role="tab" ng-click="vm.switchTo('rulesAndPolicy')">
                        4. {{ 'Rules and Policy' | translate }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content col-md-12">
            <div class="tab-pane active" role="tabpanel" ng-switch on="vm.step">
                <div ng-switch-when="generalInfo">
                    <div ng-include="'app/admin/tournaments/create/steps/general-info.html'"></div>
                </div>
                <div ng-switch-when="orgStructure">
                    <div ng-include="'app/admin/tournaments/create/steps/org-structure.html'"></div>
                </div>
                <div ng-switch-when="prizeSettings">
                    <div ng-include="'app/admin/tournaments/create/steps/prize-settings.html'"></div>
                </div>
                <div ng-switch-when="rulesAndPolicy">
                    <div ng-include="'app/admin/tournaments/create/steps/rules-and-policy.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
