<div class="modal-header">
    <button type="button" class="close font-weight-normal" ng-click="vm.close()">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title text-center font-size-30 font-weight-200 padding-vertical-20"
      translate>
        Step 1. Choose pack
    </h3>
    <p class="text-center" translate> Choose the sum to withdraw </p>
</div>
<div class="modal-body padding-left-40 padding-right-40">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center grey-800 font-size-60 padding-top-20 padding-bottom-30">
                $ {{vm.data.value}}
            </div>
            <div class="padding-bottom-20">
                <input type="range" name="range" ng-model="vm.data.value" min="{{vm.data.limit[0]}}"
                  max="{{vm.data.limit[1]}}" step="{{vm.data.step}}">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="vm.second()" class="btn btn-primary margin-bottom-20 center-block btn-deposit width-250 height-50 font-size-16 font-weight-300">
      <translate> CHOOSE METHOD </translate>
    </button>
</div>
