<div class="modal-header">
    <button type="button" class="close font-weight-normal" ng-click="vm.close()">
        <span aria-hidden="true">×</span>
    </button>
    <button type="button" class="font-weight-normal btn -btn-primary
        bg-blue-grey-100 -blue-grey-500 back-button" ng-click="vm.goToThirdStep()">
        <span aria-hidden="true" translate>Back</span>
    </button>
    <h3 class="modal-title text-center font-size-30 font-weight-200 padding-vertical-20" translate>
        Step 4. Validate
    </h3>
    <p class="text-center" translate>Validate your {{vm.chosenMoneyService.title}} wallet with SMS</p>
</div>
<div class="modal-body padding-40 money-services">
    <div class="row padding-bottom-20">
        <div class="container">
            <div class="col-md-offset-1 col-md-3">
                <img src="images/withdraw-icons/{{vm.chosenMoneyService.code}}.png"
                     alt="{{vm.chosenMoneyService.title}}">
            </div>
            <div class="col-md-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input ng-model="vm.smsCode"
                               type="text" class="form-control" name="smsCode"
                               placeholder="{{'SMS Code' | translate}}"
                               autocomplete="off">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" class="font-weight-normal btn -btn-primary
        bg-blue-grey-100 -blue-grey-500 btn-block">
        <span aria-hidden="true" translate>Validate</span>
    </button>
</div>
