<div class="modal-header">
    <button type="button" class="close font-weight-normal" ng-click="vm.close()">
        <span aria-hidden="true"> × </span>
    </button>
    <button type="button" class="btn back-button font-weight-normal bg-blue-grey-100 "
      ng-click="vm.first()">
        <translate> Back </translate>
    </button>
    <h3 class="modal-title text-center font-size-30 font-weight-200 padding-vertical-20">
        <translate> Step 2. Method </translate>
    </h3>
    <p class="text-center" translate> Choose currency and the method to withdraw </p>
    <div class="text-center">
        <button ng-click="vm.selectPaywayByCurrency('RUB')" ng-class="{'active': vm.currency === 'RUB'}"
          class="btn select-currency-btn font-weight-normal bg-blue-grey-100" type="button">
            <translate> RUB </translate>
        </button>
        <button ng-click="vm.selectPaywayByCurrency('UAH')" ng-class="{'active': vm.currency === 'UAH'}"
          class="btn select-currency-btn font-weight-normal bg-blue-grey-100" type="button">
            <translate> UAH </translate>
        </button>
        <button ng-click="vm.selectPaywayByCurrency('USD')" ng-class="{'active': vm.currency === 'USD'}"
          class="btn select-currency-btn font-weight-normal bg-blue-grey-100" type="button">
            <translate> USD </translate>
        </button>
    </div>
</div>
<div class="modal-body padding-left-40 padding-right-40 money-services">
    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4 padding-bottom-20 padding-right-3" ng-repeat="payway in vm.getPaywaysByCurrency()">
            <div class="btn btn-block bg-blue-grey-100 padding-20 service" ng-click="vm.third(payway)">
                <span class="helper"></span>
                <img ng-src="images/withdraw-icons/{{payway.vendorCode}}.png" alt="{{vm.paywayDetails[payway.vendorCode].name}}">
            </div>
        </div>
    </div>
</div>
