<div class="modal-header">
    <button type="button" class="close font-weight-normal" ng-click="vm.close()">
        <span aria-hidden="true">×</span>
    </button>
    <button type="button" class="btn back-button bg-blue-grey-100 font-weight-normal "
      ng-click="vm.second()">
        <translate> Back </translate>
    </button>
    <h3 class="modal-title text-center font-size-30 font-weight-200 padding-vertical-20">
      <translate> Step 3. Withdrawal </translate>
    </h3>
    <p class="text-center" translate> Input the wallet num and validate it </p>
</div>
<div class="modal-body padding-40 money-services">
    <div class="row padding-bottom-20">
        <div class="container">
            <div class="col-md-offset-1 col-md-3 col-sm-3">
                <img ng-src="images/withdraw-icons/{{vm.payway.vendorCode}}.png" alt="{{vm.paywayDetails[vm.payway.vendorCode].name}}"
                />
            </div>
            <div class="col-md-8 col-sm-8">
                <form class="form-horizontal" name="paywayForm">
                    <div class="form-group">
                        <input ng-model="vm.account" payway-account-validator-directive="{{vm.payway.code}}"
                          type="text" class="form-control" name="account" placeholder="{{'Enter payment account number' | translate}}"
                          autocomplete="off">
                        <span ng-if="paywayForm.$invalid" class="red-500 font-size-12" translate>
                              Enter correct value of payment account number
                        </span>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <button ng-click="vm.withdraw()" ng-disabled="paywayForm.$invalid" type="button"
      class="btn grey-100 btn-deposit margin-bottom-20 center-block width-250 height-50 font-size-16 font-weight-300">
        <translate> WITHDRAW {{vm.preWithdrawOptions.amount}} {{vm.payway.currencyCode.toUpperCase()}}</translate>
    </button>
</div>
