<div ng-switch on="vm.step" class="withdraw-modal">
    <div ng-switch-when="first">
        <div ng-include="'app/wallet/withdraw/first-step.html'"></div>
    </div>

    <div ng-switch-when="second">
        <div ng-include="'app/wallet/withdraw/second-step.html'"></div>
    </div>

    <div ng-switch-when="third">
        <div ng-include="'app/wallet/withdraw/third-step.html'"></div>
    </div>

    <div ng-switch-when="fourth">
        <div ng-include="'app/wallet/withdraw/fourth-step.html'"></div>
    </div>
</div>
