@import '../../../../styles/mixins';
@import '../../../../../../remark/src/less/vars-color';

.tournament-info-modal {
    z-index: 1500 !important;

    & .steam-icon {
        width: 20px;
        float: left;
    }

    .tournament-name {
        .text-shadow (0 1px 3px rgba(0, 0, 0, 0.95));
    }

    .bg-luna {
        .border-radiuses(0, 0, 5px, 5px);
        background: url('../../../../images/tournament-cards/1.jpg') 50% 0;
    }
    .places {
        .first-place {
            color: @color-orange-800;
            border: 2px solid @color-orange-800;
            .border-radius(100px);
        }
        .second-place {
            color: @color-purple-800;
            border: 2px solid @color-purple-800;
            .border-radius(100px);
        }
        .third-place {
            color: @color-red-800;
            border: 2px solid @color-red-800;
            .border-radius(100px);
        }
    }
}
