<!-- TODO: Replace with actual tournament type image -->
<div class="modal-body width-1000 padding-0">
    <div class="row">
        <div class="col-xs-5 bg-luna height-500" tournament-large-img tournament="vm.tournament">
            <div class="margin-top-20 margin-left-20 tournament-name">
                <div class="font-size-40 blue-grey-100 font-weight-600 text-uppercase">{{vm.tournament.name}}</div>
                <div class="font-size-20 blue-grey-100 text-uppercase" translate>Regular tournament</div>
            </div>
        </div>
        <div class="col-xs-7 blue-grey-800 padding-20">
            <button type="button" class="close margin-right-20" ng-click="vm.close()">
                <span class="font-weight-400 font-size-20" aria-hidden="true">×</span>
            </button>

            <div class="font-weight-400 font-size-30" translate>Prize pool</div>
            <div class="font-size-14 blue-grey-500" translate>Team awards</div>

            <!-- places reward -->
            <div class="row places margin-bottom-15 padding-vertical-30 places">
                <div class="col-xs-4 ">
                    <div class="counter counter-md">
                        <div class="counter-number-group text-nowrap">
                            <span class="counter-number">
                                <!-- {{vm.tournament.getPlaceRewardAmount(0) | currency:"$"}} -->
                            </span>
                            <span class="counter-number-related"></span>
                        </div>
                        <div class="counter-label font-size-12 blue-grey-400" translate>1 PLACE</div>
                    </div>
                </div>

                <div class="col-xs-4 ">
                    <div class="counter counter-md">
                        <div class="counter-number-group text-nowrap">
                            <span class="counter-number">
                                <!-- {{vm.tournament.getPlaceRewardAmount(1) | currency:"$"}} -->
                            </span>
                            <span class="counter-number-related"></span>
                        </div>
                        <div class="counter-label font-size-12 blue-grey-400" translate>2 PLACE</div>
                    </div>
                </div>

                <div class="col-xs-4 ">
                    <div class="counter counter-md">
                        <div class="counter-number-group text-nowrap">
                            <span class="counter-number">
                                <!-- {{vm.tournament.getPlaceRewardAmount(2) | currency:"$"}} -->
                            </span>
                            <span class="counter-number-related"></span>
                        </div>
                        <div class="counter-label font-size-12 blue-grey-400" translate>3,4 PLACE</div>
                    </div>
                </div>
            </div>
            <!-- / places reward -->
            <!-- tournament stats -->
            <div class="row height-50 margin-bottom-30">
                <div class="col-md-6 row">
                    <div class="col-xs-offset-1 col-xs-2 text-center">
                        <i class="icons8-calendar font-size-30" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9">
                        <div ng-if="vm.tournament.starts_at" class="font-size-16 font-weight-600">
                            {{vm.moment(vm.tournament.starts_at).calendar()}}
                        </div>
                        <div ng-if="!vm.tournament.starts_at" class="font-size-16 font-weight-600" translate>
                            By filling
                        </div>
                        <div class="blue-grey-500 font-size-12" translate>begins</div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-xs-offset-1 col-xs-2 text-center">
                        <i class="icons8-knight-shield font-size-30" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9">
                        <div class="font-size-16 font-weight-600">{{vm.tournament.getMatchesCount()}}</div>
                        <div class="blue-grey-500 font-size-12" translate>matches count</div>
                    </div>
                </div>
            </div>

            <div class="row height-50 margin-bottom-50">
                <div class="col-md-6 row">
                    <div class="col-xs-offset-1 col-xs-2 text-center">
                        <i class="icons8-teams font-size-30" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9">
                        <div>
                        <span class="font-size-18 font-weight-600">
                            {{vm.tournament.participants_count - vm.tournament.getFreeSlotsCount()}}/{{vm.tournament.participants_count}}
                        </span>
                        </div>
                        <div class="blue-grey-500 font-size-12" translate>partipants</div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-xs-offset-1 col-xs-2 text-center">
                        <i class="icons8-empty-hourglass font-size-30" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9">
                        <!-- TODO: Replace with actual tournament average length -->
                        <div class="font-size-16 font-weight-600">
                            <div time-counter hours="vm.tournament.getAverageDuration()"></div>
                        </div>
                        <div class="blue-grey-500 font-size-12" translate>average duration</div>
                    </div>
                </div>
            </div>
            <!-- / tournament stats -->
            <div class="modal-footer padding-0 padding-top-40 padding-right-20">
                <button ng-if="!vm.isParticipantOfTournament"
                        type="button" ng-click="vm.join();"
                        class="btn btn-success btn-lg font-size-14 font-weight-400">
                    <span ng-if="vm.tournament.getPlayerFee() > 0">
                        {{vm.tournament.getPlayerFee() | currency:'$'}}
                    </span>&nbsp;
                    <translate>JOIN</translate>
                </button>

                <button ng-if="
                    vm.isParticipantOfTournament &&
                    (vm.tournament.isNew() || (!vm.tournament.isCooldown() && vm.tournament.isReady()))"

                    ng-click="vm.leave()"
                    class="btn btn-primary font-size-14"
                    translate>

                    LEAVE
                </button>
            </div>
        </div>
    </div>
</div>
