@import '../../../../../remark/src/less/vars-color';

.steam-message-block:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

.steam-message {
    display: inline-flex;

    & .message {
        color: @color-white;
    }

    & .message-con {
        color: #ffffff;
    }

    .fa-vk {
        color: #ffffff;
    }
}

.progress-tournaments {
    display: inline-flex;
    position: absolute;
    bottom: 100px;
    color: #ffffff;

    .current-tour-description {
        margin-left: 4px;
    }
}
