<div class="site-menubar-body">
    <div ng-include="'app/layout/sidebar/current-matches/indicator.html'" class="current-matches-panel"></div>
    <ul class="site-menu">
        <li class="site-menu-item" ng-class="{ 'current': vm.isCurrent(r) }" ng-repeat="r in vm.getRoutes()">
            <a class="animsition-link" ui-sref="{{ r.name }}" alt="{{ r.title }}" data-slug="angular">
                <i class="site-menu-icon {{ r.settings.icon }} font-size-26 vertical-align-middle" aria-hidden="true"></i>
                <span class="site-menu-title font-size-14 text-uppercase vertical-align-middle" ng-bind-html="r.settings.content"></span>
                <div class="site-menu-label" ng-show="r.isNew">
                    <span class="label label-danger label-round">
                      {{ 'new' | translate }}
                    </span>
                </div>
            </a>
        </li>
        <li ng-if="vm.access" class="site-menu-item" ng-class="{ 'current': vm.isCurrent(r) }" ng-repeat="r in vm.getRestrictRoutes()">
            <a class="animsition-link" ui-sref="{{ r.name }}" alt="{{ r.title }}" data-slug="angular">
                <i class="site-menu-icon {{ r.settings.icon }} font-size-26 vertical-align-middle" aria-hidden="true"></i>
                <span class="site-menu-title font-size-14 text-uppercase vertical-align-middle" ng-bind-html="r.settings.content"></span>
            </a>
        </li>
        <li class="padding-horizontal-30 hidden-sm hidden-xs hidden-md steam-message-block margin-top-50">
            <a href="https://vk.com/winranger?w=wall-112743972_927" target="_blank" class="steam-message padding-vertical-20">
                <i class="font-size-26 fa fa-vk">
            </i>
                <span class="message margin-left-25">
                <p translate class="message-con">
                    Get a chance to win $50 by Winranger!
                </p>
                <p translate class="font-size-12">
                    We give the bucks for the sharing a post from our VK group!
                </p>
            </span>
            </a>
        </li>
        <li class="progress-tournaments padding-horizontal-30 hidden-sm hidden-xs hidden-md">
            <i class="icon pull-left icons8-leaderboard font-size-26 margin-top-5"></i>
            <div class="pull-left">
                <span class="font-size-26 font-weight-800 margin-left-15"> {{ vm.currentTournaments.length }} </span>
                <span class="font-size-12 current-tour-description text-break">
                  {{ 'Tournaments in progress' | translate }}
                </span>
            </div>
        </li>
    </ul>
</div>
<div class="site-menubar-footer">
    <a ui-sref="root.account.info" aria-hidden="true" tooltip-popup-delay="1000" uib-tooltip="{{ 'Change the profile settings and view the statistics' | translate }}"
      class="avatar-section fold-show" href="javascript: void(0);" role="button">
        <span class="avatar">
            <img ng-src="{{ vm.account.steam_avatar_url }}" alt="{{ vm.account.steam_personal_name }}">
        </span>
    </a>
    <a ui-sref="root.account.info" aria-hidden="true" tooltip-popup-delay="1000" uib-tooltip="{{ 'Change the profile settings and view the statistics' | translate }}"
      class="name-section" href="javascript: void(0);" role="button">
        <span class="name">{{ vm.account.steam_personal_name }}</span>
    </a>
    <a href="javascript: void(0);" class="logout" ng-click="vm.logout()">
        <span class="icon wb-power" aria-hidden="true" tooltip-popup-delay="1000" uib-tooltip="{{ 'Log out of the system' | translate }}"></span>
    </a>
</div>
