<div class="game-box text-truncate">
    <div class="good-team active">
        <img ng-src="{{game.goodTeam.logoUrl}}">

        <span class="font-style-italic font-weight-bold team-name padding-horizontal-5 ">
            <i>{{game.goodTeam.name }}</i>
        </span>
        <div class="team-score font-weight-bold font-size-16">
            {{game.goodTeam.score}}
        </div>
    </div>

    <div class="bad-team active">
        <img ng-src="{{game.badTeam.logoUrl}}">

        <span class="font-style-italic font-weight-bold team-name padding-horizontal-5">
            <i>{{game.badTeam.name }}</i>
        </span>
        <div class="team-score font-weight-bold font-size-16">
            {{game.badTeam.score}}
        </div>
    </div>
</div>
