<div class="game-box">
    <div class="good-team unknown">
        <div class="unknown-logo"></div>

        <span class="unknown font-style-italic font-weight-bold team-name padding-horizontal-5">
            <i>Unknown</i>
        </span>

        <div class="team-score font-weight-bold font-size-16">?</div>
    </div>

    <div class="bad-team unknown">
        <div class="unknown-logo"></div>

        <span class="unknown font-style-italic font-weight-bold team-name padding-horizontal-5">
            <i>Unknown</i>
        </span>

        <div class="team-score font-weight-bold font-size-16">?</div>
    </div>
</div>
