<div class="page account padding-0 account-wallet" ng-controller="AccountController as vm">

    <div class="page-bg padding-0" page-bg page="'account'"></div>

    <div class="page-header padding-0">
        <div class="header-content padding-30">
            <span class="avatar width-100 font-weight-800"><img src="{{vm.account.steam_avatar_url}}"></span>
            <span class="font-size-40 account-name margin-left-30 vertical-align-middle">{{vm.account.steam_personal_name}}</span>
        </div>
    </div>

    <div class="page-content container-fluid padding-0">
        <div class="nav-tabs-horizontal" data-plugin="nav-tabs">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': (vm.viewMode === 'root.account.info')}">
                    <a ui-sref="root.account.info" class="text-uppercase tab-description" translate>
                      General Info
                    </a>
                </li>

                <li ng-class="{'active': (vm.viewMode === 'root.account.wallet')}">
                    <a ui-sref="root.account.wallet" class="text-uppercase tab-description" translate>
                      Wallet
                    </a>
                </li>

                <li ng-class="{'active': (vm.viewMode === 'root.account.referral')}">
                    <a ui-sref="root.account.referral" class="text-uppercase tab-description" translate>
                      Referrals
                    </a>
                </li>
            </ul>
        </div>

        <div class="container padding-0 margin-0">
            <div ui-view>
            </div>
        </div>
    </div>
</div>
