.account {
    & .page-title {
        color: @color-white;
    }

    & .account-name {
        // float: left;
        color: @color-white !important;
    }

    & .header-content {
        overflow: hidden;
    }

    & .avatar {
        float: left;
        border: 4px solid @color-white;
    }

    .nav-tabs > li {
        & a {
            color: @color-white;
            border: 0;
            border-radius: 0;
            margin-right: 0;
        }

        & a:hover,
        a.active,
        a:active {
            background-color: @color-white !important;
            color: @color-blue-grey-800 !important;
            border: 0;
            border-radius: 0;
            margin-right: 0;
        }
    }

    .nav-tabs > li.active > a {
        background-color: @color-white !important;
        color: @color-blue-grey-800 !important;
        border: 0;
        border-radius: 0;
        margin-right: 0;
    }

    .panel {
        border-radius: 0;
        margin: 0 !important;
    }

    .tab-description {
        border: 0 !important;
    }

    .container {
        width: 100% !important;
        height: 100%;
    }
}

.account-info-update-form {
    & .form-label {
        padding-top: 7px;
    }
}
