@import '../../../../../remark/src/less/vars-color.less';
.your-team-panel {
    .team-info {
        .logo {
            width: 100px;
        }
    }
    .team-members {
        border-left: 1px solid @color-grey-200;
    }
}
