<div class="panel your-team" ng-controller="DashboardTeamStatsController as vm">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{vm.team.name}}'s stats
            <small> (your team stats) </small>
        </h3>
    </div>
    <div class="panel-body height-200">
        <div class="row">

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.team.won_games_count}}</span>
                    </div>
                    <div class="counter-label blue-grey-400">Won Games</div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.team.lost_games_count}}</span>
                    </div>
                    <div class="counter-label blue-grey-400">Lost Games</div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">{{vm.team.getWinrate()}}%</span>
                    </div>
                    <div class="counter-label blue-grey-400">Winrate</div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="counter counter-md">
                    <div class="counter-number-group text-nowrap">
                        <span class="counter-number">1000</span>
                        <span class="counter-number-related">_</span>
                    </div>
                    <div class="counter-label blue-grey-400">Points earned</div>
                </div>
            </div>

        </div>
    </div>
</div>
