<h2>{{team.name}}</h2>
<div class="team-side">
    <span ng-if="team.isDire" class="the-dire">The Dire</span>
    <span ng-if="!team.isDire" class="the-radiant">The Radiant</span>
</div>
<!-- <div class="team-logo">
    <img ng-src="{{team.logoUrl}}"/>
</div> -->
<div class="team-score" ng-class="{'the-dire': team.isDire, 'the-radiant': !team.isDire}">
    {{team.score}}
</div>

<div class="gamers">
    <div ng-repeat="player in team.members">

        <div class="gamer" ng-class="{'custom-margin': $index === 3}">
            <div data-placement="top" data-toggle="tooltip" aria-hidden="true"
                data-original-title="Account" class="avatar-section" role="button">

                <span class="avatar border-ready">
                    <img ng-src="{{player.steam_avatar_url}}" alt="{{player.steam_personal_name}}">
                </span>
            </div>
            <h5 class="name">{{player.steam_personal_name}}</h5>
        </div>
    </div>
</div>
