<div class="go-to-action" ng-click="vm.enterLobby(match.tournament_id)">
    <div class="indicator-label hidden-xs hidden-sm hidden-md" translate>
        Awaiting Opponents...
    </div>
    <div class="match-status">
        <span class="hidden-lg">...</span>
        <div class="triangle-bottomright hidden-xs hidden-sm hidden-md">
        </div>
        <div class="match-status padding-vertical-25 text-center width-90 hidden-lg">
            <span class="site-menu-arrow"></span>
        </div>
        <div class="match-status padding-vertical-25 text-center width-80 hidden-xs hidden-sm hidden-md">
            <span class="site-menu-arrow"></span>
        </div>
    </div>
</div>
<!-- <div class="competitors hidden-xs hidden-sm hidden-md">
    <div class="background">
        <div class="left-side"></div>
        <div class="vs"> vs </div>
        <div class="right-side">
          <span class="undefined-team">?</span>
        </div>
    </div>

    <div class="team-logos">
        <img ng-show="vm.team.logo_url" ng-src="{{vm.team.logo_url}}">
        <img ng-show="!vm.team.logo_url" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg">

        <div class="wide-separator"></div>
    </div>
</div> -->
