<div class="go-to-action padding-vertical-15" ng-click="vm.enterLobby(match.tournament_id)">
    <div class="indicator-label hidden-xs hidden-sm hidden-md">
        <p class="font-weight-800 font-size-16 font-family-base margin-bottom-0 margin-top-5" translate>Enter the lobby</p>
        <p class="text-nowrap text-truncate">{{match.name}}</p>
    </div>

    <div class="triangle-bottomright hidden-xs hidden-sm hidden-md">
    </div>
    <div class="match-status padding-vertical-25 text-center width-90 hidden-lg">
        <span countdown-timer date="match.getInvitationPeriodEnd()" callback="CurrentMatchService.fetch" class="timer font-size-18 font-weight-700 margin-left-10"></span>
    </div>
    <div class="match-status padding-vertical-25 text-center width-80 hidden-xs hidden-sm hidden-md">
        <span countdown-timer date="match.getInvitationPeriodEnd()" callback="CurrentMatchService.fetch" class="timer font-size-18 font-weight-700 margin-left-10"></span>
    </div>
</div>
<!-- <div class="competitors hidden-xs hidden-sm hidden-md">
    <div class="background">
        <div class="left-side"></div>
        <div class="vs">
            vs
        </div>
        <div class="right-side"></div>
    </div>

    <div class="team-logos">
        <img ng-src="{{goodTeam.logoUrl}}" />
        <div class="wide-separator"></div>
        <img ng-src="{{badTeam.logoUrl}}" />
    </div>
</div> -->
