<div class="complicated clearfix" tooltip-popup-delay="1000" data-placement="top" uib-tooltip="{{ 'Participate the tournament' | translate }}">
    <div class="left-side">
        <div ng-if="!tournament.getPlayerFee()"> free </div>
        <div ng-if="tournament.getPlayerFee()" ng-switch="tournament.currency.code">
            <div ng-switch-when="WRC" class="wrc-icon-green"> {{::tournament.getPlayerFee()}}</div>
            <div ng-switch-when="USD"> ${{::tournament.getPlayerFee()}}</div>
        </div>
    </div>
    <div class="right-side"> {{ 'Register' | translate}} </div>
</div>
