
.popup-mod {
    font-family: Roboto;
    text-align: center;
    position: relative;
    overflow: hidden;

    .tournament-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
    }

    .popup-header {
        position: relative;
        z-index: 2;
        padding: 20px 0 10px 0;

        & > div {
            position: relative;
            z-index: 2;
            font-size: 20px;
            font-weight: bold;
            color: @color-white;
            font-style: italic;

            &.header-title {
                font-weight: normal;
            }

            &.header-tournament-game {
                margin-bottom: 20px;
            }

            &.countdown {
                font-size: 30px;
                font-weight: 900;
            }
        }
    }

    .popup-body {
        padding: 40px 20px;
        padding-top: 30px;
        position: relative;
        z-index: 3;
        background-color: @color-white;
        transform: rotate(-8deg);
        width: 450px;
        left: -18px;

        .players-block {
            transform: rotate(8deg);

            .players-accepted {
                margin-bottom: 15px;
                text-transform: uppercase;
                font-size: 14px;
            }

            .players-registration {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 50px;
                position: relative;
                left: -9px;

                .player-item {
                    width: 50px;
                    margin-right: 10px;

                    &:nth-child(5n) {
                        margin-right: 0;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 2px solid @color-grey-200;
                        object-fit: cover;
                    }

                    &.accepted {
                      img {
                        border: 2px solid @color-green-500;
                      }
                    }

                    .player-name {
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .popup-footer {
        position: relative;
        z-index: 4;
        height: 75px;

        .accept-button {
            position: absolute;
            background-color: @color-green-mod-card-main;
            transform: rotate(-8deg);
            width: 450px;
            top: 0;
            left: -24px;
            height: 145%;
            cursor: pointer;
            transition: 0.2s;

            span {
                display: block;
                padding: 26px 0;
                transform: rotate(8deg);
                text-transform: uppercase;
                color: @color-white;
                font-size: 20px;
                position: relative;
                font-weight: 800;
            }

            &:hover {
                top: -10px;
                height: 150%;
                background-color: @color-green-mod-card-footer-hover;
            }
        }
    }
}
