<div class="body-mask">
    <div class="popup-mod accpet-popup">
        <img ng-src="/images/team-player-bg.jpg" alt="tournament-image" class="tournament-image">
        <div class="popup-header">
            <div class="header-title">{{ 'Your Tournament is Ready!' | translate }} </div>
            <div class="header-tournament-game">{{ vm.tournament.name }}</div>
            <div class="countdown" countdown-timer date="vm.tournament.starts_at" callback="vm.onExpire()">
            </div>
        </div>
        <div class="popup-body">
            <div class="players-block">
                <div class="players-accepted font-size-30 blue-grey-800">
                    {{ vm.getAcceptedCount() }} / {{ vm.requests.length }} {{ 'Accepted' | translate }}
                </div>
                <div ng-if="vm.requests.length < 17" class="players-registration">
                    <div class="player-item" ng-class="{ 'accepted': request.is_approved }" ng-repeat="request in vm.requests">
                        <img ng-src="{{ request.account.steam_avatar_url }}" alt="{{ request.account.steam_personal_name }}">
                        <div class="player-name text-truncate">{{ request.account.steam_personal_name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div ng-click="vm.accept()" class="accept-button">
                <span ng-if="!vm.isAccepted"> {{ 'Accept' | translate }}</span>
                <span ng-if="vm.isAccepted"> {{ 'Waiting' | translate }}... </span>
            </div>
        </div>
    </div>
</div>
