<div ng-click="resize()" class="player-wrapper">

</div>
<div class="expand-player" ng-click="resize()">
    <translate>Expand</translate>
    <webicon icon="chevron_down_round" class="ng-scope webicon svg-webicon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
          style="pointer-events: none; display: inline-block;">
          <path d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3zm0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16 9.913 5 16 5zm-5.28 7.78l-1.44 1.44 6 6 .72.686.72-.687 6-6-1.44-1.44L16 18.063l-5.28-5.282z">
          </path>
        </svg>
    </webicon>
</div>
<div class="turn-player" ng-click="resize()">
    <translate>Collapse</translate>
    <webicon icon="chevron_up_round" class="ng-scope webicon svg-webicon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
          style="pointer-events: none; display: inline-block;">
              <path d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3zm0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16 9.913 5 16 5zm0 6.094l-.72.687-6 6 1.44 1.44L16 13.938l5.28 5.28 1.44-1.437-6-6-.72-.686z">
            </path>
        </svg>
    </webicon>
</div>
<div id="player">
</div>
