.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
}

.player-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: black;
}

.player-wrapper:hover {
    cursor: pointer;
}

.expand-player:hover {
    cursor: pointer;
}

.turn-player:hover {
    cursor: pointer;
}

.join-buttom {
    z-index: 3;
}

.expand-player {
    width: 48px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #ffffff;

    & svg {
        fill: currentColor;
    }
}

.turn-player {
    position: absolute;
    display: none;
    width: 48px;
    bottom: 30px;
    right: 30px;
    color: #ffffff;

    & svg {
        fill: currentColor;
    }
}
