<div class="media" ng-click="vm.markAsRead(n)">
    <div class="media-left padding-right-10">
        <i class="icon wb-small-point bg-purple-300 white icon-circle" aria-hidden="true"></i>
    </div>
    <div class="media-body">
        <h6 class="media-heading">{{ n.getTypeName() }}</h6>
        <time class="media-meta" datetime="{{n.updated_at}}">
            {{n.updated_at | date : 'MMMM d, y hh:mm:ss'}}
        </time>
    </div>
</div>
