<a data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
   aria-expanded="false" data-animation="scale-up" role="button">
    <i class="icon wb-bell" aria-hidden="true"></i>
    <span ng-show="vm.notifications.length > 0" class="badge badge-danger up">
        {{vm.notifications.length}}
    </span>
</a>

<ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
    <li class="dropdown-menu-header" role="presentation">
        <h5 translate>NOTIFICATIONS</h5>
        <span class="label label-round label-danger">
            <translate
                translate-n="vm.notifications.length"
                translate-plural="New">

                New
            </translate>&nbsp;
            {{vm.notifications.length}}</span>
    </li>

    <li class="list-group" role="presentation">
        <div data-role="container">
            <div data-role="content">
                <a class="list-group-item" ng-repeat="n in vm.notifications | limitTo: 4" href="javascript:void(0)" role="menuitem">
                    <div ng-if="n.type === 105" ng-include="'app/layout/header/notifications/team-invitation.html'"></div>
                    <div ng-if="n.type !== 105" ng-include="'app/layout/header/notifications/notification.html'"></div>
                </a>
            </div>
        </div>
    </li>

    <li class="dropdown-menu-footer" role="presentation">
        <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
            <i class="icon wb-settings" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)" role="menuitem" translate> All notifications </a>
    </li>

</ul>
