<div class="media" ng-click="vm.showTeamInvitationModal(n)">
    <div class="media-left padding-right-10">
        <div class="avatar">
            <img ng-src="{{n.logo_url}}" />
        </div>
    </div>
    <div class="media-body">
        <h6 class="media-heading">Invitation to `{{n.name}}` team</h6>
        <time class="media-meta" datetime="{{n.updated_at}}">
            {{n.updated_at | date : 'MMMM d, y hh:mm:ss'}}
        </time>
    </div>
</div>
