<div class="modal-header padding-20">
    <button type="button" class="close font-weight-normal" ng-click="vm.close()">
        <span aria-hidden="true"> × </span>
    </button>
    <h3 class="modal-title font-weight-normal text-center">
      {{ 'Create team' | translate }}
    </h3>
</div>
<div class="modal-body padding-vertical-20 text-center create-team-body">
    <form class="account-create-team-form" name="CreateTeamForm" role="form">
        <input type="file" dropzone-directive data-plugin="dropify" on-file-select="onFileSelect(file)" default-file-url="vm.defaultUrl" />
        <div class="form-group margin-top-30">
            <input type="text" class="form-control" name="teamName" id="teamName" placeholder="{{'Enter your team name' | translate}}" required ng-model="vm.attributes.name" ng-pattern="/[a-z0-9]+/i" ng-minlength="3" ng-maxlength="20" />
            <small class="help-block" ng-show="CreateTeamForm.teamName.$invalid && !CreateTeamForm.teamName.$pristine">
                {{ 'The team name is not valid' | translate}}
            </small>
        </div>
        <div class="form-group padding-bottom-40">
            <input type="text" class="form-control" name="teamTag" id="teamTag" placeholder="{{'Enter your team tag, 5 symbols' | translate}}" required ng-model="vm.attributes.tag" ng-pattern="/[a-z0-9]+/i" ng-minlength="2" ng-maxlength="5" maxlength="5" />
            <small class="help-block" ng-show="CreateTeamForm.teamTag.$invalid && !CreateTeamForm.teamTag.$pristine">
                {{ 'The team tag is not valid' | translate}}
            </small>
        </div>
        <button ng-disabled="CreateTeamForm.$invalid" type="button" class="btn btn-primary btn-block" ng-click="vm.create()">
            {{ 'Create team' | translate }}
        </button>
    </form>
</div>
