<div class="row text-center settings-modal">
    <form class="account-create-team-form margin-top-20" name="UpdateTeamForm" role="form">
        <input type="file" dropzone-directive data-plugin="dropify" on-file-select="onFileSelect(file)" default-file-url="vm.team.logo.url" />
        <div ng-show="vm.errorTagIsAlreadyTaken || vm.errorNameIsAlreadyTaken" class="summary-errors alert alert-danger">
            <p ng-show="vm.errorNameIsAlreadyTaken">
                {{ 'The Team Name has already taken' | translate }}
            </p>
            <p ng-show="vm.errorTagIsAlreadyTaken">
                {{ 'The Team Tag has already taken' | translate }}
            </p>
        </div>
        <div class="form-group margin-top-20">
            <input type="text" class="form-control" name="teamName" id="teamName" placeholder="{{'Your team name' | translate}}" required ng-if="vm.player.isCaptain()" ng-model="vm.team.name" ng-pattern="/[a-z0-9]+/i" ng-minlength="3" ng-maxlength="20" />
            <input type="text" class="form-control " disabled ng-if="!vm.player.isCaptain()" ng-model="vm.team.name" />
            <small class="help-block" ng-show="UpdateTeamForm.teamName.$invalid && !UpdateTeamForm.teamName.$pristine">
                {{ 'The team name is not valid' | translate }}
            </small>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="teamTag" id="teamTag" placeholder="{{'Your team tag' | translate}}" required ng-if="vm.player.isCaptain()" ng-model="vm.team.tag" ng-pattern="/[a-z0-9]+/i" ng-minlength="2" ng-maxlength="5" maxlength="5" />
            <input type="text" class="form-control" disabled ng-if="!vm.player.isCaptain()" ng-model="vm.team.tag" />
            <small class="help-block" ng-show="UpdateTeamForm.teamTag.$invalid && !UpdateTeamForm.teamTag.$pristine">
                {{ 'The team tag is not valid' | translate }}
            </small>
        </div>
        <button type="button" class="btn btn-primary btn-block margin-top-30" ng-if="vm.player.isCaptain()" ng-disabled="UpdateTeamForm.$invalid" ng-click="vm.update()" translate>

            Update
        </button>
        <button type="button" class="btn btn-block btn-default margin-top-15" ng-if="vm.player.isCaptain()" ng-click="vm.remove()">
            {{ 'DELETE TEAM' | translate }}
        </button>
    </form>
</div>
