<form name="accountInfo" role="form" class="panel padding-top-20 admin-account-look">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9 contact-info padding-left-30">
                <h1 class="currencies-title">
                    <span translate>Your Logo</span>
                </h1>
                <div class="margin-top-15 padding-15">
                    <div class="form-group row">
                        <div class="col-xs-2 text-right vertical-align-middle padding-top-5" translate>
                            Name
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control"
                                ng-model-options="{ debounce: 1500 }"
                                ng-change="vm.submit()" name="name" id="name"
                                autocomplete="off" not-required
                                ng-model="vm.account.name"
                                ng-pattern="/[a-z0-9]+/i"
                                ng-minlength="2" ng-maxlength="32" />
                            <small class="help-block"
                                ng-show="accountInfo.name.$invalid && !accountInfo.name.$pristine" translate>
                                The name is not valid
                            </small>
                        </div>
                        <div class="col-xs-2 htooltip">
                            <i class="icons8-info font-size-26"></i>
                            <span>
                                Type the name
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
