<div class="participants margin-30 text-center margin-top-0 margin-bottom-0">
    <div class="row">
        <div class="row col-md-12 col-sm-12 col-xs-12 pull-left text-left amount-participants">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p class="font-size-30 margin-0">
                    {{vm.tournament.participants().current}}/{{vm.tournament.participants().total}}
                </p>
                <span class="description text-left text-uppercase font-size-12" ng-show="vm.tournament.isSolo()" translate>
                participants
            </span>
                <span class="description text-left text-uppercase font-size-12" ng-show="!vm.tournament.isSolo()" translate>
                teams
            </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="dropdown pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="icons8-numerical-sorting-21 margin-right-10 font-size-18"></i>
                      <translate>Sort by</translate>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="exampleColorDropdown1" role="menu">
                        <li ng-if="vm.tournament.isSolo()" role="presentation" ng-click="vm.sortByEloRating()">
                            <a href="javascript:void(0)" role="menuitem" translate>
                              Elo rating
                            </a>
                        </li>
                        <li ng-if="!vm.tournament.isSolo()" role="presentation" ng-click="vm.sortByAvgEloRating()">
                            <a href="javascript:void(0)" role="menuitem" translate>
                              Average Elo rating
                            </a>
                        </li>
                        <li ng-if="vm.tournament.isSolo()" role="presentation" ng-click="vm.sortByName()">
                            <a href="javascript:void(0)" role="menuitem" translate>
                              Name
                            </a>
                        </li>
                        <li ng-if="!vm.tournament.isSolo()" role="presentation" ng-click="vm.sortByTeamName()">
                            <a href="javascript:void(0)" role="menuitem" translate>
                            Team name
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.tournament.isSolo()" class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 margin-top-20 width-350" ng-repeat="participant in vm.participants">
            <div class="row col-md-12 col-sm-12 col-xs-12 padding-0 participant" ng-click="vm.showAccountInfoModal(participant.account)" tooltip-popup-delay='1000' uib-tooltip="{{'View the player\’s profile
' | translate}}" tooltip-placement="bottom">
                <div class="pull-left padding-vertical-20 padding-left-10">
                    <img class="avatar" ng-src="{{participant.account.steam_avatar_url}}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 account-name padding-left-10 padding-vertical-25 text-left font-size-16 font-weight-700 text-nowrap text-truncate">
                    {{participant.account.steam_personal_name}}
                </div>
                <div class="elo-rank col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-right font-size-18 font-weight-700">
                    <div class="triangle-bottomright pull-right">
                        <div class="padding-vertical-20 margin-left-15">
                            {{participant.account.statistics[0].rank}}
                            <div class="elo-description font-weight-100 font-size-12 margin-left-15">
                                ELO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!vm.tournament.isSolo()" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-8 margin-top-20 width-350 height-lg-315 participant" ng-repeat="team in vm.participants">
            <div class="row padding-0 team">
                <div class="pull-left padding-vertical-20 padding-left-10">
                    <img class="team-avatar" ng-src="{{team.logo_url}}" />
                </div>
                <div class="account-details col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 team-name text-left padding-top-15 padding-bottom-0 text-left font-size-16 font-weight-700 text-nowrap text-truncate">
                            {{team.name}}
                        </div>
                        <div class="col-lg-12 col-xs-12 participants-avatars">
                            <div class="pull-left padding-vertical-10 padding-left-5" ng-repeat="player in team.players">
                                <img class="participants-avatar"  ng-src="{{player.account.steam_avatar_url}}" ng-click="vm.showAccountInfoModal(player.account)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elo-rank col-lg-1 -col-md-1 -col-sm-1 -col-xs-1 pull-right font-size-18 font-weight-700">
                    <div class="triangle-bottomright pull-right">
                        <div class="padding-vertical-25">
                            {{team.rankAverage}}
                            <div class="elo-description font-weight-100 font-size-12 text-nowrap">
                                AVG ELO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
