<!-- Page -->
<div class="page faq">
    <div class="page-header">
        <h1 class="page-title white">FAQ</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="faq-row">
            <div class="col-lg-3 col-sm-4 padding-right-0 padding-left-0">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body">
                        <div class="nav-tabs-vertical">
                            <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a class="list-group-item" data-toggle="tab" href="#category-1" aria-controls="category-1" role="tab">Общие вопросы по игре на Winranger в Dota 2</a>
                                </li>
                                <li role="presentation">
                                    <a class="list-group-item" data-toggle="tab" href="#category-2" aria-controls="category-2" role="tab">Турниры - командный режим</a>
                                </li>
                                <li role="presentation">
                                    <a class="list-group-item" data-toggle="tab" href="#category-3" aria-controls="category-3" role="tab">Турниры - solo режим</a>
                                </li>
                                <li role="presentation">
                                    <a class="list-group-item" data-toggle="tab" href="#category-4" aria-controls="category-4" role="tab">Ввод/вывод средств</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
            <div class="col-lg-9 col-sm-8 faq-content">
                <!-- Panel -->
                <div class="panel">
                    <div class="panel-body padding-20">
                        <div class="tab-content">
                            <!-- Categroy 1 -->
                            <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2" aria-multiselectable="true" role="tablist">
                                    <!-- Question 1 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-1" role="tab">
                                            <a class="panel-title" aria-controls="answer-1" aria-expanded="true" data-toggle="collapse" href="#answer-1" data-parent="#accordion2">
                                                <p>Как происходит игра на Winranger</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse in" id="answer-1" aria-labelledby="question-1" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Сыграть в турнире на Winranger максимально просто!
                                                </p>
                                                <p>Ты можешь увидеть весь игровой процесс, посмотрев короткое видео (1 мин)</p>
                                                <div class="height-sm-300 height-md-400 height-lg-500">
                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7NFQuNFcSfE" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                                <div>
                                                    <p class="font-weight-800">
                                                        <i class="fa fa-exclamation-circle font-size-16 float-left green-800"></i>                                                        Важно знать!
                                                    </p>
                                                    <ul>
                                                        <li>Турниры создаются автоматически</li>
                                                        <li>Играть можно в соло и командном режимах
                                                        </li>
                                                        <li>Турнирная сетка формируется случайным образом</li>
                                                        <li>Турнирная система - на вылет (Single Elimination)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 1 -->
                                    <!-- Question 2 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-2" role="tab">
                                            <a class="panel-title" aria-controls="answer-2" aria-expanded="false" data-toggle="collapse" href="#answer-2" data-parent="#accordion2">
                                                <p>Типы проводимых турниров</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-2" aria-labelledby="question-2" role="tabpanel">
                                            <div class="panel-body margin-left-30">
                                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion111" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-221" role="tab">
                                                            <a class="panel-title" aria-controls="answer-221" aria-expanded="false" data-toggle="collapse" href="#answer-221" data-parent="#accordion111">
                                                                <p>1x1 / 5x5</p>
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-221" aria-labelledby="question-221" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="t-cards-img">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_1x1.png">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_5x5.png">
                                                                </div>

                                                                <p class="font-weight-800 margin-top-30">
                                                                    - Битвы 1х1
                                                                </p>
                                                                <p>
                                                                    Идеальный способ выяснить отношения один на один. Онли МИД, катка идет до двух убийств или до падения первой башни. Считаешь,
                                                                    что отлично стоишь на МИДу – такой вид матчей поможет
                                                                    наполнить свой кошелек наиболее быстро. Фраза «ПвП или
                                                                    зассал», сказанная в чате дотки ведет тебя прямиком в
                                                                    Дуэль 1х1. Можно выбирать одинаковых героев.

                                                                </p>
                                                                <p class="font-weight-800">
                                                                    - Битвы 5х5
                                                                </p>
                                                                <p>
                                                                    Классика, как она есть! Тот самый вид сражений, за который мы так любим Дотан. Обрати внимание, что стоимость участия указана
                                                                    для каждого отдельно взятого игрока, а не для команды
                                                                    в целом. И будь добр, играешь на саппорте, купи и куру.
                                                                    Проходит в капитанском режиме.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-222" role="tab">
                                                            <a class="panel-title" aria-controls="answer-222" aria-expanded="false" data-toggle="collapse" href="#answer-222" data-parent="#accordion111">
                                                                <p>По ставке / выигрышу</p>
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-222" aria-labelledby="question-222" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="t-cards-img">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_USDxUSD.png">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_WRCxUSD.png">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_WRCxWRC.png">
                                                                </div>
                                                                <p class="margin-top-30">
                                                                    В нижней части карточки турнира указана плата за участие, в верхней – призовой фонд.
                                                                </p>

                                                                <p class="font-weight-800 margin-top-10">
                                                                    -WRC
                                                                </p>
                                                                <p>
                                                                    Внутриигровая валюта сервиса. Именно на нее проходит большинство матчей, в которых тебе предстоит принять участие. Сделав
                                                                    ставку в WRC можно сыграть во фрироллах и ивент-турнирах,
                                                                    и при помощи своего скилла заработать реальные деньги
                                                                    без вложений. Чем больше призовой фонд турнира, тем большая
                                                                    стоимость входа в него в WRC. Также, начиная со следующего
                                                                    патча, за игровую валюту можно приобрести приятные мелочи,
                                                                    вроде шмота для дотки или игр в стиме.
                                                                </p>

                                                                <p class="font-weight-800 margin-top-10">
                                                                    -$
                                                                </p>
                                                                <p>
                                                                    Они и в Африке доллары. Самые настоящие деньги, с которыми все просто – играй хорошо и зарабатывай их в любой момент времени
                                                                    в платных турнирах и дуэлях, или ожидай времени ивентов
                                                                    и срывай куш!
                                                                </p>

                                                                <p class="font-weight-800 margin-top-10">
                                                                    Фриролы, ивенты и спонсорские турниры:
                                                                </p>
                                                                <p>
                                                                    Вид соревнований, в которых ты сможешь превратить свои WRC в доллары! В отличии от остальных турниров, они имеют фиксированную
                                                                    дату начала, поэтому заранее планируй свое время и успевай
                                                                    зарегестрироваться. Очень важный момент – следи за балансом
                                                                    своих WRC, чтобы не оказаться за бортом.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-223" role="tab">
                                                            <a class="panel-title" aria-controls="answer-223" aria-expanded="false" data-toggle="collapse" href="#answer-223" data-parent="#accordion111">
                                                                <p>Дуэль / Турнир</p>
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-223" aria-labelledby="question-223" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="t-cards-img">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_Duel.png">
                                                                    <img src="images/faq/tournaments-types/T-Card-RU_Tournament.png">
                                                                </div>
                                                                <p class="font-weight-800 margin-top-30">
                                                                    -Дуэли
                                                                </p>
                                                                <p>
                                                                    Самый быстрый способ определить, где тут папка, а где рак донный. Делаешь ставку, играешь серию до двух побед, выигрываешь
                                                                    – забираешь весь банк. Зачем бросаться словами – заходи
                                                                    на Winranger и покажи, на что способен! Нет удовольствия
                                                                    большего, чем забрать деньги у тех, кто считает, что
                                                                    играет лучше, чем ты! Можешь играть дуэли как 1х1, так
                                                                    и 5х5.
                                                                    <p>
                                                                        Дуэли обозначаются значком *скрещенные мечи*
                                                                    </p>
                                                                </p>
                                                                <p class="font-weight-800">
                                                                    -Турниры
                                                                </p>

                                                                <p>
                                                                    Классическая схема. Больше участников, больший куш можно сорвать! Чем больше у тебя побед, и чем дальше ты продвинулся в
                                                                    турнирной сетке, тем сочнее будет кусок вкусного пирога
                                                                    призовых, который попадет тебе в кошелек. Финальные стадии
                                                                    самых крупных турниров Winranger можно наблюдать на нашем
                                                                    канале Twich вместе с топовыми комментаторами региона.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>





                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 2 -->
                                    <!-- Question 3 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-3" role="tab">
                                            <a class="panel-title" aria-controls="answer-3" aria-expanded="false" data-toggle="collapse" href="#answer-3" data-parent="#accordion2">
                                                <p>Режимы проведения турнирных игр</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-3" aria-labelledby="question-3" role="tabpanel">
                                            <div class="panel-body">
                                                <p class="font-weight-800">Турниры 1 на 1 проводятся в режиме “1v1 Solo Mid”.</p>
                                                <ul>
                                                    <li>Игра проходит до 2х убийств, или до сноса T1 башни.</li>
                                                    <li>Игроки могут выбирать одинаковых героев </li>
                                                    <li>Игроки не видят, какого героя выбрал оппонент до окончания пика.
                                                    </li>
                                                    <li>Крипы появляются только на центральной линии.
                                                    </li>
                                                    <li>Каждый игрок начинает с курьером первого уровня.</li>
                                                </ul>
                                                <p class="font-weight-800">Турниры 5 на 5 проводятся в режиме “Captains Mode”.</p>
                                                <ul>
                                                    <li>Стандартный соревновательный режим
                                                    </li>
                                                    <li>Капитаны по очереди запрещают и выбирают героев для своей команды
                                                    </li>
                                                    <li>Капитанить будет тот, кто первый нажмет на кнопку “Стать капитаном”:)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 3 -->


                                    <div class="panel">
                                        <div class="panel-heading" id="question-33" role="tab">
                                            <a class="panel-title" aria-controls="answer-33" aria-expanded="false" data-toggle="collapse" href="#answer-33" data-parent="#accordion2">
                                                <p>Я зарегестрирован в турнире. Как я узнаю о его старте?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-33" aria-labelledby="question-33" role="tabpanel">
                                            <div class="panel-body">
                                                Удобный для себя вид оповещений ты сможешь выбрать в разделе своего профиля
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 33 -->

                                    <!-- Question 4 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-4" role="tab">
                                            <a class="panel-title" aria-controls="answer-4" aria-expanded="false" data-toggle="collapse" href="#answer-4" data-parent="#accordion2">
                                                <p>Как связаться с Winranger, если у вас есть вопрос/жалоба/предложение?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-4" aria-labelledby="question-4" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Используй чат, размещенный специально для этих целей в правом нижнем углу
                                                    экрана. Мы рады помочь в решении любых вопросов
                                                    <span class="font-weight-800">
                                                        с 11:00 до 23:00 по МСК каждый день!
                                                    </span>
                                                </p>
                                                <iframe class="center-block padding-5" width="560" height="315" src="https://www.youtube.com/embed/YKcc4EFl0nI" frameborder="0"
                                                  allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 4 -->
                                </div>
                            </div>
                            <!-- End Categroy 1 -->
                            <!-- Categroy 2 -->
                            <div class="tab-pane animation-fade" id="category-2" role="tabpanel">
                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion" aria-multiselectable="true" role="tablist">
                                    <!-- Question 5 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-5" role="tab">
                                            <a class="panel-title" aria-controls="answer-5" aria-expanded="true" data-toggle="collapse" href="#answer-5" data-parent="#accordion">
                                                <p>Как играть в командном режиме?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse in" id="answer-5" aria-labelledby="question-5" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Посмотри минутное видео и ты узнаешь, как играть в турнирах со своей командой!
                                                </p>
                                                <iframe class="center-block padding-5" width="560" height="315" src="https://www.youtube.com/embed/7VGCO7xPWp8" frameborder="0"
                                                  allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 5 -->
                                    <!-- Question 6 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-6" role="tab">
                                            <a class="panel-title" aria-controls="answer-6" aria-expanded="false" data-toggle="collapse" href="#answer-6" data-parent="#accordion">
                                                <p>Платные турниры в командном режиме</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-6" aria-labelledby="question-6" role="tabpanel">
                                            <div class="panel-body">
                                                <p class="font-weight-800">
                                                    <i class="fa fa-exclamation-circle font-size-16 float-left green-800"></i>                                                    Важно знать!
                                                </p>
                                                <ul>
                                                    <li>На командный турнир может зарегистрировать только капитан.</li>
                                                    <li>При регистрации с каждого игрока спишется сумма, указанная на карточке
                                                        турнира.
                                                        <p class="font-size-12">
                                                            (пример: на карточке турнира указано $1. после регистрации с каждого игрока спишется по $1, итого командный взнос составит
                                                            $5 )
                                                        </p>
                                                    </li>
                                                    <li>Каждому игроку выплачиваются призовые, согласно занятому месту, в равных
                                                        долях.
                                                        <p class="font-size-12">
                                                            (пример: приз за первое место на командном турнире составляет $100. если команда занимает первое место, то каждому игроку
                                                            начисляется по $20 призовых)
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 6 -->
                                    <!-- Question 7 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-7" role="tab">
                                            <a class="panel-title" aria-controls="answer-7" aria-expanded="false" data-toggle="collapse" href="#answer-7" data-parent="#accordion">
                                                <p>Я передумал играть в турнире. Как вернуть взнос?
                                                </p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-7" aria-labelledby="question-7" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Ты можешь вернуть свой взнос в любой момент до старта турнира в 100% размере.
                                                </p>
                                                <p class="font-weight-800">
                                                    Внимание! Если турнир запустился - обратной дороги не будет, придется тащить до победного :)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 7 -->
                                </div>
                            </div>
                            <!-- End Categroy 2 -->
                            <!-- Categroy 3 -->
                            <div class="tab-pane animation-fade" id="category-3" role="tabpanel">
                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion1" aria-multiselectable="true" role="tablist">
                                    <!-- Question 8 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-8" role="tab">
                                            <a class="panel-title" aria-controls="answer-8" aria-expanded="true" data-toggle="collapse" href="#answer-8" data-parent="#accordion1">
                                                <p>Как происходит игра в соло режиме</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse in" id="answer-8" aria-labelledby="question-8" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Посмотри минутное видео и ты узнаешь как играть в соло-турнирах Winranger</p>
                                                <iframe class="center-block padding-5" width="560" height="315" src="https://www.youtube.com/embed/7NFQuNFcSfE" frameborder="0"
                                                  allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 8 -->
                                    <!-- Question 9 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-9" role="tab">
                                            <a class="panel-title" aria-controls="answer-9" aria-expanded="false" data-toggle="collapse" href="#answer-9" data-parent="#accordion1">
                                                <p>Как происходит подбор игроков в соло режиме?
                                                </p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-9" aria-labelledby="question-9" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Подбор соперников и формирование команд происходит случайным образом.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 9 -->
                                    <!-- Question 10 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-10" role="tab">
                                            <a class="panel-title" aria-controls="answer-10" aria-expanded="false" data-toggle="collapse" href="#answer-10" data-parent="#accordion1">
                                                <p>Платные турниры в соло режиме</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-10" aria-labelledby="question-10" role="tabpanel">
                                            <div class="panel-body">
                                                <p class="font-weight-800">
                                                    <i class="fa fa-exclamation-circle font-size-16 float-left green-800"></i>                                                    Важно знать!
                                                </p>
                                                <ul>
                                                    <li>На соло-турнир может зарегистрироваться любой игрок. Даже, если он состоит
                                                        в команде.</li>
                                                    <li>При регистрации с каждого игрока спишется сумма, указанная на карточке
                                                        турнира.
                                                    </li>
                                                    <li>Каждому игроку выплачиваются призовые, согласно месту, в равных долях.
                                                        <p class="font-size-12">
                                                            (пример: приз за первое место в соло турнире составляет $100. если команда занимает первое место, то каждому игроку начисляется
                                                            по $20 призовых)
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 10 -->
                                    <!-- Question 11 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-11" role="tab">
                                            <a class="panel-title" aria-controls="answer-11" aria-expanded="false" data-toggle="collapse" href="#answer-11" data-parent="#accordion1">
                                                <p>Я передумал играть в турнире. Как вернуть взнос?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-11" aria-labelledby="question-11" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Ты можешь вернуть свой взнос в любой момент до старта турнира в 100% размере.
                                                </p>
                                                <p class="font-weight-800">
                                                    Внимание! Если турнир запустился - обратной дороги не будет, придется тащить до победного :)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 11 -->
                                </div>
                            </div>
                            <!-- End Categroy 3 -->
                            <!-- Categroy 4 -->
                            <div class="tab-pane animation-fade" id="category-4" role="tabpanel">
                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion3" aria-multiselectable="true" role="tablist">
                                    <!-- Question 12 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-12" role="tab">
                                            <a class="panel-title" aria-controls="answer-12" aria-expanded="true" data-toggle="collapse" href="#answer-12" data-parent="#accordion3">
                                                <p>Доступные платежные системы.</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse in" id="answer-12" aria-labelledby="question-12" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Тебе не нужно беспокоиться о том, как вывести свои честно заработанные призовые.
                                                    Winranger использует самые популярные платежные системы для максимального
                                                    удобства! </p>
                                                <div class="payment-variable padding-10">
                                                    <img src="images/faq/privat24.png" />
                                                    <img src="images/faq/QIWI.png" />
                                                    <img src="images/faq/terminals_ru.png" />
                                                    <img src="images/faq/terminals_ua.png" />
                                                    <img src="images/faq/visa.png" />
                                                    <img src="images/faq/YandexMoney.png" />
                                                </div>
                                                <p>
                                                    <i class="fa fa-exclamation-circle font-size-16 float-left green-800"></i>                                                    Если не нашел нужный тебе способ - свяжись с нами и мы вместе придумаем
                                                    решение!
                                                </p>
                                                <div class="weight-500 height-50">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 12 -->
                                    <!-- Question 13 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-13" role="tab">
                                            <a class="panel-title" aria-controls="answer-13" aria-expanded="false" data-toggle="collapse" href="#answer-13" data-parent="#accordion3">
                                                <p>Как пополнить свой счет Winranger?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-13" aria-labelledby="question-13" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Узнай, как пополнить счет Winranger удобным для тебя способом, и получить
                                                    доступ к платным турнирам, за 30 секунд:</p>
                                                <iframe class="center-block padding-bottom-10" width="560" height="315" src="https://www.youtube.com/embed/Ks28UWX78uM" frameborder="0"
                                                  allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 13 -->
                                    <!-- Question 14 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-14" role="tab">
                                            <a class="panel-title" aria-controls="answer-14" aria-expanded="false" data-toggle="collapse" href="#answer-14" data-parent="#accordion3">
                                                <p>Как вывести деньги со счета Winranger?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-14" aria-labelledby="question-14" role="tabpanel">
                                            <div class="panel-body">
                                                <p>Узнай, как получить свой приз удобным для тебя способом, за 30 секунд:
                                                </p>
                                                <iframe class="center-block padding-5" width="560" height="315" src="https://www.youtube.com/embed/3Bip9GRfT5Y" frameborder="0"
                                                  allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 14 -->
                                    <!-- Question 15 -->
                                    <div class="panel">
                                        <div class="panel-heading" id="question-15" role="tab">
                                            <a class="panel-title" aria-controls="answer-15" aria-expanded="false" data-toggle="collapse" href="#answer-15" data-parent="#accordion3">
                                                <p>Что такое WRC? Зачем это нужно?</p>
                                            </a>
                                        </div>
                                        <div class="panel-collapse collapse" id="answer-15" aria-labelledby="question-15" role="tabpanel">
                                            <div class="panel-body">
                                                <span class="font-weight-800">WRC</span> - внутриигровая валюта сервиса.
                                                Именно на нее проходит большинство матчей, в которых тебе предстоит принять
                                                участие. При помощи WRC можно сыграть во фрироллах и ивент-турнирах, и при
                                                помощи своего скилла заработать реальные деньги без вложений. Чем больше
                                                призовой фонд турнира, тем большая стоимость входа в него в WRC. Также, со
                                                следующего обновления, за игровую валюту можно будет приобрести приятные
                                                мелочи, вроде шмота для дотки или игр в стиме.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Question 15 -->
                                </div>
                            </div>
                            <!-- End Categroy 4 -->
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
