.faq {
    animation-name: fadeIn;
    animation-duration: 0.35s;
    min-width: 1050px;

    .items-banner {
        width: 100%;
    }

    .panel-title {
        font-size: 16px;
    }

    .panel-collapse {
        padding: 10px;
    }

    .table-header {
        background-color: @color-blue-grey-100;
    }

    .icon-sword {
        height: 17px;
    }

    .t-cards-img {
        display: flex;
        justify-content: space-around;
    }
}
