<div class="modal-header">
    <div class="row">
        <button type="button" class="font-weight-normal font-size-50 close " ng-click="vm.close()">
            <span aria-hidden="true"> × </span>
        </button>
        <div class="error-massage">
            <i class="icon"></i>
        </div>
    </div>
</div>
