<div class="tournament-table col-md-8 col-md-offset-2">
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="round in vm.tableRounds"
              ng-class="{'active': round.details.active, 'disable': !round.details.active}">
                <a data-toggle="tab" role="tab" aria-expanded="false">{{round.details.title}}</a>
            </li>
        </ul>
        <div class="tab-content padding-top-20">
            <div class="tab-pane active" id="exampleTabsFour" role="tabpanel">
                Metus subtilius texit consilio fugiendam, opinionum levius amici inertissimae pecuniae tribus ordiamur, alienus artes solitudo, minime praesidia proficiscuntur reiciat detracta involuta veterum. Rutilius quis honestatis hominum, quisquis percussit
                sibi explicari.
            </div>
        </div>
    </div>
</div>
