.bg-agrement {
    .border-radiuses(3px, 3px, 3px, 3px);
    background: url('../../../../images/tournament-cards/1.jpg') 50% 0;
}

.agreement-modal {
    & .account-avatar {
        border-radius: 1000px;
        border: 5px solid #ffffff;
    }

    & .triangle-bottomright {
        width: 0;
        height: 0;
        border-bottom: 50px solid @color-white;
        border-left: 400px solid transparent;
    }

    & .greeting {
        background-color: @color-white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    & .account-name {
        color: @color-white;
    }

    & .accept-rules-button {
      position: relative;
    }

    & .button-icon {
     position: absolute;
     top: -3px;
     left: 100px;
    }

    & .button-text {
    position: absolute;
    top: 8px;
    left: 150px;
    }


    .bordered {
        border-top: 1px solid @color-blue-grey-300;
    }
}
