<div class="agreement-modal width-400 padding-0 bg-agrement">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 vertical-padding-30">
                <div class="text-center margin-top-30">
                    <img class="account-avatar width-100" ng-src="{{vm.account.steam_avatar_url}}">
                </div>
                <div class="account-name text-center font-weight-700 font-size-24 margin-top-15">
                    {{vm.account.steam_personal_name}}
                </div>
            </div>
        </div>
    </div>

    <div class=" triangle-bottomright "></div>

    <div class="modal-body greeting padding-30 padding-top-20 ">
        <div class="text-center ">
            <div class="fot-weight-800 font-size-24 " translate>
                Welcome to Winranger!
            </div>
            <div class="margin-top-20 " translate>
                To begin just register for one of the tournaments and wait until it begins.
            </div>
            <div class="margin-top-15 " translate>
                Just be ready this time and launch Dota 2;)
            </div>
        </div>

        <div class="agree col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 padding-horizontal-20 bordered ">
            <div class="margin-top-15 ">
                <div class="pull-left margin-top-5 ">
                    <input id="checkbox-agreement" ng-change="vm.submit()" ng-model="vm.accepted " type="checkbox " class="js-switch" switcher-directive>
                </div>
                <div class="font-size-12 text-left margin-left-60 margin-bottom-20 ">
                    <p class="margin-bottom-0 padding-0 " translate>
                        I've carefully read and agre with the
                    </p>
                    <a href="{{vm.rules_page_url}} " class="margin-top-0 padding-0 " target="_blank " translate>
                    terms & conditions
                </a>
                </div>
            </div>
        </div>

        <div class="margin-top-20">
            <button id="accept-rules-button" ng-click="vm.accept() " ng-disabled="!vm.accepted " class="btn btn-success btn-block height-50 font-size-12
                  font-weight-700 margin-top-10 accept-rules-button">
                <div class="font-size-24 font-weight-800 padding-0 button-icon">
                  <i class="icon font-size-40 icons8-controller"></i>
                </div>
                <div class="font-size-24 font-weight-800 padding-0 button-text" translate>
                  Let's play
                </div>
            </button>
        </div>
    </div>
</div>
