@import '../../../../remark/src/less/vars-color.less';
@import '../../../../remark/src/less/mixins/border-radius.less';

.invite-players-page {
    .page-header {  }

    .circle {
        .border-top-radius(1000px);
        .border-bottom-radius(1000px);
        background: @color-blue-grey-200;
        color: @color-blue-grey-400
    }

    .page-content {
        .invite-info {
            color: @color-blue-grey-800;
        }

        .ui-select-container {
            &.ui-select-multiple {
                padding: 5px;
                .ui-select-match {
                    .ui-select-match-item {
                        color: #ffffff;
                        border-color: @color-blue-800;
                        background-color: @color-blue-800;
                        > span > span {
                            font-size: 12px;
                            padding: 3px;
                        }
                        .ui-select-match-close {
                        }

                    }
                }
            }
        }

        .invites-list {
            padding: 0;
            list-style: none;
            li {
                .player {
                    .border-top-radius(5px);
                    .border-bottom-radius(5px);
                    background: #ffffff;
                    .player-avatar {
                        .avatar {
                            img {
                                border: 2px solid @color-cyan-500;
                            }
                        }
                    }
                    .player-name {
                        color: @color-blue-grey-700;
                        .player-email {
                            color: @color-blue-grey-400;
                        }
                    }
                }
            }
        }
    }
}
