<div class="player text-center margin-vertical-20 padding-horizontal-10 padding-vertical-30">
    <div class="player-avatar center-block">
        <span class="avatar height-150 width-150">
            <img ng-src="{{i.steam_avatar_url}}">
        </span>
    </div>
    <div class="player-name">
        <div class="font-size-16 font-weight-400 margin-top-20 text-truncate">
            {{i.steam_personal_name}}
        </div>
    </div>
</div>
