<div class="player text-center margin-vertical-20  padding-horizontal-10 padding-vertical-30">
    <div class="player-avatar">
        <div class="circle text-center height-150 width-150 center-block">
            <i class="icon wb-envelope font-size-50 margin-top-50"></i>
        </div>
    </div>
    <div class="player-name">
        <div class="player-email font-size-16 font-weight-400 margin-top-20 text-truncate">
            {{i.email}}
        </div>
    </div>
</div>
