<div class="onboarding-welcome-page page bg -onboarding-bg">
    <div class="page-header height-400 margin-bottom-50">
        <div class="text-center blue-grey-800 margin-top-50">
            <div class="avatar avatar-150 width-150 margin-bottom-20">
                <img ng-src="{{vm.account.steam_avatar_url}}" alt="">
            </div>
            <div class="font-size-30 margin-bottom-20 blue-grey-800">
                Welcome to DOTA 2 tournaments, <br/>
                {{vm.account.steam_personal_name}}!
            </div>
            <div class="font-size-18 margin-bottom-20 blue-grey-800">
                You're almost ready to play. Please do choice to begin!
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-outline font-size-20"
                                    data-toggle="tooltip" data-original-title="Create your own team"
                                    ng-click="vm.registerYourTeam()">
                                CREATE YOUR OWN TEAM
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-outline font-size-20"
                                    ng-click="vm.playAsSoloPlayer()">
                                PLAY AS SOLO PLAYER*
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
