<div class="page bg invite-players-page">
    <div class="page-header height-100 margin-bottom-60">
        <div class="text-center blue-grey-800 margin-top-20">
            <div class="font-size-20 margin-bottom-10 blue-grey-800">
                Step 2 of 2.
            </div>
            <div class="font-size-30 margin-bottom-20 blue-grey-800">
                Invite at least 4 mates to your team.
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12 font-size-14 invite-info">
                Add emails or steam nicknames to invite mates.
                For now you can invite <b>{{vm.invitesLeft() || null}}</b> mates.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <ui-select multiple
                           limit="4"
                           ng-model="vm.invites"
                           tagging="vm.createEmailInvite"
                           tagging-label="(custom 'new' label)"
                           ng-disabled="disabled"
                           placeholder="Invite player...">

                    <ui-select-match placeholder="Invite player...">
                        {{$item.steam_personal_name}}
                    </ui-select-match>

                    <ui-select-choices repeat="p in vm.players"
                                       refresh="vm.search($select.search)"
                                       refresh-delay="1000"
                                       ui-disable-choice="!p.id && vm.isNotEmail(p.email)">
                        <div ng-if="p.isTag" ng-bind-html="p.email +' <small>(new)</small>'"></div>
                        <div ng-if="!p.isTag" ng-bind-html="p.steam_personal_name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-block btn-success" ng-disabled="!vm.invites.length" ng-click="vm.invitePlayers()">
                    Invite Mates
                </button>
            </div>
        </div>

        <div class="row center-block">
            <div class="col-xs-12">
                <ul class="invites-list row margin-vertical-10">
                    <li class="col-xs-6 col-md-3" ng-repeat="i in vm.invites">
                        <div ng-if="i.steam_id" ng-include="'app/onboarding/invite-item-player.html'"></div>
                        <div ng-if="i.email" ng-include="'app/onboarding/invite-item-email.html'"></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
