<div class="page bg vertical-align text-center">
    <div class="page-header height-100 margin-bottom-60">
        <div class="text-center blue-grey-800 margin-top-20">
            <div class="font-size-20 margin-bottom-10 blue-grey-800">
                Step 1 of 2.
            </div>
            <div class="font-size-30 margin-bottom-20 blue-grey-800">
                Add Basic Team Info
            </div>
        </div>
    </div>
    <div class="page-content onboarding-create-team vertical-align-middle">

        <form class="account-create-team-form width-300" name="CreateTeamForm" role="form">

            <div class="form-group">
                <div class="circle text-center bg-blue-grey-400 blue-grey-800 height-200 width-200 center-block padding-top-80">
                    <!-- <div class="font-size-20">Team Logo*</div>
                    <small>
                        Click or drag to upload
                    </small> -->
                    <div class="font-size-20">
                        Team Logo will be available is soon
                    </div>
                </div>
            </div>

            <div ng-show="vm.errorTagIsAlreadyTaken || vm.errorNameIsAlreadyTaken" class="summary-errors alert alert-danger">
                <p ng-show="vm.errorNameIsAlreadyTaken">The <b>Team Name</b> or tag already taken</p>
                <p ng-show="vm.errorTagIsAlreadyTaken">The <b>Team Tag</b> or tag already taken</p>
            </div>

            <div class="form-group">
                <label for="teamName">Team Name*</label>
                <input type="text" class="form-control" name="teamName" id="teamName" autocomplete="off"
                       placeholder="Your team name will be displayed in your profile"
                       required
                       ng-model="vm.team.name"
                       ng-pattern="/[a-z0-9]+/i"
                       ng-minlength="2"
                       ng-maxlength="32" />
                <small class="help-block" ng-show="CreateTeamForm.teamName.$invalid && !CreateTeamForm.teamName.$pristine">
                    The team name is not valid
                </small>
            </div>

            <div class="form-group">
                <label for="teamTag">Team Tag*</label>
                <input type="text" class="form-control" name="teamTag" id="teamTag" autocomplete="off"
                       placeholder="Your team tag will be displayed with team name"
                       required
                       ng-model="vm.team.tag"
                       ng-pattern="/[a-z0-9]+/i"
                       ng-minlength="2"
                       ng-maxlength="8"
                       maxlength="8" />

                <small class="help-block" ng-show="CreateTeamForm.teamTag.$invalid && !CreateTeamForm.teamTag.$pristine">
                    The team tag is not valid
                </small>
            </div>

            <div class="padding-top-50"></div>

            <button ng-disabled="CreateTeamForm.$invalid" type="button" class="btn btn-primary btn-lg btn-block"
                    ng-click="vm.create()">
                Invite Players
            </button>
        </form>

    </div>
</div>
